<tr>
  <td>Hook Theme: </td>
  <td><select class="themeSelect" name="themeSelect">
    <option value="debug">debug</option>
    <option value="simple">simple</option>
    <option value="simple-form">simple-form</option>
    <option value="none">none</option>
    <option value="custom">custom</option>
  </select>  
  <span style="font-size:14px;">For documentation on creating Themes see: <a href="http://hook.io/themes">hook.io/themes</a></span>
  </td>
</tr>
<tr>
  <td>Theme View:</td><td><input type="text" id="theme" name="theme" value="http://hook.io/themes/debug/index.html" size="40"/></td>
</tr>
<tr>
  <td>Theme Presenter:</td><td><input type="text" id="presenter" name="presenter" value="http://hook.io/themes/debug/index.js" size="40"/></td>
</tr>
