<style>
  .customTheme {
    /* display: none; */
  }
  .predefinedTheme {
    display: block;
  }
  .themeSelector {
    /* display: none; */
  }
  .themeSelector label {
    font-size: 18px;
  }
  .themeSelect {
    width: 150px;
  }
  p.superTiny {
    font-size: 18px;
  }
</style>

<h2>Customize the appearance of the Service</h2>
<p>Themes are a great way to add static and dynamic HTML, CSS, and JavaScript to a Services's output.</p>
<p class="superTiny">Themes use a View-Presenter pattern. <a href="https://hook.io/themes" target="_blank">Read more</a>.</p>
<p class="superTiny">Theme rendering can be bypassed by requesting the hook with <code>application/json</code> content-type or specifying the <code>format</code> parameter to raw</p>

<div class="form-group predefinedTheme">
 <select class="themeSelect form-control" name="themeSelect">
   <!-- <option value="form">Choose theme...</option> -->
   <option value="none">none</option>
   <option value="debug">debug</option>
   <option value="form">form</option>
   <option value="simple">simple</option>
   <option value="simple-form">simple-form</option>
   <option value="custom">custom</option>
 </select>
</div>

<div class="form-group customTheme">
 <label for="theme">View</label>
 <input class="form-control" type="text" id="theme" name="theme" value="https://hook.io/themes/none/index.html" size="40"/>
</div>

<div class="form-group customTheme">
 <label for="presenter">Presenter</label>
 <input class="form-control" type="text" id="presenter" name="presenter" value="https://hook.io/themes/none/index.js" size="40"/> 
</div>