<style>
  .hookFrame {
    width: 100%;
    height: 100%;
  }
  
  /*
  .selectSnippet {
    height: 39px;
    margin: 0px;
    padding: 0px;  
  }
  */
  
  .prevSnippet {
    /* display: none; */
  }
  
  .transport .octicon {
    font-size: 28px;
  }

  .transport {
    background-color: white;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #E1E1E1;
    padding: 17px 17px 0px 17px;
  }
  .transportControl {
    padding-bottom: 10px;
    /* margin-right: 10px; */
    font-size: 22px;
    /* float: left; */
    padding-top: 5px;  
  }
  
</style>

<div>
  <div class="container">
    <!-- Create a simple CodeMirror instance -->
    <link rel="stylesheet" href="{{appUrl}}/js/codemirror.css">
    <script src="js/codemirror.js"></script>
    <script src="js/javascript.js"></script>
    <script type="text/javascript">

    var newAccount = false;

    var boot = {{hook}};
    var agreedToWarning = false;

    // Embeddable Widget Class
    var Widget = function Widget (opts) {
      var self = this;
      self.request = null;
      self.snippetLoading = false;
      var el = $(opts.selector);
      el.html('fooo');
      return this;
    };

    Widget.prototype.applyCodeMirror = function applyCodeMirror (selector) {
      editor = CodeMirror.fromTextArea($(selector).get(0), {
        lineNumbers: true
      });
    };

    Widget.prototype.loadSnippet = function loadSnippet (src) {
      var self = this;
      // don't stack ajax requests...just cancel the last one :-)
      if (self.snippetLoading) {
        request.abort();
      }
      self.snippetLoading = true;
      self.showCode();
      editor.setValue("loading...");
      self.loadingSnippet();
      request = $.get(boot.baseUrl + "/" + src + '/source', function (res) {
        self.snippetLoaded();
        editor.setValue(res);
      });
    };

    Widget.prototype.showCode = function showCode () {
      var self = this;
      $('.CodeMirror').show();
      editor.setCursor(0,0);
      //editor.focus();
      editor.refresh();
      $('.hookFrame').hide();
    };

    Widget.prototype.loadingSnippet = function loadingSnippet () {
      var self = this;
      self.snippetLoading = true;
      // console.log('loadingSnippet', self.snippetLoading);
      $('.CodeMirror').css('opacity', 0.4);
      $('.hookFrame').css('opacity', 0.4);
      $('.loadingImg').show();
    };

    Widget.prototype.snippetLoaded = function snippetLoaded () {
      var self = this;
      self.snippetLoading = false;
      // console.log('snippetLoaded', self.snippetLoading);
      $('.loadingImg').hide();
      $('.CodeMirror').css('opacity', 1);
      $('.hookFrame').css('opacity', 1);
    };

    // Client-side SDK
    var sdk = {};
    sdk.createWidget = function (opts) {
      return new Widget(opts);
    };

    $('document').ready(function(){

      // TODO: move these into prototype scope of Widget
      //var request = null, snippetLoading = false;
      var request = null;

      var widget = sdk.createWidget({
        selector: '#widget'
      });

      $('#language').change(function(e){

        var l = $('#language').val();
        $('.serviceLang').val(l);
        if (l === "javascript") {
          $('.selectSnippet').show();
          $('.transportActions').show();
          //$('.runButton').attr('disabled', null);
          //$('.saveButton').attr('disabled', null);
          $('.codeButton').attr('disabled', null);
        } else {
          $('.currentLanguage').html($( "#language" ).val());
          $('.selectSnippet').hide();
          $('.transportActions').hide();
          // TODO: better default gist values for non-javascript langauges
          $('#gist').attr('value', '');
        }

        var keys = Object.keys(boot.examples[l]);
        editor.setValue(boot.examples[l]['source']);
        $('.codeButton').click();
        //showCode();
        return false;
        //var val = themes[$(this).val()];
      });

      // the only reason this boolean currently exists is to prevent,
      // a firefox bug which causes the iframe load event to trigger on,
      // document ready even though it has no src and the form has not submitted to it
      var deployingCode = false;

      $('.hookFrame').on("load", function() {
        if (deployingCode) {
          widget.snippetLoaded();
          $('.CodeMirror').hide();
          $('.hookFrame').show();
          deployingCode = false;
        }
      });

      function deployCode () {
        // console.log('deploying code', widget.snippetLoading)
        if (widget.snippetLoading) {
          // do not attempt to deploy code if a new snippet is still loading...
          return false;
        }
        deployingCode = true;
        var now = new Date().getTime();
        $('#code').val(editor.getValue());
        $('.gatewayForm').submit();
        return false;
      };

      function saveService () {
        $('.serviceSource').val(editor.getValue()); // name="source"
        var l = $('#language').val();
        $('.serviceLang').val(l);
        $('#saveForm').submit();
        return false;
      };

      $.fn.random = function() {
        return this.eq(Math.floor(Math.random() * this.length));
      }          

      $('.saveButton').on('click', function(){
        // post current code to be forked / saved in current session
        saveService();
        return false;
      });

      function login () {
        if (newAccount) {
          signUp();
        } else {
          loginWithEmail();
        }
        return false;
      }

      $('#emailLogin').click(function(){
        login();
        return false;
      });

      $('#loginForm').on('submit', function(){
        login();
        return false;
      });

      $('.runButton').on('click', function(){
        //widget.loadingSnippet();
        deployCode();
        return false;
      });

      function showResult () {};

      $('.codeButton').on('click', function(){
        widget.showCode();
        return false;
      });

      var loadHeaderSection = function loadHeaderSection () {
        $(".splashSections > div").hide();
        //alert("." + $(this).attr('id'))
        $('.tagLines').show();
        $('.tagLines').removeClass('hidden');
      }

      $('#header img').click(loadHeaderSection)
      //$('#header img').hoverIntent(loadHeaderSection)

      var loadSplashSection = function loadSplashSection () {
        //$(".splashSections > div").hide();
        //alert("." + $(this).attr('id'))
        $(document).scrollTo($("." + $(this).attr('id')));
        $("." + $(this).attr('id')).removeClass('hidden');
      }

      //$('.splashImage img').hoverIntent(loadSplashSection);
      $('.splashImage img').click(loadSplashSection);


      function numberWithCommas(x) {
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      }

      // Create new CodeMirror editor instance
      widget.applyCodeMirror('textarea');

      $('.selectSnippet').on('change', function(){
        // var item = $(this)
        widget.loadSnippet($('.selectSnippet').val());
      });

      $('.nextSnippet').on('click', function() {
        $('.prevSnippet').show();
        var index = $('.selectSnippet').prop('selectedIndex');
        var next = index + 1;
        if (next === $('.selectSnippet option').length) {
          next = 0;
        }
        $('.selectSnippet').prop('selectedIndex', next).change();
        return false;
      });


      $('#updateEmail').on('submit', function(){
        return false;
      });
      $('.prevSnippet').on('click', function(){
        var index = $('.selectSnippet').prop('selectedIndex');
        var prev = index - 1;
        if (prev === -1) {
          prev = $('.selectSnippet option').length - 1;
        }
        $('.selectSnippet').prop('selectedIndex', prev).change();
        return false;
      });
      widget.showCode();

    });
    var editor;
    </script>
    <style>
      .CodeMirror {
        /* Set height, width, borders, and global font properties here */
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: monospace;
        height: 500px;
        color: black;
      }
    </style>
    <h1>Interactive Coding Playground</h1>
  
    <div class="well">
        <div class="row">
          <div class="col-md-12" align="left">
            <!--
              <h2 class="tuts">Click "Deploy Service" to instantly deploy your first Microservice!</h2>
            -->
            <div class="btn-group transport" role="group">
              <div class="form-group languages">
                 <label class="smaller" for="language">Select Language:</label>
                 <select name="language" id="language" class="btn btn-default">
                   <option value="javascript">JavaScript ( Recommended )</option>
                   <option value="es7">ECMAScript 7</option>
                   <option value="coffee-script">CoffeeScript</option>
                   <option value="bash">Bash</option>
                   <option value="lua">Lua</option>
                   <option value="perl">Perl</option>
                   <option value="php">PHP</option>
                   <option value="python">Python</option>
                   <option value="python3">Python 3</option>
                   <option value="ruby">Ruby</option>
                   <option value="scheme">Scheme</option>
                   <option value="smalltalk">SmallTalk</option>
                   <option value="tcl">Tcl</option>
                 </select>
                 <br/>
              </div>
              <div>
                <select name="selectSnippet" class="selectSnippet btn btn-default">
                </select>
                <div class="transportControl transportActions">
                  <span class="transportControl prevControl">
                    <a class="prevSnippet" href="#prev"><span class="octicon octicon-playback-rewind"></span>&nbsp;Prev</a>
                  </span>
                  |
                  <span class="transportControl nextControl">
                    <a class="nextSnippet" href="#next">Next&nbsp;<span class="octicon octicon-playback-fast-forward"></span></a>
                  </span>
                </div>
              </div>
              <div class="transportControl">
                <!-- /gist endpoint is used for creating new gists from source code as string -->
                  <button class="runButton btn btn-primary">Test Service</button>
                  <button class="codeButton btn btn-default">Edit Service</button>
                  <button class="saveButton btn btn-default">Save Service to URL</button>
              </div>
              <!--
                <div class="transportControl">
                  <img src="/img/default.svg" class="loadingImg"/>
                </div>
              -->
            </div>
            <a name="tuts"></a>
            <!-- http://gateway.hook.io endpoint is used for deploying arbitrary untrusted code ( as strings ) from anonymous sources -->
            <form name="gatewayForm" id="gatewayForm" action="/gateway" method="POST" target="hookFrame" class="gatewayForm">
      <textarea name="code" id="code">// A simple hello world microservice 
// Click "Deploy Service" to deploy this code
// Service will respond to HTTP requests with a string
module['exports'] = function helloWorld (hook) {
  // hook.req is a Node.js http.IncomingMessage
  var host = hook.req.host;
  // hook.res is a Node.js httpServer.ServerResponse
  // Respond to the request with a simple string
  hook.res.end(host + ' says, "Hello world!"');
};</textarea>
          <input name="language" class="serviceLang" type="hidden" value="javascript"/>
          </form>
          <iframe name="hookFrame" class="hookFrame"></iframe>
            <!-- <div class="hookOutput"></div> -->
          </div>
        </div>
        <form name="saveForm" id="saveForm" class="saveForm" action="/editor" method="POST" style="margin:0px;padding:0px;">
          <input name="source" class="serviceSource" type="hidden"/>
          <input name="language" class="serviceLang" type="hidden" value="javascript"/>
        </form>
        
    </div>
  </div>
</div>