<style>
  .grid {
    text-align:left;
  }
  label {
    cursor: pointer;
    font-size: 18px;
    font-weight: normal;
  }
  input {
  }
  form legend {
    font-size: 32px;
    padding-bottom: 10px;
  }
  .loginLink {
    border: solid;
    text-align: center;
  }
  .loginLink a {
    font-size: 24px;
  }
  .keysMenu {
    font-size: 24px;
    height: 100%;
    margin-bottom:0px !important;
    
  }
  .tiny {
    font-size: 14px;
    padding-left: 5px;
  }
  .keysStatus {
    font-size: 24px;
    height: 100%;
    padding: 5px;
  }
  .keysMenu li {
    border: solid;
    vertical-align: middle;
    margin-bottom:10px !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    min-height: 50px;
  }
  .roleItem {
    min-width: 200px;
  }
  .status {
    font-size: 32px;
    color: #337ab7;
    padding-bottom: 10px;
  }
  
  h2 {
    font-size: 32px;
  }
  em {
    font-weight: bold;
  }

</style>

<script type="text/javascript">
  $(document).ready(function(){
    $('.destroyLink').on('click', function(){
      var name = $(this).attr('data-name');
      var result = confirm('Are you certain you want to destroy:\n\n' + name);
      if (result) {
        return true;
      } else {
        return false;
      }
    });
    $('#roles-select-none').change(function(){
      $('input[name="roles"]').attr('checked', false);
      $('#roles-select-all').attr('checked', false);
    });

    $('#roles-select-all').change(function(){
      $('input[name="roles"]').prop('checked', true);
      $('#roles-select-none').attr('checked', false);
    });
  });
</script>

<div class="blog-area">
  <h1>API Access Keys</h1>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="widget_area fix">
            <aside class="left_widget blog_border0">
              <h3 class="sidebar_middle_title">Manage API Access Keys</h3>
              <ul class="sidebar_menu">
                <li><a href="#what-are-keys">What are keys? </a></li>
                <li><a href="#generate-keys">Create New Access Key</a></li>
                <li><a href="#generate-keys">View Existing Access Keys</a></li>
              </ul>
            </aside>
            <aside class="left_widget blog_border0">
              <h3 class="sidebar_middle_title">Role Based Access Control</h3>
              <ul class="sidebar_menu">
                <li><a href="#using-api-access-keys">Using API Access Keys</a> </li>
                <li><a href="#what-are-roles">What are roles? </a></li>
              </ul>
            </aside>
          </div>
          <br/>
          
        </div>        
        <!-- shop-content start -->
        <div class="col-lg-9 col-md-9 col-sm-9">
          <div class="col-lg-6 col-md-6 col-sm-6 item">
            <ul class="list-group keysMenu">
              <a href="#what-are-keys"><li class="list-group-item">Learn About Keys</li></a>
              <a href="#generate-keys"><li class="list-group-item keysStatus">Create New Key</li></a>
              <a href="#my-keys"><li class="list-group-item keysStatus">View Existing Keys</li></a>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 item">
            <ul class="list-group keysStatus">
              <li class="list-group-item">Using &nbsp;<span class="keyUsage">0/1</span>&nbsp;Available Keys</li>
            </ul>
            <ul class="list-group keysMenu">
              <a href="{{appUrl}}/login"><li class="list-group-item">Log in to Create a Key</li></a>
            </ul>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 item">
            <h2 class="myKeys"></h2>
            <div class="content">
                <div class="status">
                </div>

                <!--
                <div class="row loginBar">
                  <br/>
                  <div class="col-md-12" align="center">
                    <a href="{{appUrl}}/login" class="btn btn-social btn-github" style="padding: 14px 24px;font-size: 21px;"><i class="fa fa-github"></i><span style="padding-left:60px"> Sign in with Github</span></a>
                  </div>
                </div>
                -->

                <a name="generate-keys"></a>
                <div class="keysForm"></div>

                <a name="my-keys"></a>
                <div class="keys">
                  <form>
                    <legend>Your API Keys</legend>
                    <p><em>Note:</em> Keys cannot be updated. They can only be created or destroyed.</p>
                    <div class="keyHolder">
                    </div>
                  </form>
                </div>

                <a name="what-are-keys"></a>

                <h2>What are API Access Keys?</h2>
                <p>API Access Keys are used for managing security role access to services on {{appName}}.</p>
                <p>You can create new keys to allow third-party services or users to securely access restricted {{appName}} API endpoints like <a href="{{appUrl}}/docs#keys">private hooks</a>, the <a href="{{appUrl}}/datastore">datastore</a>, or <a href="{{appUrl}}/logs">logs</a>.</p>
                <p>A common use-case would be creating an API Access Key with the role <code>hook::logs::read</code> to securely read the logs of your Private Services.</p>
                
                <p>Another use-case would be creating an API Access Key with the role of <code>hook::run</code> to allow a third-party client to run a private hook service hosted on {{appName}}. This private service would only accessible to clients who can provide a the generated access key which has the role <code>hook::run</code></p>
                <hr/>

                <a name="using-api-access-keys"></a>
                <h2>Using API Access Keys</h2>

                <p>Using an API Access Key with {{appName}} is easy!</p>
                <!-- ><h2>TODO: create example private hook with role restrictions / add to docs </h2> -->
                <p>All you have to do is supply the generated <code>hook_private_key</code> <!-- and <code>hook_private_key</code > --> variable as a HTTP request parameter ( GET Query Parameter / POST Form Data / JSON RPC / HTTP Request Header / etc ) and that HTTP client request will be granted the roles associated with that <code>hook_private_key</code>.</p>
                <p><em>Remember: All <a href="{{appUrl}}/events">service level events</a> on {{appName}} are available as <a href="{{appUrl}}/roles">roles</a>, allowing granular access control.</em></p>
                <hr/>

                <a name="what-are-roles"></a>
                <h2>What are Roles?</h2>
                <p>Roles are unique identifiers representing granular access to the {{appName}} API. Every API method on {{appName}} has a unique Role name.</p>
                <p>When creating a new access key, you <em>must</em> specify a set of roles associated with that key. These roles determine what the new access key has permission to do.</p>
                <p>Role checks are used to determine if an incoming HTTP request has authorization to access the requested resource. This is useful when using Private Services or when accessing the {{appName}} API from a third-party client.</p>
                <p><em>A full listing of security access roles is available at <a href="{{appUrl}}/roles">/roles</a></em></p>

            </div>
          </div>
          <!-- end single  blog item-->
        </div>
        <!-- end shop-content start -->
      </div>  
    </div>  
  </div>