<style>
  .grid {
    text-align:left;
  }
  label {
    cursor: pointer;
    font-size: 22px;
    font-weight: normal;
  }
  input {
  }
  form legend {
    font-size: 32px;
  }
  .loginLink a {
    font-size: 32px;
    font-weight: bold;
  }
</style>

<script type="text/javascript">
  $(document).ready(function(){
    $('.destroyLink').on('click', function(){
      var name = $(this).attr('data-name');
      var result = confirm('Are you certain you want to destroy:\n\n' + name);
      if (result) {
        return true;
      } else {
        return false;
      }
    });
    $('#roles-select-none').change(function(){
      $('input[name="roles"]').attr('checked', false);
      $('#roles-select-all').attr('checked', false);
    });

    $('#roles-select-all').change(function(){
      $('input[name="roles"]').prop('checked', true);
      $('#roles-select-none').attr('checked', false);
    });
  });
</script>

<div class="blog-area">
  <h1>Access Keys</h1>
    <div class="container">
      <div class="row">
        <!-- blog-left-sidebar start -->
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="widget_area fix">
            <!-- widget-categories start -->
            <aside class="left_widget blog_border0">
              <h3 class="sidebar_middle_title">Role Based Access Control</h3>
              <ul class="sidebar_menu">
                <li><a href="#what-are-keys">What are keys? </a></li>
                <li><a href="#what-are-roles">What are roles? </a></li>
                <li><a href="#generate-keys">Generate Access Keys </a></li>
              </ul>
            </aside>
            <!-- widget-categories end -->
            <!-- widget-categories start -->
            <aside class="left_widget blog_border0">
              <h3 class="sidebar_middle_title">Role Checks</h3>
              <ul class="sidebar_menu">
                <li><a href="{{appUrl}}/datastore">What are Role Checks?</a> </li>
                <li><a href="#">Automated Role Checks</a> </li>
                <li><a href="#">Custom Role Checks</a> </li>
              </ul>
            </aside>

            <!-- end widget-tag  -->            
          </div>
        </div>        
        <!--end  blog-left-sidebar start -->
        <!-- shop-content start -->
        <div class="col-lg-9 col-md-9 col-sm-9">
          <!-- end single  blog item-->         
          <div class="col-lg-12 col-md-12 col-sm-12 item">
            <div class="content">

                <div class="status"></div>

                <a name="what-are-keys"></a>
                <h2>What are Keys?</h2>
                <p>Keys are used for managing security role access to services on {{appName}}</p>
                <p>You can create new keys to allow third-party services or users to access restricted {{appName}} services like <a href="{{appUrl}}/docs#keys">private hooks</a>, the <a href="{{appUrl}}/datastore">datastore</a>, or <a href="{{appUrl}}/logs">logs</a>.</p>
                <p>A common use-case would be creating a private hook service which is only accessible to clients who can provide a generated access key which has the role <code>hook::run</code></p>
                <p><em>A full listing of security access roles is available at <a href="{{appUrl}}/roles">/roles</a></em></p>

                <a name="what-are-roles"></a>
                <h2>What are Roles?</h2>
                <p>When creating a new access key, you <em>must</em> specify a set of roles associated with that key.</p>
                <p>These roles determine what the new access key has permission to do.</p>

                <a name="generate-keys"></a>
                <h2>Generating New Keys</h2>
                <p>To create new security access keys, simply login and use the form at the bottom of this page.</p>

                <!--
                <div class="row loginBar">
                  <br/>
                  <div class="col-md-12" align="center">
                    <a href="{{appUrl}}/login" class="btn btn-social btn-github" style="padding: 14px 24px;font-size: 21px;"><i class="fa fa-github"></i><span style="padding-left:60px"> Sign in with Github</span></a>
                  </div>
                </div>
                -->

                <h2>Role Checks</h2>

                <a name="what-are-role-checks"></a>
                <h3>What are role Checks?</h3>
                <p>Role checks are used to determine if an incoming HTTP request has authorization to access the requested resource</p>
                <p>{{appName}} offers several integrated roles and custom roles that may be associated with a generate Access Key</p>

                <a name="private-services"></a>
                <h3>Private Services</h3>

                <p>Accessing a role restricted service with a key is easy!</p>
                <!-- ><h2>TODO: create example private hook with role restrictions / add to docs </h2> -->
                <p>All you have to do is supply the generated <code>hook_private_key</code> <!-- and <code>hook_private_key</code > --> variable as a HTTP request parameter ( URL GET Query Data / POST Form Data / JSON RPC / etc ) and that HTTP client request will be granted the roles associated with that private key.</p>
                <p>For convenience, we've pre-generated an <code>admin-access</code> key for every account. You can use the generated <code>hook_private_key</code> for <code>admin-access</code> to access any of your private services from a third-party source. You can also simply delete your <code>admin-access</code>key and create a new key with custom roles.</a></p>
                <p><em>Remember: All <a href="{{appUrl}}/events">service level events</a> on {{appName}} are available as <a href="{{appUrl}}/roles">roles</a>, allowing granular access control.</em></p>

                <a name="custom-role-checks"></a>
                <h3>Custom Role Checks</h3>
                <p>It'a also possible to add a custom role value when creating an Access Key. You may perform a custom role checks using any string value one of two ways.</p>
                <p>Using the <a href="/keys/checkAccess">keys.checkAccess HTTP API method</a> ( available in <a href="/sdk">SDK</a>)</p>
                <p>
                  Inside a Hook service as:
                  <code><pre>
module['exports'] = function checkAccess (hook) {
  hook.req.checkAccess('hook::run', function(err, h){
    hook.res.json(h);
  });
};</pre></code>
                </p>
                <p class="hint">This will be scoped to the current user session or <code>hook_private_key</code> HTTP parameter</p>
                <p class="loginLink"><a href="{{appUrl}}/login">Login to Create Your First Key</a></p>
                <a name="generate-keys"></a>
                <div class="keys"></div>

            </div>
          </div>
          <!-- end single  blog item-->
        </div>
        <!-- end shop-content start -->
      </div>  
    </div>  
  </div>