
<div style='font-family:"Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; width:600px;'>
  <p>
  Greetings {{username}}!
  </p> 
  <p>You are receiving this email because recently signed up for <a href="https://hook.io">https://hook.io</a>. If you do not wish to receive anymore emails from hook.io you can unsubscribe below.
  </p>
   <h1>Great news everyone! A free Bitcoin!</h1>
   <p style="font-size:26px;">
     For the entire month of November 2014 <a href="https://hook.io">hook.io</a> will be running an incentive program...
   </p>
   <p style="font-size:26px;">
     ...that awards the <a href="https://hook.io">hook.io</a> user with the most amount of user referrals in the month of November... 
   </p>

  <h1>An entire Bitcoin!</h1>
  <p style="font-size:22px;">
   You now have a special link which you can distribute to your developer friends and colleagues to sign up for a free <a href="https://hook.io">hook.io</a> account:
  </p>

  <h1>SHARE THIS LINK</h1>
  <p style="font-size:26px;">
     <a href="https://hook.io/{{username}}?s">https://hook.io/{{username}}?s</a>
  </p>

  <p style="font-size:26px;">
    Now anytime someone clicks on that link and signs up ( with a valid Github account ) one referral will be added to your account.
  </p>
  <p style="font-size:26px;">
    <a href="https://twitter.com/intent/tweet?text=I%27ve%20been%20using%20http%3A//hook.io/{{username}}%3Fs%20to%20host%20my%20%23webhooks%20and%20it%27s%20awesome%21%20%23microservices%20%23github&source=webclient">Click here to Tweet your referral link right now!</a>
  </p>

  <h2>You can track your referrals here: </h2>
  <p style="font-size:26px;">
     <a href="https://hook.io/referrals">https://hook.io/referrals</a>
  </p>
 

  <p style="font-size:26px;">
  On December 1st, 2014 the <a href="https://hook.io">hook.io</a> user with the most referrals will receive 1 Bitcoin ( currently worth about $350 )</p>

  <p style="font-size:26px;">
  If you have any questions please feel free to open up a <a href="http://github.com/bigcompany/hook.io/issues">Github Issue</a>.</p>


  <p style="font-size:26px;">
  Want to see the coin? Here is it's <a href="https://blockchain.info/address/17aAjrX4tczRJPa7LV5FwDsmtrhdYf1nzV">blockchain address</a>.
 </p>
  <p style="font-size:26px;">Remember, no cheating and no spamming!</p> 

  <p style="font-size:26px;">Need a creative way to spread the word? Try:<p>
  <ul style="font-size:22px;">
    <li>Writing a blog post about hook.io</li>
    <li>Creating a useful Hook and sharing it with others</li>
    <li>Opening a Pull Request for your favorite npm module to include a live hosted demo on hook.io</li>
    <li>Tell your co-workers about hook.io</li>
    <li>Give a talk about hook.io at your local meetup</li>
  </ul>

  <p style="font-size:26px;">We really hope you like our service and genuinely want to share it with your peers.</p>
  <p style="font-size:26px;">
  - Marak <br/>
  <em>Creator of hook.io</em><br/>
  <em><a href="https://hook.io/Marak">https://hook.io/Marak</a></em>

  </p>

  <p>Here is a signed message from our Bitcoin address verifying that we control the funds. You can verify it <a href="https://brainwallet.github.io/#verify">here</a>.</p>
  <p>
	-----BEGIN BITCOIN SIGNED MESSAGE-----<br/>
	hook.io November 2014 referral bonus<br/>
	-----BEGIN SIGNATURE-----<br/>
	17aAjrX4tczRJPa7LV5FwDsmtrhdYf1nzV<br/>
	HCL7pM6NwR0VWZoVOMnSxylXXnS3z1Yjtwn+uvfYfJX7LCyvHWn87FW/YsDiW2l0tKjaY1JPUUk3svmpQ7zkiWI=<br/>
	-----END BITCOIN SIGNED MESSAGE-----<br/>
	</p>
  <br/>
  <br/>

</div>