<div style='font-family:"Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; width:600px;'>
  <h1>
  Greetings {{username}}!
  </h1>
  <p>You are receiving this email because you previously signed up for an account with <a href="https://hook.io">hook.io</a>, the open-source microservice hosting platform. If you do not wish to receive any more emails from hook.io you can unsubscribe below.
  </p>
  
  <h2>Thank you so much for using the hook.io hosting platform!</h2>

  <p>We have been up and running for half a year now and have collected a great amount of data and user-feedback! Over the course of the next several weeks we will be rolling out many new features and improved user-interfaces.
  </p>
  <p>Since hook.io is 100% open-source you can follow the community development at <a href="http://github.com/bigcompany/hook.io">http://github.com/bigcompany/hook.io</a>. If you have any suggestions or code changes, please feel free to open an <a href="http://github.com/bigcompany/hook.io/issues">issue or pull request</a>. We love community contributions!</p>
  
  <h2>Usage statistics</h2>

  <strong>12,250,666</strong> Hooks Executed<br/>
  <strong>304</strong> Active Hooks<br/>
  <strong>524</strong> Active Users <br/>
  <strong>148</strong> Github Stars <br/>
  <strong>9</strong> Community Forks <br/>

  <h4><a href="https://hook.io/stats">https://hook.io/stats</a></h4>

  <em>This is just the start! Over the next few months we will actively be improving the platform and hope to grow these numbers!</em>
  
  <br/>
  
  <h2>Help support hook.io with a paid account!</h2>
  
  <p>We have now rolled out a "pay what you want" billing system which allows our users ( you! ) to <strong>choose</strong> if you want to pay for your hook.io account! If you are happy with the service or simply want to help support us ( hook.io is 100% open-source ) we ask that you choose to pay $5 a month.</p>
  </p>
  <p><strong>Don't worry</strong>, hook.io will always provide free hosting for microservices, so can always choose to not pay.</p>

  <h4><a href="https://hook.io/billing">https://hook.io/billing</a></h4>

  <h2>Custom Web Domains!</h2>
  <p>hook.io now supports custom web domains for your hooks. Visit <a href="https://hook.io/domains">https://hook.io/domains</a> to add a custom web domain for any of your hooks.</p>
  <h4><a href="https://hook.io/domains">https://hook.io/domains</h4>

  <h2>Affiliates Program</h2>
  <p>Our referral system has been upgraded and we have now rolled out the beta of our Affiliates program. Now, anytime a user you have referred signs up for a paid account, you will receive a portion of that revenue every month. More information about the Affiliates program can be found below.</p>

  <h4><a href="https://hook.io/affiliates">https://hook.io/affiliates</a></h4>

  <h2>hook.io is hiring our first employee!</h2>
  <p>Are you interested in microservices and webhooks? Want to work on the <a href="https://hook.io">hook.io</a> open-source microservice platform? We need to hire our first Support Developer. The details for the position can be found here: <a href="https://hook.io/hiring#support-engineer">https://hook.io/hiring#support-engineer</a> The best way to apply for the position is to clone <a href="http://github.com/bigcompany/hook.io">http://github.com/bigcompany/hook.io</a> and submit a Pull Request.</p>

  <h2>New Hosting Provider: Digital Ocean!</h2>
  <p>You may have noticed we have migrated away from Joyent as our cloud hosting provider in favor of <a href="http://digitalocean.com">Digital Ocean</a>. We switched away from Joyent to Digital Ocean for technical reasons, but then...Digital Ocean was kind enough to step up and sponsor hosting for the hook.io project for the next year! We really appreciate Digital Ocean for supporting the open-source project and 100% recommend their service.</p>
  
  
  <br/>
  <br/>
  <em style='font-size:18px;'>Thanks for taking the time to read this! We hope you enjoy using our service!</em>
  
  
  <br/>
  <br/>
  <br/>
  <br/>


</div>