input[disabled] {
  color: grey;
}

/* /datastore styles */
.datastoreRoot {
  font-size: 24px;
}

.datastoreRoot .current {
  font-weight: bold;
  font-size: 28px;
}

.datastoreRoot .owner {
  font-size: 28px;
}

.apiParams {
  font-size: 26px;
}

.datastoreAPIForm {}
.datastoreAPIForm label {
  font-size: 26px;
}