<div align="left">
  <h1>Datastore.del</h1>
  <div class="container content">
    <p class="help i18n">Deletes an existing <code>Document</code> based on it's <code>key</code>.</p>
    <p>Returns <code>0</code> if no <code>Document</code> is found.</p>
    <h3>Required parameters</h3>
    <ul class="apiParams">
      <li>key</li>
    </ul>
    <form action="" method="PUT" role="form" class="datastoreAPIForm">
      <legend><h3>Datastore.del Form</h3></legend>
      <div class="form-group">
        <label for="key">key</label>
        <input class="form-control" name="key" id="key" type="text" placeholder="/a/unique/key">
      </div>
      <div class="button_set_plain button_margin">
        <div class="left newsl_button">
          <button type="submit"><span>Delete Document</span></button>
        </div>
      </div>
    </form>
  </div>
</div>