<!--
<div align="left" class="datastoreRoot">
  <p><span class="current">Current Datastore Root:</span> <span class="owner">anonymous</span></p>
  <p>The Datastore Root is the top-level key of all Datastore documents.</p>
  <p class="anonymousLogin"><em>To change the root from anonymous, you must <a href="{{appUrl}}/login">log in</a> or supply a <code>hook_private_key</code>.</em></p>
  <p class="apiAccess"><em>Remember: You can access the Datastore API from outside this browser session by using an <a href="{{appUrl}}/keys">API Access Key</p></em></p>
</div>
-->
<div class="yield"></div>
