<style>
  #code {
    width: 600px;
    height: 800px;
  }
</style>

<div class="container content">
  <h1>Service Source Code</h1>
  <h2>Admin Page: <a class="hookAdmin" href="">microservice name</a></h2>
  <h2>Service Home: <a href="" class="hookRun">Run Service</a></h2>
  <div>
    <h2>Source Files</h2>
    <ul>
      <li><a class="service" href="?f=index.sh">index.sh</a></li>
      <li><a class="schema" href="?f=schema.js">schema.js</a></li>
      <li><a class="view" href="?f=view.html">view.html</a></li>
      <li><a class="presenter" href="?f=presenter.js">presenter.js</a></li>
    </ul>
  </div>
  <!--
  <div class="hooks">
    <h2>Before Middlewares</h2>
    <div class="inputs">
    </div>
    <br/>
  </div>
  -->
  <div>
    <h2>Showing Source Code: <span class="currentFile"></span></h2>
    <textarea id="code"></textarea>
  </div>
</div>