<style>
  .hooks {
    font-size: 28px;
    text-align:center;
  }
  .manageEnv {
    font-size: 28px;
  }
  .referrals {
    font-size: 28px;
  }
  .noHooks {
    font-size:22px;
  }
  .accountForm {
    text-align: left;
  }
  .userForm {
    text-align: left;
  }
  .billingForm {
    text-align: left;
  }

  .container {
    text-align: left;
  }

  .success  {
    color: green;
  }
  #addPaymentMethod {
    font-size: 36px;
    height: 120px;
    width: 600px;
    /*
    background: #6bc40c;
    color: red;
    */
  }

  #addPaymentMethod:hover {
    border: black;
  }

  .renameAccount {
    font-size: 12px;
  }
  .warning {
    color: red;
  }
  .status {
    text-align: center;
    font-size: 18px;
    min-width: 180px;
    background-color: #F5F5F5;
    border: 1px solid #E1E1E1;
    padding: 17px 17px 0px 17px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 20px;
    /*width: 100%;*/
    margin-bottom: 30px;
    display: none;
  }
  form legend {
    font-size: 24px;
    padding-bottom: 10px;
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){
    $('#name').after('<a class="renameAccount" href="#rename">Rename Account</a>');
    var showing = false;
    $('.renameAccount').on('click', function () {
      $('#name').attr('disabled', null).focus();
      if (!showing) {
        showing = true;
        $('.renameAccount').after('<br/><span class="warning">Warning: </span><span>Changing account name will change the URLs of all existing services. It will also log you out of your current session.</span>')
      }
      return false;
    });
  });
</script>
<div id="main">
  <h1>Account</h1>
  <div class="status boxAlert medium"></div>
  <div class="container content">
    <h3><a href="{{appUrl}}/billing" class="yourBilling i18n btn btn-default">View Billing Information</a> <a href="{{appUrl}}/account/usage" class="yourUsage i18n btn btn-default">View Current Usage</a></h3>
    <div class="userForm"></div>
    <!-- <div class="billingForm"></div> -->
    <!-- <div class="hooks"><a href="{{appUrl}}/hooks" class="myHooks">My Hooks</a></div> -->
    <form action="/account" method="POST"></form>
  </div>
</div>

<br/>
<br/>
<br/>
<br/>