<script type="text/javascript" class="data">
  var data = {
    title: "Hook in your language",
    description: "",
    url: "https://hook.io/blog/hook-in-your-language",
    guid: "hook-in-your-language",
    author: "Marak",
    date: "Thu Oct 01 2015 06:45:14 GMT-0700 (PDT)"
  };
</script>


<style>
.managers p { font-size: 32px; padding-bottom: 10px; margin-bottom: 10px; }
.managers li { font-size: 20px; }
.managers h1, h2 {
  margin-bottom: 5px;
  margin-top: 20px;
}
.managers h1 {
  font-size: 52px;
}
.managers h2 {
  font-size: 36px;
  margin-bottom: 10px;
}
.managers ul {
  margin-top:10px;
  margin-bottom:10px;
}

.managers ul li {
  font-size:22px;
}

</style>
<div class="container content"align="left">
<h1>Hook in your language</h1>

<br/>

<p>Hello, Haló, Haloo, Allô, Hallo,こんにちは, Pronto, 여보세요, Hâlo,  喂, آلو, Алло, ¡Hola!, ฮัลโหล.</p>

<p>
 If you haven't heard yet, <a href="https://hook.io">hook.io</a> is a <a href="https://github.com/bigcompany/hook.io">100% open-source</a> platform for Microservices.
</p>
<p>
  Recently, <a href="https://hook.io/blog/new-multi-language-support">we added support</a> for 11+ software programming languages.
</p>
<p>
  While it's a nice technical feature to support so many programming languages, it's equally important we support multiple <strong>written languages</strong>.</p>
</p>

<h2>Bring on the i18n!</h2>

<p>Many open-source projects and businesses consider <a href="https://en.wikipedia.org/wiki/Internationalization_and_localization">i18n internationalization</a> an after-thought, a non-critical piece of functionality which takes away from your core focus.</p>

<p><strong>We believe that accessibility is key.</strong></p> 

<p>Limiting your project to only one language excludes large segments of users. No one should be excluded. Everyone should have the right to use your project.</p>

<p>
  For these reasons, hook.io has released i18n internationalization support for our web interface.
</p>
<p> 
  This is the first step in a long process of ensuring hook.io is accessible to anyone with a web connected device.
</p>

<p><strong>A journey of a thousand miles begins with a small step.</strong></p>
<p>
  As of today, we have basic translations online for the German language.
</p>

<p>
  You can test this functionality by visiting <a href="https://hook.io">hook.io</a> with your browser agent set to <code>de</code>, or you can simply visit: <a href="https://hook.io?lang=de">https://hook.io?lang=de</a>
</p>

<h2>Contributing to Language Support</h2>
<p>
  The neat thing about our i18n support, is that our locale translation files are located independently from any complicated source code.
</p>
<p>Anyone can make an addition or change to our language support simply by opening a Pull Request at: <a href="https://github.com/bigcompany/hook.io-i18n">https://github.com/bigcompany/hook.io-i18n</a></p>

<p>Our amazing i18n integration pulls from this repo and will automatically update the hook.io website with your new translation!</p>

<p><strong>Remember: Open-source counts on your contribution</strong></p>
  
<p>
  <em>We hope to hear from you in your language soon!</em>
</p>
<br/>
<br/>

</div>
