<script type="text/javascript" class="data">
  var data = {
    title: "New multi-language support",
    description: "",
    url: "https://hook.io/blog/new-multi-language-support",
    guid: "new-multi-language-support",
    author: "Marak",
    date: "Thu Sep 20 2015 09:33:33 GMT-0700 (PDT)"
  };
</script>


<style>
.managers p { font-size: 32px; padding-bottom: 10px; margin-bottom: 10px; }
.managers li { font-size: 20px; }
.managers h1, h2 {
  margin-bottom: 5px;
  margin-top: 20px;
}
.managers h1 {
  font-size: 52px;
}
.managers h2 {
  font-size: 36px;
}
.managers ul {
  margin-top:10px;
  margin-bottom:10px;
}

.managers ul li {
  font-size:22px;
}

</style>
<div class="container content"align="left">
<h1>New multi-language support</h1>
<br/>
<p>
 <a href="https://hook.io">hook.io</a> is a <a href="https://github.com/bigcompany/hook.io">100% open-source</a> platform for Microservices.
</p>
<p>
For the past year we have been working on making our JavaScript support <a href="https://hook.io/docs">full-featured</a>.</p> 
<p>While we love still love JavaScript, <a href="https://github.com/bigcompany/hook.io/issues/117">hook.io has now added support</a> for <strong>ten</strong> programming languages outside of JavaScript.</p>

<h2>Newly Added Languages</h2>
<ul>
  <li>Bash</li>
  <li>Coffee-Script</li>
  <li>Lua</li>
  <li>PHP</li>
  <li>Python</li>
  <li>Perl</li>
  <li>Ruby</li>
  <li>Scheme</li>
  <li>SmallTalk</li>
  <li>Tcl</li>
</ul>

<p>To try this new functionality visit our <a href="https://hook.io/#tuts">Interactive Microservice Tutorial</a> or simply select a new language when creating or editing a Hook service on <a href="https://hook.io">hook.io</a></p> 
<p>More blog posts will follow detailing the usage of each individual language.</p>

<a name="seeking-developer-community-managers"/></a>
<h2>Seeking Developer Community Managers</h2>

<p>
  We are now seeking individual Developer Community Managers to help make the support for <em>each new</em> language full-featured.
</p>
<p>
Our idea is to have at least one domain expert contributing to hook.io for <em>every</em> language we support.
</p>

<h2>Why become a Developer Community Manager?</h2>

<div>
  <ul>
    <li>Get directly involved working with Microservices and the hook.io open-source project </li>
    <li>See your favorite language have first-class support on hook.io</li>
    <li>Add an impressive notch to your resume</li>
    <li>Get free hosting from hook.io for all your Microservices</li>
    <li>Be first in line for a paid position ( We love to hire contributors! )</li>
    <li>The satisfaction of working on a good open-source project</li>
  </ul>
</div>
<h2>Responsibilities</h2>

<p>
Since the launch of our platform, the JavaScript language has been the primary target for <a href="https://hook.io/docs">Microservice features</a> ( such as streaming http / logging / datastore / npm modules )
</p>
<p>
It's imperative that every new language we add can offer the same feature-set, level of functionality, and experience of our JavaScript support.
</p>
<p>
Your primary responsibility as a Developer Community Manager will be working with the hook.io platform and user-base to ensure that your language has first-class support on hook.io
</p>
<h2>Compensation</h2>

<p>Developer Community Managers are currently a <em>volunteer</em> based position. The amount of work you do depends on how well you wish to see your target language implemented.</p>

<p>
A featured section will be created on the hook.io website for all Developer Community Managers to optionally list their profile / website.
</p>
<p>
hook.io is currently <a href="https://angel.co/hook-io">raising a seed investment</a>. Once we have raised seed funding, paid positions will be available.</p><p>We love to hire contributors!
</p>


<h2>How to Apply</h2>
<p>
We currently have <a href="https://github.com/bigcompany/hook.io/issues">several open issues on Github</a> discussing which languages to add and how to implement them into the stack.
</p>

<p>
We also have an irc room #hook.io on <a href="http://webchat.freenode.net">irc.freenode.net</a>
</p>

<p>
If you are interested in becoming a Developer Community Manager for a specific language, please feel free to <a href="https://github.com/bigcompany/hook.io/issues/new?title=I%20want%20to%20become%20a%20Community%20Manager%20for%20the%20X%20language">open up a Github Issue</a> or start a conversation in our irc channel.
</p>
<br/>

<p>
  <em>We look forward to hearing from you soon!</em>
</p>
<br/>
<br/>

</div>