<script type="text/javascript" class="data">
  var data = {
    title: "Seeking Developer Community Managers",
    description: "",
    url: "https://hook.io/blog/seeking-developer-community-managers",
    guid: "seeking-developer-community-managers",
    author: "Marak",
    date: "Thu Sep 17 2015 01:33:33 GMT-0700 (PDT)"
  };
</script>


<style>
.managers p { font-size: 32px; padding-bottom: 10px; margin-bottom: 10px; }
.managers li { font-size: 20px; }
.managers h1, h2 {
  margin-bottom: 5px;
  margin-top: 20px;
}
.managers h1 {
  font-size: 52px;
}
.managers h2 {
  font-size: 36px;
}
</style>
<div class="managers" align="left">
<h1>Seeking Developer Community Managers</h1>
<br/>
<p>
 <a href="https://hook.io">hook.io</a> is a <a href="https://github.com/bigcompany/hook.io">100% open-source</a> hosting platform for JavaScript Microservices.
</p>
<p>
Recently, <a href="https://github.com/bigcompany/hook.io/issues/117">we've begun to introduce support</a> for additional programming languages outside of JavaScript.
</p>
<p>
While we love JavaScript, it's time we upgrade our platform to support <em>all</em> major web programming languages.
</p>
<p>
As part of this initiative, we are seeking individual Developer Community Managers to help support <em>each</em> language we add.
</p>
<p>
Our idea is to have at least one domain expert contributing to hook.io for <em>every</em> language we support.
</p>

<h2>Why become a Developer Community Manager?</h2>

<p>
  <ul>
    <li>Get directly involved working with Microservices and the hook.io open-source project </li>
    <li>See your favorite language have first-class support on hook.io</li>
    <li>Add an impressive notch to your resume</li>
    <li>Get free hosting from hook.io for all your Microservices</li>
    <li>Be first in line for a paid position ( We love to hire contributors! )</li>
    <li>The satisfaction of working on a good open-source project</li>
  </ul>
  
</p>
<h2>Responsibilities</h2>

<p>
Since the launch of our platform, the JavaScript language has been the primary target for <a href="https://hook.io/docs">Microservice features</a> ( such as streaming http / logging / datastore / npm modules )
</p>
<p>
It's imperative that every new language we add can offer the same feature-set, level of functionality, and experience of our JavaScript support.
</p>
<p>
Your primary responsibility as a Developer Community Manager will be working with the hook.io platform and user-base to ensure that your language has first-class support on hook.io
</p>
<h2>Compensation</h2>

<p>Developer Community Managers are currently a <em>volunteer</em> based position. The amount of work you do depends on how well you wish to see your target language implemented.</p>

<p>
We will have a featured section on the hook.io website for all Developer Community Managers where you will be able to optionally list your profile / website.
</p>
<p>
hook.io is currently <a href="https://angel.co/hook-io">raising a seed investment</a>. Once we have raised seed funding, we will have paid positions available.</p><p>We love to hire contributors!
</p>


<h2>How to Apply</h2>
<p>
We currently have <a href="https://github.com/bigcompany/hook.io/issues/117">several open issues on Github</a> discussing which languages to add and how to implement them into the stack.
</p>

<p>
We also have an irc room #hook.io on <a href="http://webchat.freenode.net">irc.freenode.net</a>
</p>

<p>
If you are interested in becoming a Developer Community Manager for a specific language, please feel free to <a href="https://github.com/bigcompany/hook.io/issues/new?title=I%20want%20to%20become%20a%20Community%20Manager%20for%20the%20X%20language">open up a Github Issue</a> or start a conversation in our irc channel.
</p>
<br/>

<p>
  <em>We look forward to hearing from you soon!</em>
</p>
<br/>
<br/>

</div>