<style>
  .hooks {
    font-size: 28px;
    text-align:center;
  }
  .manageEnv {
    font-size: 28px;
  }
  .referrals {
    font-size: 28px;
  }
  .noHooks {
    font-size:22px;
  }
  .accountForm {
    text-align: left;
  }
  .userForm {
    text-align: left;
  }
  .billingForm {
    text-align: left;
  }
  
  .container {
    text-align: left;
  }

  .success  {
    color: green;
  }
  #addPaymentMethod {
    font-size: 36px;
    height: 120px;
    width: 600px;
    /*
    background: #6bc40c;
    color: red;
    */
  }

  #addPaymentMethod:hover {
    border: black;
  }

  .status {
    font-size: 32px;
  }

</style>

</script>
<div id="main" class="container">
  <h2><a href="/billing" class="yourBilling">Billing Information</a></h2>
  <div class="status"></div>
  <div class="userForm"></div>
  <!-- <div class="billingForm"></div> -->
  <!-- <div class="hooks"><a href="/hooks" class="myHooks">My Hooks</a></div> -->
  <form action="/account" method="POST"></form>
</div>

<br/>
<br/>
<br/>
<br/>