<style>
  .hooks {
    font-size: 28px;
    text-align:center;
  }
  .manageEnv {
    font-size: 28px;
  }
  .referrals {
    font-size: 28px;
  }
  .noHooks {
    font-size:22px;
  }
  .accountForm {
    text-align: left;
  }
  .userForm {
    text-align: left;
  }
  .billingForm {
    text-align: left;
  }
  
  .container {
    text-align: left;
  }

  .success  {
    color: green;
  }
  #addPaymentMethod {
    font-size: 36px;
    height: 120px;
    width: 600px;
    /*
    background: #6bc40c;
    color: red;
    */
  }

  #addPaymentMethod:hover {
    border: black;
  }

  .status {
    font-size: 32px;
  }

  .renameAccount {
    margin-left: 20px;
    font-size: 12px;
  }
  .warning {
    color: red;
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){
    $('#name').after('<a class="renameAccount" href="#rename">Rename Account</a>');
    var showing = false;
    $('.renameAccount').on('click', function () {
      $('#name').attr('disabled', null).focus();
      if (!showing) {
        showing = true;
        $('.renameAccount').after('<br/><span class="warning">Warning: Changing account name will change the URLs of all existing services. It will also log you out of your current session.</span>')
      }
      return false;
    });
  });
</script>
<div id="main">
  <h1>Account</h1>
  <div class="container content">
    <h2><a href="{{appUrl}}/billing" class="yourBilling i18n">View Billing Information</a></h2>
    <div class="status"></div>
    <div class="userForm"></div>
    <!-- <div class="billingForm"></div> -->
    <!-- <div class="hooks"><a href="{{appUrl}}/hooks" class="myHooks">My Hooks</a></div> -->
    <form action="/account" method="POST"></form>
  </div>
</div>

<br/>
<br/>
<br/>
<br/>