<link href="/css/jquery-ui.css" rel="stylesheet"/>

<style>
  .hookTable .smaller  {
    font-size: 16px;
    padding-top:8px;
  }
</style>
<script src="/js/jquery-ui.js"></script>
<script src="/js/jquery.croneditor.js"></script>
<script type="text/javascript">
  // TODO: Create "themes" resource and persist this to database
  // lookup themes from curated theme list
  var themes = {{themes}};

  $(document).ready(function(){

    $('.cronDiv').croneditor({ cron: "{{hook.cron}}"});

    if(!$('input[name="cronActive"]').is(':checked')) {
      $('.cronRow').hide();
    }

    $('input[name="cronActive"]').click(function(){
      if($(this).prop('checked')) {
        $('.cronRow').show();
      } else {
        $('.cronRow').hide();
      }
    });
    
    $('.themeSelect').change(function(e){
      var val = themes[$(this).val()];
      $('#theme').attr('value', val.theme);
      $('#presenter').attr('value', val.presenter);
    });
    
    $('.deleteLink').on('click', function(){
      var name = $(this).attr('data-name');
      var result = confirm('Are you certain you want to destroy:\n\n' + name);
      if (result) {
        return true;
      } else {
        return false;
      }
    });

  });
  
  /*
  $('#cronString').keydown(function(){
    var job = new cron.CronTime($(this).val());
    var start = new Date();
    var next = job._getNextDateFrom(start);
    $('#estimateRun').val(next);
  });
  */
  
</script>
<style>
  .formStatus {
    font-size: 32px;
    font-weight: bold;
  }
  .success {
    color: rgb(68, 199, 68);
  }
</style>
<!-- background-image: url('./img/node_turtle.png');background-repeat: none; -->
<div style="font-size:22px;height:800px;text-align: left;">
  <span class="formStatus success"></span>  <br/>
  <h2><strong>Manage <span class="hookName"> Hook</span></strong></h2>
  <h3><a href="" class="hookLink">View Hook</a></h3>
  <h3><a href="" class="hookLogs">Service Logs</a></h3>
  <h3><a href="" class="hookRefresh">Refresh Cache</a></h3>
  <br/>
  <form method="post" action="/admin">
    <div class="hookTable" style="font-size:22px;">

      <div class="form-group">
        <label for="mode">Hook Mode</label>
        <select class="form-control mode" name="mode">
          <option value="Development">Development</option>
          <option value="Production">Production</option>
        </select>
        <p class="smaller"><strong>Important:</strong> Setting Mode to <code>Production</code> will greatly improve the performance of the hook by caching it's source files. Setting Mode to <code>Development</code> will ensure the latest source files are always pulled ( which will cause longer response times for your Hook )</p>
      </div>

      <div class="form-group">
        <label for="name">Hook Name</label>
        <input type="text" class="form-control name" id="name" name="name" placeholder="name of hook" size="40">
        <p class="smaller"><strong>Warning:</strong> Changing the name of the Hook will alter the url used to access it.</p>
      </div>

      <div class="form-group">
        <label for="name">Hook Path</label>
        <input type="text" class="form-control path" id="path" name="path" placeholder="path of hook" size="40">
        <p class="smaller">Can contain <code>/:foo/bar/:baz</code> style parameter routing. Route parameters will populate in <code>Hook.params</code> scope inside the service.</p>
      </div>


      <div class="form-group">
        <label for="hookSource">Hook Run Count</label>
        <input type="text" class="form-control hookRan" id="hookRan" value="n/a" size="40">
      </div>

      <input type="hidden" class="previousName" id="previousName" name="previousName" value="">

      <input type="hidden" class="owner" id="owner" name="owner" value="">

      <div class="form-group">
        <label for="hookSource">Hook Source Code</label>
        <input type="text" class="form-control hookSource" id="hookSource" name="hookSource" value="n/a" size="80">
      </div>

      <div class="form-group">
        <label for="status">Hook Status</label>
        <select class="form-control status" name="status">
          <option value="active">Active</option>
          <option value="disabled">Disabled</option>
        </select>
      </div>

      <div class="form-group">
        <input type="checkbox" class="cronActive" id="cronActive" name="cronActive">
        <label for="hookSource">Cron Task activated for this Hook</label>
      </div>

      <div class="form-group cronRow">
        <div class="cronDiv"></div>
      </div>

      <div class="form-group">
        <input type="checkbox" class="isPublic" id="isPublic" name="isPublic">
        <label for="isPublic">Display Hook in public Hook registry</label>
      </div>

      <div class="form-group danger">
        Danger Zone
      </div>

      <div class="form-group">
        Delete Hook <span class="red"><a class="deleteLink" href="">Delete</span>
      </div>

      <div class="form-group">
        <input tabindex="1" id="save" name="save" type="submit" value="Save Hook"/ class="btn">
      </div>

    </div>
  </form>

  <br/>
  <br/>
</div>
