<div>
  <h1>Affiliates Program</h1>
  <div class="container content">
  <h2>Get paid for referring new developers to {{appName}}!</h2>
  <h3>Automatic Enrollment</h3>
  
  <p>Each time you refer a new developer to sign up for {{appName}} with your <a href="{{appUrl}}/referrals">referral link</a>, you are eligible to receive money back each month if the developer who signed up chooses to pay for their account.</p>
  <br/>

  <h3>Get paid each month for every developer you refer who pays for an account</h3>
  <p>If a developer you refer to {{appName}} decides to pay for their account, you will receive <strong>5%</strong> of all profits made from that user. This will probably be a few cents a month, but it can quickly add up...</p>
  <br/>

  <h3>Get paid each month for every developer your referral signs up</h3>
  <p>If a developer you sign up refers another developer...you will receive <strong>2.5%</strong> of the profit every month...</p>
  <br/>

  <h3>Get paid each month for every developer your referral's referral signs up...</h3>
  <p><em>...and it keeps going all way the down.</em> Referrals are hierarchical and multi-level! We <strong>strongly</strong> feel our affiliate program profits platform growth in a healthy way while rewarding loyal users who enjoy using {{appName}} and genuinely want to share the service with other developers</p>
  <br/>

  <h3>What is the best way to get new developers to sign up?</h3>
  <p>Great question! We suggest trying any of the following:</p>
  <ul style="font-size:22px;">
    <li>Writing a blog post about {{appName}}</li>
    <li>Creating a useful Service and sharing it with others</li>
    <li>Opening a Pull Request for your favorite npm module to include a live hosted demo on {{appName}}</li>
    <li>Tell your co-workers about {{appName}}</li>
    <li>Give a talk about {{appName}} at your local meetup</li>
  </ul>
  <br/>

  <p style="font-size:16px;"><em>Note: Percentage points of profit paid to users may change at anytime. Affiliate program is still in beta testing. Currently, all referrals are tracked and we will retroactively apply affiliate payments to all existing users once we have released this system to the public.</em><p>
  </div>
</div>