<!--
<style>
  p {
    font-size: 22px;
  }
  input {
    width: 600px;
  }
  .apiDiv {
    text-align:left;
  }
</style>
-->

<div class="blog-area">
  <h1>Developer API</h1>
    <div class="container">
      <div class="row">
        <!-- blog-left-sidebar start TODO: make css class to fix mobile for all-->
        <div class="col-lg-3 col-md-3 col-sm-3" style="padding-bottom:20px;">
          <div class="widget_area fix">
            <!-- widget-categories start -->
            <aside class="left_widget blog_border0">
              <h3 class="sidebar_middle_title">Using the API</h3>
              <ul class="sidebar_menu">
                <li><a href="#microservices">Hosted Microservices </a></li>
                <li><a href="#keys">API Access Keys </a></li>
                <li><a href="#rest">HTTP REST API </a></li>
                <li><a href="#sdk">Client SDK </a></li>
              </ul>
            </aside>
            <!-- widget-categories end -->
            <!-- widget-categories start -->
            <aside class="left_widget blog_border0">
              <h3 class="sidebar_middle_title">Additional Resources</h3>
              <ul class="sidebar_menu">
                <li><a href="{{appUrl}}/docs">Documentation</a></li>
                <li><a href="{{appUrl}}/faq">Frequently Asked Questions</a></li>
                <li><a href="{{appUrl}}/databases">Multi-Cloud Databases</a></li>
                <li><a href="{{appUrl}}/files">Multi-Cloud File Storage</a></li>
                <li><a href="{{appUrl}}/wishlist">Request a Feature</a></li>
              </ul>
            </aside>
            <!-- end widget-tag  -->
          </div>
        </div>        
        <!--end  blog-left-sidebar start -->
        <!-- shop-content start -->
        <div class="col-lg-9 col-md-9 col-sm-9">
          <!-- end single  blog item-->
          <div class="col-lg-12 col-md-12 col-sm-12 item">
            <div class="content">
              <a name="microservices"></a>
              <h2>Hosted Microservices and Webhooks</h2>
              <p>Remember, you don't have to use the {{appName}} Developer API from an outside system!</p>
              <p>{{appName}} provides free hosting for Microservices and Webhooks. These hosted services have full integrated access to the {{appName}} Developer API.</p>
              <p><a href="{{appUrl}}/new">Deploying a new hosted Microservice</a> is easy to do, and can be very useful if you intend to run a block of code in response to HTTP requests or as a <a href="{{appUrl}}/cron">scheduled task</a>.</p>

              <a name="keys"></a>
              <h2>API Access Keys</h2>
              <p>Any authorized usage of the {{appName}} Developer API will require an API access key with roles.</p>
              <p>Generating an API access key is simple. Just visit <a href="keys">/keys</a> and create a new key with the required roles you wish to use on the Developer API.</p>
              <p class="hint">Tip: Generate new keys with granular roles per service in order to maximize your account's security.</p>

              <a name="rest"></a>
              <h2>REST HTTP API</h2>
              <p>All services and URLs on {{appName}} can be communicated with using simple HTTP requests.</p>
              <p>Every actionable page on the {{appName}} website is also an API endpoint capable of receiving data from a JSON POST or Form POST.</p>
              <p>The content of the rendered page result will be determined by the <code>content-type</code> header of the incoming HTTP request to the API. <a href="{{appUrl}}/docs#content-type">Read More</a>.</p>
              <p>We'll be releasing a nicely formatted API definition file soon. Until then, we recommend checking out the <a href="{{appUrl}}/sdk">{{appName}}-sdk</a>.</p>

              <a name="sdk"></a>
              <h2>Client SDK</h2>
              <p>The easiest way to programmatically interact with the the {{appName}} HTTP API is by using the <a href="{{appUrl}}/sdk">{{appName}}-sdk client</a>.</p>
              <p>This SDK provides a full mapping of all {{appName}}'s API methods in an easy to use interface</p>
              <p>If you'd like to see additional API SDK clients added, you can <a href="https://github.com/bigcompany/hook.io-sdk/issues/new">open an issue here</a>.</p>

            </div>
          </div>
          <!-- end single  blog item-->
        </div>
        <!-- end shop-content start -->
      </div>  
    </div>  
  </div>