<div class="contact_area">
            <div class="page_title contact">
              <h1>Contact Us</h1>
            </div>  
            <form action="#" class="well mschema-forms-generic">
                <fieldset class="fieldset">
                  <legend>Contact Information</legend>
                  <div class="form_control">
                    <ul>
                      <li>
                        <div class="field">
                          <label class="label" for="Name">Name <em>*</em></label>
                          <div class="input-box">
                             <input type="text" class="form-control border_color" id="Name">
                          </div>
                        </div>
                        <div class="field email">
                          <label class="label" for="email">Email <em>*</em></label>
                          <div class="input-box einput">
                            <input type="email" class="form-control border_color " id="email">
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="field">
                          <label class="label" for="Telephone">Telephone</label>
                          <div class="input-box">
                            <input type="text" class="form-control border_color" id="Telephone">
                          </div>                        
                        </div>
                      </li>
                      <li>
                        <div class="field">
                          <label class="label" for="Comment">Comment <em>*</em></label>
                          <div class="input-box">
                            <textarea class="form-control border_color" id="Comment" cols="30" rows="7"></textarea>
                          </div>
                        </div>
                      </li>
                    </ul>
                </fieldset>
                <div class="button_set">
                  <p>* Required Fields</p>
                    <div class="newsl_button">
                      <button type="submit"><span>SUBMIT</span></button>
                    </div>  
                </div>
              </div>
            </form>
          </div>