<link href="/css/jquery-ui.css" rel="stylesheet">

<script src="/js/jquery-ui.js"></script>
<script src="/js/jquery.croneditor.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    // TODO: enable cron functionality
    $('.cronDiv').croneditor();
  });
</script>


<div align="left">
  <h1>Cron</h1>
  <p>All Hooks support the ability to schedule their execution based on a date time pattern.</p>
  <p>We call this time pattern a <a href="http://en.wikipedia.org/wiki/Cron#Format">Cron</a>.</p>
  <h2>Example Cron Patterns</h2>
  <div class="cronDiv"></div>
  <a href="http://en.wikipedia.org/wiki/Cron#Format">Additional Cron Documentation</a>
  <br/><br/>
  <br/><br/>
</div>