<link href="{{appUrl}}/css/jquery-ui.css" rel="stylesheet"/>

<style>
  .serverTime {
    font-style: italic;
  }
</style>

<script src="/js/jquery-ui.js"></script>
<script src="/js/jquery.croneditor.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    // TODO: enable cron functionality
    $('.cronDiv').croneditor();
  });
</script>

<div>
  <h1>Cron</h1>
  <div align="left" class="container content">
    <p>All Hooks support the ability to schedule their execution based on a date time pattern. We call this date time pattern a <a href="http://en.wikipedia.org/wiki/Cron#Format">Cron</a>.</p>
    <p>Once a Cron is activated, the Hook will execute based on it's Cron schedule</p>
    <!--
    <p>By design, Crons will not pass any data into the Hook. If you need to pass data into the scheduled Hook, you can simply set default data in the Hook or chain two Hooks together to pipe the data.</p>
    -->
    <div class="userCrons">
      <h2>Current Cron Functions</h2>
      <h3>Server time <span class="serverTime"></span></h3>
      <table class="currentCrons table">
        <tr>
          <td>Hook Name</td>
          <td>Cron Pattern</td>
          <td>Last Execution</td>
          <td>Next Estimated Execution</td>
        </tr>
      </table>
    </div>

    <h2>Example Cron Patterns</h2>
    <div class="cronDiv"></div>
    <a href="http://en.wikipedia.org/wiki/Cron#Format">Additional Cron Documentation</a>
    <br/>
    <br/>
    <h2><a href="{{appUrl}}/new" target="_blank">Create a New Cron Function with this pattern</a></h2>

  </div>
</div>