<link href="{{appUrl}}/css/jquery-ui.css" rel="stylesheet">

<script src="/js/jquery-ui.js"></script>
<script src="/js/jquery.croneditor.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    // TODO: enable cron functionality
    $('.cronDiv').croneditor();
  });
</script>

<div>
  <h1>Cron</h1>
  <div align="left" class="container content">
    <p>All Hooks support the ability to schedule their execution based on a date time pattern.</p>
    <p>We call this date time pattern a <a href="http://en.wikipedia.org/wiki/Cron#Format">Cron</a>.</p>
    <p>By design, Crons will not pass any data into the Hook. If you need to pass data into the scheduled Hook, you can simply set default data in the Hook or chain two Hooks together to pipe the data.</p>
    <h2><a href="{{appUrl}}/new">Create a New Service Now</a></h2>
    <h2>Example Cron Patterns</h2>
    <div class="cronDiv"></div>
    <a href="http://en.wikipedia.org/wiki/Cron#Format">Additional Cron Documentation</a>
    <br/><br/>
    <br/><br/>
  </div>
</div>