<style>
  input {
    width: 600px;
  }
  .curlDiv {
    text-align:left;
  }
</style>


<div class="curlDiv">
  <h1>Curl</h1>
  <div class="container content">
    <p><a href="http://curl.haxx.se/">Curl</a> is a command line tool for making HTTP requests. It comes prepackaged on most machines or can be easily installed.</p>

    <p>Curl is useful not only for debugging simple requests, but also connecting your Hooks directly to the Unix Toolchain through standard Unix Pipes.</p>

    <!-- TODO: add link and explanation to command line tool -->

    <h2><strong>Simple GET Request</strong></h2>

    <p>To perform a simple HTTP Get request with query string variables try the following command:</p>

    <p>
      <input type="text" value="curl {{appUrl}}/Marak/isTheWebsiteDown?url=http://google.com"/>
    </p>

    <br/>

    <h2><strong>Urlencoded Form Post</strong></h2>

    <p>To perform an HTTP POST form submission with some data fields try the following command:</p>

    <p>
      <input type="text" value="curl --data 'foo=bar&hello=there' {{appUrl}}/Marak/echo"/>
    </p>

    <br/>

    <h2><strong>Simple JSON Post</strong></h2>

    <p>To perform a simple HTTP JSON POST with some data fields try the following command:</p>

    <p>
      <input type="text" value="curl -H &quot;Content-Type: application/json&quot; -X POST -d '{&quot;foo&quot;:&quot;bar&quot;,&quot;hello&quot;:&quot;there&quot;}' http://echo.{{appName}}
      "/>
    </p>

    <br/>

    <h2><strong>Multipart file upload</strong></h2>

    <p>To HTTP POST multipart form files, you'll need a file to send. Assuming "cat.png" is an image on your local machine try the following command:</p>

    <p>
      <input type="text" value="cat cat.png | curl -F 'degrees=180' -F 'image=@-;type=image/png' {{appUrl}}/Marak/image/rotate &#62; upsidedown-cat.png"/>
    </p>

    <br/>

    <h2><strong>Piping Binary Data Streams</strong></h2>

    <p>To stream binary data try one of the following commands:</p>

    <p>
      This example will pipe the output of <strong>echo</strong> to a simple transform Hook that will append text to the stream.
      <input type="text" value="echo 'foo' | curl --header 'content-type: application/octet-stream' --data-binary @- {{appUrl}}/Marak/transform"/>
    </p>
    <br/>
    <p>
      This example will <strong>cat</strong> the local "cat.png" file, pipe it to an image resize Hook and then pipe the result back to the local file system as "upsidedown-cat.png".
      <input type="text" value="cat cat.png | curl --header 'content-type: application/octet-stream' --data-binary @- {{appUrl}}/Marak/image/rotate?degrees=180 &#62; upsidedowncat.png" />
    </p>

    <h2><strong>Use Your Imagination</strong></h2>
    <p>There are a plethora of Unix Tools available that have been in development for decades.</p> 
    <p>Think of the Unix tool-chain and the possibilities of connecting it directly to another set of tools ( Hooks ) which can natively pipe data around the web.</p><p>Combining these tool-chains can yield very powerful results. Try creating a Hook which does that <a href="{{appUrl}new">now</a>.</p>

    <br/>
    <br/><br/>
  </div>
</div>