<div class="blog-area">
  <h1>Databases</h1>
    <div class="container">
      <div class="row">
        <!-- blog-left-sidebar start -->
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="widget_area fix">
            <!-- widget-categories start -->
            <aside class="left_widget blog_border0">
              <h3 class="sidebar_middle_title">Multi-Cloud Databases</h3>
              <ul class="sidebar_menu">
                <li><a href="#">Which Databases do you support? </a></li>
                <li><a href="#">How to use Databases in a service </a></li>
                <li><a href="#">Consider the Cloud Datastore </a></li>
              </ul>
            </aside>
            <!-- widget-categories end -->
            <!-- widget-categories start -->
            <aside class="left_widget blog_border0">
              <h3 class="sidebar_middle_title">Supported Databases</h3>
              <ul class="sidebar_menu">
                <li><a href="/datastore">Built-in Datastore</a> </li>
                <li><a href="#">CouchDB</a> </li>
                <li><a href="#">Redis</a> </li>
                <li><a href="#">MongoDB</a> </li>
                <li><a href="#">DynamoDB</a> </li>
              </ul>
            </aside>
            <aside class="left_widget blog_border0">
              <h3 class="sidebar_middle_title">Additional Resources</h3>
              <ul class="sidebar_menu">
                <li><a href="#">Considerations</a></li>
                <li><a href="#">Cloud Datastore</a></li>
                <li><a href="#">Planned Features</a></li>
                <li><a href="/wishlist">Request a Feature</a></li>
              </ul>
            </aside>

            <!-- end widget-tag  -->            
          </div>
        </div>        
        <!--end  blog-left-sidebar start -->
        <!-- shop-content start -->
        <div class="col-lg-9 col-md-9 col-sm-9">
          <!-- end single  blog item-->         
          <div class="col-lg-12 col-md-12 col-sm-12 item">
            <div class="blog_content blogmt">


              <h2>Multi-cloud Databases</h2>

              <p>{{appName}} works with all major known database technologies. We have tested and created examples for the following technologies:</p>

              <h2>Supported Databases</h2>
              <ul>
                <li>CouchDB</li>
                <li>Redis</li>
                <li>MongoDB</li>
                <li>DynamoDB</li>
              </ul>

              <h2>Built-in Cloud Datastore</h2>

              <p>Don't want to provision your own Database? We've got you covered!</p

              <p>{{appName}} provides a simple integrated Datastore API using our own multi-cloud database.</p>


            </div>
          </div>
          <!-- end single  blog item-->
        </div>
        <!-- end shop-content start -->
      </div>  
    </div>  
  </div>