<style>
  .api {
    font-size: 22px;
    list-style: none;
  }
</style>
<div align="left">
  <h1>Cloud Datastore<h1>

  <h2>A powerful key-value database for storing and retrieving persistent data from a Hook</h2>
  <p>
    Hook.io's Datastore API allows developers to seamlessly set and retrieve documents from a persistent datastore using unique keys.
  </p>

  <div class="last">
    <h2>Your latests records</h2>
    <ul class="lastKeys">
      <li>list items go here</li>
    </ul>
  </div>

  <h2>API</h2>
  <ul class="api">
    <li>hook.datastore.set(<em>key, value, callback</em>)</li>
    <li>hook.datastore.get(<em>key, callback</em>)</li>
    <li>hook.datastore.del(<em>key, callback</em>)</li>
    <li>hook.datastore.exists(<em>key, callback</em>)</li>
    <li>hook.datastore.recent(<em>callback</em>)</li>
  </ul>

  <p>This Datastore API is powered internally by Redis, so any native <a href="http://redis.io/commands">Redis commands</a> could become available. If you require an additional method not listed please <a href="http://github.com/bigcompany/hook.io/issues">file a support issue</a>.</p>

  <h2>Limitations</h2>
  <p>Currently free development accounts are limited to 100 unique documents per account. If you require more than 100 documents you can updgrade to a <a href="/pricing">paid account</a> or contact <a href="mailto:hookmaster@hook.io">hookmaster@hook.io</a></p>

  <h2>Security</h2>
  <p>You <strong>should not</strong> store any un-encrypted sensitive information in the Cloud Datastore ( such as passwords / credit cards / keys ).
  </p> 
  <p>At this time, hook.io does not offer automatic encryption of data stored in the Cloud Datastore. In the future, we will most likely add this feature.</p>

  <h2>Datastore Example:</h3> <br/><br/>
  <div data-gist="57408d6e745479c4a2d7">Loading Gist...</div>
  <br/>
  <br/>
</div>