<style>
  .grid {
    text-align:left;
  }
</style>

<div>
  <h1>Domains</h1>

<div class="splash container" align="left">
  <p>Custom domains are a great way to brand the appearance of a service with it's own unique domain name.</p>
  
  <h2>{{appName}} Subdomains</h2>
  <p>
    Subdomains at <code>*.{{appName}}</code> are available on a first come first serve basis.</p><p> To associate a subdomain with a Hook, simply add the subdomain entry in the form below ( login required ).
  </p>
  <p>
    <strong>Example:</strong> <br/>
    <strong>name:</strong> <code>echo.{{appName}}</code> <strong>hook: </strong><code>/Marak/echo</code><br/>
    Now <a href="http://{{appName}}/Marak/echo">http://{{appName}}/Marak/echo</a> will redirect to : <a href="http://echo.{{appName}}/">http://echo.{{appName}}/</a>
  </p>

  <hr/>
  <h2>Custom Domains</h2>

  <p>To add a Custom Domain, you will need to associate the domain's <code>A record</code> to <code>104.131.118.1</code> ( which is the ip address of {{appName}} ).</p>

  <p>Changing the <code>A record</code> of the domain is done in the domain's DNS manager. This setting is not managed by {{appName}} The DNS manager for the domain is usually located on the site which the domain is currently hosted or where the domain was purchased from.</p>

  <p>Once the <code>A record</code> is updated. Add the custom domain entry in the form below ( login required ).
  <p>
    <strong>Example:</strong> <br/>
    <strong>name:</strong> <code>marak.com</code> <strong>hook: </strong><code>/Marak/view</code><br/>
    <strong>name:</strong> <code>www.marak.com</code> <strong>hook: </strong><code>/Marak/view</code><br/>
    Now <a href="http://marak.com">http://marak.com/</a> and <a href="http://www.marak.com">http://www.marak.com/</a> will redirect to: <a href="http://{{appName}}/Marak/view">http://{{appName}}/Marak/view</a>
  </p>

  
  <div class="row loginBar">
    <br/>
    <div class="col-md-12" align="center">
      <a href="{{appUrl}}/login" class="btn btn-social btn-github" style="padding: 14px 24px;font-size: 21px;"><i class="fa fa-github"></i><span style="padding-left:60px"> Sign in with Github</span></a>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    
  </div>
  <br/>
  <div class="domains"></div>
  <br/>
  <br/>
</div>

</div>