<style>
.cron-button {
    height: 16px;
    padding-left: 20px;
    margin-left: 5px;
    background-repeat: no-repeat; 
    background-position: center center; 
    cursor: pointer;
}
.cron-button-save {
    background-image: url('img/disk.png');
}
.cron-changed {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fdd;
}
.cron-controls {
    margin-left: 10px;
    color: #c77;
    font-size: 0.9em;
}
.cron-controls > span.cron-loading {
    background-image: url('img/loading.gif');
}

.cronRow {
  display: none;
}

.cronRow .tabs {
  font-size:16px;
}
.cronRow #clear {
  font-size:16px;
}

input[type="text"] {
  width: 600px;
}

input[name="cronActive"] {
  cursor: pointer;
}

</style>

<link href="/css/jquery-ui.css" rel="stylesheet">
<script src="/js/jquery-ui.js"></script>
<script src="/js/jquery.croneditor.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.cronDiv').croneditor();
    $('input[name="cronActive"]').click(function(){
      if($(this).prop('checked')) {
        $('.cronRow').show();
      } else {
        $('.cronRow').hide();
      }
    });
    if($('.cronRow').attr('showMe') === "true") {
      $('.cronRow').show();
    }
    if($('.cronRow').attr('cronString').length > 0) {
      $('#cronString').attr('value',$('.cronRow').attr('cronString')) ;
    }
    
  });
</script>


<div style="text-align:left;">
  <h1>Edit Hook</h2>
    <br/>
    <form method="post" action="">
      <table class="table-condensed" style="font-size:22px;">
        <tr>
          <td align="left">Hook Name</td>
          <td><input type="text" id="name" name="name" placeholder="name of hook" size="40"/></td>
        </tr>
        <tr>
          <td align="left">Hook Source Code:</td>
          <td><input type="text" id="gist" name="gist" value="https://gist.github.com/Marak/357645b8a17daeb17458" size="40"/></td>
        </tr>
        <tr>
          <td align="left">Hook Theme:</td>
          <td><select name="theme">
            <option value="debug">debug</option>
            <option value="simple">simple</option>
            <option value="simple-form">simple-form</option>
          </select></td>
        </tr>
        <tr>
          <td colspan="2" style="font-size:16px;">
            To create a custom Hook Theme visit: <a href="http://hook.io/themes">http://hook.io/themes</a>
          </td>
        </tr>
        <tr>
          <td align="left">Active Cron</td>
          <td><input type="checkbox" name="cronActive"/><span style="font-size:14px;">&nbsp;&nbsp;If checked, the Hook will run as a scheduled task. see: <a href="http://hook.io/cron">hook.io/cron</a></span></td>
        </tr>
        <tr class="cronRow">
          <td colspan="2"><div class="cronDiv"></div></td>
        </tr>
        <tr>
          <td colspan="2">
            <input tabindex="1" id="update" name="update" type="submit" value="Update Hook"/ class="btn">
          </td>
        </tr>
      </table>
    </form>

    
</div>