

<!--
<style>
  p {
    font-size: 22px;
  }
  input {
    width: 600px;
  }
  .apiDiv {
    text-align:left;
  }
</style>
-->

<div class="blog-area">
  <h1>System Events</h1>
    <div class="container">
      <div class="row">
        <!-- blog-left-sidebar start -->
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="widget_area fix">
            <!-- widget-categories start -->
            <aside class="left_widget blog_border0">
              <h3 class="sidebar_middle_title">System Events</h3>
              <ul class="sidebar_menu">
                <li><a href="#roles">Events and Role Access </a></li>
                <li><a href="#writing">Writing to System Events </a></li>
              </ul>
            </aside>
            <!-- widget-categories end -->
            <!-- widget-categories start -->
            <aside class="left_widget blog_border0">
              <h3 class="sidebar_middle_title">Events API</h3>
              <ul class="sidebar_menu">
                <li><a href="#auth">Authentication</a></li>
                <li><a href="#streaming">Streaming Events</a></li>
                <li><a href="#plain-text">Plain-text Events</a></li>
                <li><a href="#sdk">Client SDK </a></li>
              </ul>
            </aside>
            <!-- end widget-tag  -->
          </div>
        </div>        
        <!--end  blog-left-sidebar start -->
        <!-- shop-content start -->
        <div class="col-lg-9 col-md-9 col-sm-9">
          <!-- end single  blog item-->
          <div class="col-lg-12 col-md-12 col-sm-12 item">
            <div class="content">

              <style>
                .events h1 {
                  padding-top: 20px;
                }
                .events h2 {
                  padding-top: 10px;
                  text-decoration: underline;
                }
                .events h3 {
                  text-decoration: underline;
                }
              </style>
              <div align="left" class="events">

                <p>All actions on {{appName}} are tracked internally as System Events. These events are useful for monitoring the actions your services are performing.</p>
                <!-- >
                <h2>TODO: login to manage event settings</h2>
                -->

                <a name="roles"></a>
                <h2>Events and Role Access</h2>
                <p>It's important to note that all {{appName}} events are available as <a href="{{appUrl}}/roles">Access Roles</a>. This mapping allows granular <a href="{{appUrl}}/keys">role based key access</a> per System Event. <a href="{{appUrl}}/keys"></a></p>

                <!--
                  <h3>todo: add checklist for configuring events</h3>
                  <div class="root">Current User's Events: <a href="#" class="currentRoot">loading...</span></div>
                  <pre class="recent"></pre>
                -->

                <a name="writing"></a>
                <h2>Writing to System Events</h2>
                <p>Several useful events ( such as <code>hook::run</code> or <code>keys::authCheck</code>) are <em>automatically</em> written to your event service log.</p>
                <p>A full listing of available events can currently be <a href="{{appUrl}}/roles">found here</a>.</p>
                <p>Currently, {{appName}} does not support writing custom system events.</p>

                <a name="api"></a>
                <h2>Events API</h2>

                <p>To access the System Event log for an account, simply attach <code>/events</code> to the end of your account homepage.</p>
                <p><strong>For example:</strong> <a href="{{appUrl}}/marak/events">{{appUrl}}/Marak/events</a></p>
                <p>The events endpoint for a Hook will intelligently respond based on the incoming HTTP <code>Accept</code> Header.</p>

                <a name="auth"></a>
                <h3>Authentication</h3>
                <p>By default, {{appName}} system events are private. In order to access them from a third-party service, you'll need to generate a valid <a href="{{appUrl}}/keys">API Access Key</a> with the <code>events::read</code> role.</p>
                <p>Below is a link which contains a limited <a href="{{appUrl}}/roles">role</a> API Access Key created only for demonstration purposes.</p>
                <p><a href="http://{{appName}}/marak/events?hook_private_key=b4b1153f-ae6c-49f5-9cd7-1f554a6c1a1e">http://{{appName}}/marak/events?hook_private_key=b4b1153f-ae6c-49f5-9cd7-1f554a6c1a1e</a></p>

                <a name="streaming"></a>
                <h3>Streaming events</h3>
                <p>To access streaming events, request the events endpoint with an <code>Accept</code> Header value of <code>*/*</code></p>
                <p><strong>Example: </strong><code>curl -N {{appUrl}}/Marak/events</code></p>

                <a name="plain-text"></a>
                <h3>Plain Text Events</h3>
                <p>To access plain text events, request the events endpoint with an <code>Accept</code> Header value of <code>text/plain</code></p>
                <p><strong>Example: </strong ><code>curl -H "Accept: text/plain" {{appUrl}}/Marak/events</code></p>

                <a name="sdk"></a>
                <h3>Client SDK</h3>
                <p>Using the <a href="{{appUrl}}/sdk">Client SDK</a> to access events is simple</p>
                <p>Here are two examples of using the Client SDK. See <a href="{{appUrl}}/sdk">SDK</a> for more information</p>
                <p>
                <code><pre>
var sdk = require("hook.io-sdk");
var client = sdk.createClient({});
// callback style
client.events.get('marak', function (err, events) {
  console.log(err, events);
});
// streaming
client.events.stream('marak', process.stdout);
                </pre></code>
                </p>

                <!--
                <a name="limitations"></a>
                <h2>Limitations</h2>
                <p>Currently all Free accounts are limited to fifty System Events per account. If you need to increase this limit you can <a href="{{appUrl}}/pricing">upgrade to a paid account</a> or contact <a href="mailto:hookmaster@{{appName}}">hookmaster@{{appName}}</a>
                -->
              </div>

            </div>
          </div>
          <!-- end single  blog item-->
        </div>
        <!-- end shop-content start -->
      </div>  
    </div>  
  </div>