<style>
  .example {
    font-size:26px;padding-top: 20px;
  }
</style>
<div align="left">
  <h1>Interactive Examples</h1>
  <br/>
    <h2>These examples can be run directly in the browser or from any client which speaks HTTP.</h2>
    <br/>
    <h3>Want to add more examples? hook.io is a <a href="https://github.com/bigcompany/hook.io">100% open-source</a> project. Simply open a Pull Request to <a href="https://github.com/bigcompany/hooks">this repository</a>.</h3>
    <br/>
    <h2>Basic Examples</h2>
    <div class="example">
      <a href="http://echo.hook.io">Echo incoming HTTP requests</a> <br/>
      <a href="/Marak/transform">Transform streams of HTTP data</a> <br/>
      <a href="/Marak/pipe">Pipe hooks into each together</a> <br/>
      <a href="/Marak/merge">Merge multiple hooks into a single hook</a> <br/>
      <a href="/Marak/isTheWebsiteDown">Check if a website is down</a> <br/>
      <a href="/Marak/image">Manipulate images</a> <br/>
      <a href="http://coin.hook.io">Crypto-currency price listings</a> <br/>
      <a href="http://markdown.hook.io">Streaming Markdown Parser</a> <br/>
      <a href="http://geoip.hook.io">GeoIP lookup with Google Maps</a> <br/>
      <br/>
    </div>
    <h2>Language Specific Examples</h2>
    <div class="examples example">
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</div>