<style>
  .sidebar_menu {
    text-transform: capitalize;
  }
</style>

<div class="blog-area">
  <h1>Interactive Examples</h1>
    <div class="container">
      <div class="row">
        <!-- shop-content start -->
        <div class="col-lg-12 col-md-12 col-sm-12">
          <!-- end single  blog item-->         
          <div class="col-lg-12 col-md-12 col-sm-12 item">
            <div class="content">
              <a name="basic"></a>
              <h2>JavaScript</h2>
              <div class="example">
                <!-- TODO: make buttons and table -->
                <a href="{{appUrl}}/examples/echo/_src">Echo incoming HTTP requests</a> <br/>
                <a href="{{appUrl}}/examples/javascript-stream-transform/_src">Transform streams of HTTP data</a> <br/>
                <a href="{{appUrl}}/examples/javascript-pipe-hook/_src">Pipe hooks into each together</a> <br/>
                <a href="{{appUrl}}/examples/javascript-stream-merge/_src">Merge multiple hooks into a single hook</a> <br/>
                <a href="{{appUrl}}/examples/isthewebsitedown/_src">Check if a website is down</a> <br/>
                <!-- 
                <a href="{{appUrl}}/examples/coin/_src"><span title="View Source" class="forkBtn octicon octicon-file-code"></span></a>
                <a href="{{appUrl}}/examples/coin/fork"><span title="Fork" class="forkBtn octicon octicon-repo-forked"></span></a>
                <a href="{{appUrl}}/examples/coin">Crypto-currency price listings</a> <br/>

                <a href="{{appUrl}}/examples/geoip/_src"><span title="View Source" class="forkBtn octicon octicon-file-code"></span></a>
                <a href="{{appUrl}}/examples/geoip/fork"><span title="Fork" class="forkBtn octicon octicon-repo-forked"></span></a>
                <a href="{{appUrl}}/examples/geoip">GeoIP lookup with Google Maps</a> <br/>
                -->
                <a href="{{appUrl}}/examples/markdown/_src">Streaming Markdown Parser</a> <br/>
                <br/>
              </div>
              
              <h2>Bash</h2>
              <div class="example">
                <a href="{{appUrl}}/examples/bash-echo/_src">Echo incoming HTTP requests</a> <br/>
                <a href="{{appUrl}}/examples/bash-send-http-request/_src">Send HTTP Request</a> <br/>
                <br/>
              </div>

              <h2>Python 3</h2>
              <div class="example">
                <a href="{{appUrl}}/examples/python3-echo/_src">Echo incoming HTTP requests</a> <br/>
                <a href="{{appUrl}}/examples/python3-send-http-request/_src">Send HTTP Request</a> <br/>
                <br/>
              </div>

              <h2>Python</h2>
              <div class="example">
                <a href="{{appUrl}}/examples/python-echo/_src">Echo incoming HTTP requests</a> <br/>
                <a href="{{appUrl}}/examples/python-send-http-request/_src">Send HTTP Request</a> <br/>
                <a href="{{appUrl}}/examples/python-wsgi/_src">WSGI Handler</a> <br/>
                <br/>
              </div>

              <h2>Lua</h2>
              <div class="example">
                <a href="{{appUrl}}/examples/lua-echo/_src">Echo incoming HTTP requests</a> <br/>
                <a href="{{appUrl}}/examples/lua-send-http-request/_src">Send HTTP Request</a> <br/>
                <br/>
              </div>

              <h2>Ruby</h2>
              <div class="example">
                <a href="{{appUrl}}/examples/ruby-echo/_src">Echo incoming HTTP requests</a> <br/>
                <a href="{{appUrl}}/examples/ruby-send-http-request/_src">Send HTTP Request</a> <br/>
                <br/>
              </div>

              <h2>PHP</h2>
              <div class="example">
                <a href="{{appUrl}}/examples/php-echo/_src">Echo incoming HTTP requests</a> <br/>
                <a href="{{appUrl}}/examples/php-send-http-request/_src">Send HTTP Request</a> <br/>
                <br/>
              </div>

              <!--
              <a name="basic"></a>
              <h2>Cloud Datastore Examples</h2>
              <div class="example">
                <a href="{{appUrl}}/marak/examples-javascript-writeFile">Upload a File</a> <br/>
                <a href="{{appUrl}}/marak/examples-javascript-readFile">Download a File</a> <br/>
                <a href="{{appUrl}}/marak/examples-javascript-readdir">Read a Directory</a> <br/>
                <a href="{{appUrl}}/marak/examples-javascript-removeFile">Remove a File</a> <br/>
                <a href="{{appUrl}}/marak/examples-javascript-stat">Perform File Stat</a> <br/>
                <br/>
              </div>
              -->
              <!--
              <a name="files"></a>
              <h2>Cloud Files Examples</h2>
              <div class="example">
                <a href="{{appUrl}}/marak/examples-javascript-files-writefile/_src"><span title="View Source" class="forkBtn octicon octicon-file-code"></span></a>
                <a href="{{appUrl}}/marak/examples-javascript-files-writefile/fork"><span title="Fork" class="forkBtn octicon octicon-repo-forked"></span></a>
                <a href="{{appUrl}}/marak/examples-javascript-files-writefile">Upload a File</a> <br/>

                <a href="{{appUrl}}/marak/examples-javascript-files-readfile/_src"><span title="View Source" class="forkBtn octicon octicon-file-code"></span></a>
                <a href="{{appUrl}}/marak/examples-javascript-files-readfile/fork"><span title="Fork" class="forkBtn octicon octicon-repo-forked"></span></a>
                <a href="{{appUrl}}/marak/examples-javascript-files-readfile">Download a File</a> <br/>

                <a href="{{appUrl}}/marak/examples-javascript-files-readdir/_src"><span title="View Source" class="forkBtn octicon octicon-file-code"></span></a>
                <a href="{{appUrl}}/marak/examples-javascript-files-readdir/fork"><span title="Fork" class="forkBtn octicon octicon-repo-forked"></span></a>
                <a href="{{appUrl}}/marak/examples-javascript-files-readdir">Read a Directory</a> <br/>

                <a href="{{appUrl}}/marak/examples-javascript-files-removeFile/_src"><span title="View Source" class="forkBtn octicon octicon-file-code"></span></a>
                <a href="{{appUrl}}/marak/examples-javascript-files-removefile/fork"><span title="Fork" class="forkBtn octicon octicon-repo-forked"></span></a>
                <a href="{{appUrl}}/marak/examples-javascript-files-removefile">Remove a File</a> <br/>

                <a href="{{appUrl}}/marak/examples-javascript-files-stat/_src"><span title="View Source" class="forkBtn octicon octicon-file-code"></span></a>
                <a href="{{appUrl}}/marak/examples-javascript-files-stat/fork"><span title="Fork" class="forkBtn octicon octicon-repo-forked"></span></a>
                <a href="{{appUrl}}/marak/examples-javascript-files-stat">Perform File Stat</a> <br/>
                <br/>
              </div>
              -->
            </div>
          </div>
        </div>
        <!-- end single  blog item-->
      </div>
      <!-- end shop-content start -->
    </div>  
  </div>  
</div>