<div class="blog-area">
    <h1>Frequently Asked Questions</h1>
    <div class="container">
      <div class="row">
        <!-- blog-left-sidebar start -->
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="widget_area fix">
            <!-- widget-categories start -->
            <aside class="left_widget blog_border0">
              <h3 class="sidebar_middle_title">Microservices</h3>
              <ul class="sidebar_menu">
                <li><a href="#">What is a microservice? </a></li>
                <li><a href="#">Why build with microservices? </a> </li>
                <li><a href="#">Do you support Webhooks? </a> </li>
                <li><a href="#">Do you support Websockets? </a> </li>
                <li><a href="#">Why can't I start a server? </a> </li>
              </ul>
            </aside>
            <!-- widget-categories end -->
            <!-- widget-categories start -->
            <aside class="left_widget blog_border0">
              <h3 class="sidebar_middle_title">Deployment</h3>
              <ul class="sidebar_menu">
                <li><a href="#">Deploying your first service</a></li>
                <li><a href="#">Testing your service</a></li>
                <li><a href="#">Running your service</a></li>
                <li><a href="#">Sending data to your service</a></li>
              </ul>
            </aside>
            <aside class="left_widget blog_border0">
              <h3 class="sidebar_middle_title">Logging and Events</h3>
              <ul class="sidebar_menu">
                <li><a href="#">Deploying your first service</a></li>
                <li><a href="#">Running your service</a></li>
                <li><a href="#">Sending data to your service</a></li>
              </ul>
            </aside>
            <aside class="left_widget blog_border0">
              <h3 class="sidebar_middle_title">Roles and API Access Keys</h3>
              <ul class="sidebar_menu">
                <li><a href="#">Deploying your first service</a></li>
                <li><a href="#">Running your service</a></li>
                <li><a href="#">Sending data to your service</a></li>
              </ul>
            </aside>
              <h3 class="sidebar_middle_title">Additional Resources</h3>
              <ul class="sidebar_menu">
                <li><a href="/docs">Documentation</a></li>
                <li><a href="https://github.com/bigcompany/hook.io">Open-source Code</a></li>
                <li><a href="/wishlist">Feature Wishlist</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/contact#security">Report Security Venerability</a></li>
              </ul>
            </aside>
            
            <!-- widget-categories end -->  
          <!-- widget-tag start -->
            <aside class="left_middle_widget">
              <h3 class="sidebar_middle_title">Supported Languages</h3>
              <ul class="tag">
                <!--
                <li><a href="#">JavaScript</a></li>
                <li><a href="#">Node.js</a></li>
                <li><a href="#">Ruby</a></li>
                <li><a href="#">Perl</a></li>
                <li><a href="#">PHP</a></li>
                <li><a href="#">Bash</a></li>
                -->
              </ul>
              <!--
              <div class="view_all">
                <a href="">View All Technologies</a>
              </div>
              -->
            </aside>
            <!-- end widget-tag  -->
          </div>
        </div>        
        <!--end  blog-left-sidebar start -->
        <!-- shop-content start -->
        <div class="col-lg-9 col-md-9 col-sm-9">
          <!-- end single  blog item-->         
          <div class="col-lg-12 col-md-12 col-sm-12 item">
            <div class="blog_content blogmt">
                <h2>Microservices</h2>
                <a name="#what-is-a-microservice"></a>
                <h3>What are microservices?</h3>
                <p>
                  Microservice are small, independent processes that communicate with each other to form complex applications which utilize language-agnostic APIs.
                </p>
                <p>These services are small building blocks, highly decoupled and focused on doing a small task, facilitating a modular approach to system-building</p>
                <p>On {{appName}}, microservices are represented by single function matched to a single unique URL</p>
                <a name="#what-is-a-microservice"></a>
                <h3>Why build with microservice?</h3>
                <p>
                  Building with microservices is advantegous for several reasons
                </p>
                <p>
                  Decoupled Modular Application Design <br/>
                  Stateless and Highly Fault Tolerant <br/>
                  Easy to reason and maintain smaller functions </br>
                </p>
                <hr/>
                <br/>
                <h2>Deployment</h2>
                <a name="#what-is-a-microservice"></a>
                <h3>Deploying your first service</h3>
                <p>
                  Deploying microservices on {{appName}} is very easy!
                </p>
                <p>First, you'll need to register for a <a href="/new">Free Developer Account</a>. Once you have an account visit the <a href="/new">/new</a> page to create a new service.</p>
                <p>When asked to build the service you'll need to provide a few key pieces of information such as:</p>
                <p>Service Name / Service Code / explain defaults</p>
                <a name="#what-is-a-microservice"></a>

                <h3>Running your service</h3>
                <p>To run a service, simply visit the URL which was created with that service</p>

                <h3>Sending data to your service</h3>
                <p>All services are automatically capable of parsing most types of incoming HTTP request data.</p>
                <ul>
                  <li>Query String Parameters</li>
                  <li>Form / Multipart Parameters</li>
                  <li>Streaming HTTP / Streaming Binary Data</li>
                  <li>JSON</li>
                </ul>
            </div>
          </div>
          <!-- end single  blog item-->
        </div>
        <!-- end shop-content start -->
      </div>  
    </div>  
  </div>