<div class="gistSplash" style="font-size:22px;background-image: url('./img/socialite.png');background-repeat: none;height:800px;text-align:left;">
  <h1>Github Gist</h1>
  <p><a href="http://gist.github.com">http://gist.github.com</a> is a free service for hosting small snippets of code.</p>
  <h2>The source code for a Hook is stored as a Github Gist.</h2>
  <p><em>This allows for seamless revisions, code-highlighting, source history, and shareability through forking.</em></p>
  <div align="center">
    <a href="{{appUrl}}/login" class="btn btn-social btn-github" style="padding-left:80px;"><i class="fa fa-github"></i> Sign in with Github</a>
  </div>
  <br/>
  <h2><strong>Here is an example of a Hook hosted on Github</strong></h2>
  <p>You can run this hook, or fork your own copy and instantly begin modifying it on Github.</p>
  <form method="POST" action="/Marak/echo">
    <input tabindex="1" id="run" name="run" type="submit" value="Run Hook"/ class="btn">
    <input tabindex="1" id="fork" name="fork" type="submit" value="Fork This Hook"/ class="btn">
  </form>
  <div data-gist="357645b8a17daeb17458">Loading...</div>
</div>

<div class="gistForm">
  <h1>About to create a new Hook</h1>
  <div class="gistSource"></div>
</div>