<div align="left">
  <h2>Support Developer</h2>

  <p>hook.io is hiring it's first employee! The position is for a Support Developer. The description can be found below.</p>

  <h3>Primary Responsibilities</h3>
  <p>
    <ul>
      <li>Handle incoming support requests ( through Email / Github Issues / Twitter / IRC )</li>
      <li>Create new product features based on user feedback</li>
      <li>Be a power-user of the hook.io platform</li>
      <li>Improve platform tooling ( testing / continuous integration / accessibility / localization )</li>
      <li>Improve developer tools ( api clients / command line tools / documentation )</li>
    </ul>
  </p>
  <h3>Required Skills</h3>
  <p>
    <ul>
      <li>Intermediate knowledge of JavaScript / HTML / CSS</li>
      <li>Experience using Github / Twitter / IRC</li>
    </ul>
  </p>
  <h3>Preferred Skills</h3>
  
  <p>
    <ul>
      <li>Experience with Node.js and NPM</li>
      <li>Experience managing open-source projects on Github</li>
      <li>Experience working in a Support role</li>
    </ul>
  </p>

  <h3>Compensation</h3>
  <p>Compensation will be based on experience. Pay will be on an hourly rate with a minimal of 10 hours per week. Equity is available.</p>

  <h3>How to Apply?</h3>
  <p>You would be the first employee. The best way to apply would be to sign up for the platform at <a href="http://hook.io">http://hook.io</a> and try it out. The next step is to visit <a href="http://github.com/bigcompany/hook.io/issues">http://github.com/bigcompany/hook.io/issues</a>. From here, you will need to open up a Pull Request that helps make the project better. If you can do that, you will most likely get the position.</p>

  <br/>
  <br/>
  <br/>
</div>