<style>
  .hooks {
    font-size: 28px;
    text-align: center;
  }
  .userBar {
    font-size: 28px;
    padding-bottom: 40px;
  }
  
  .manageEnv {
    font-size: 28px;
  }
  .referrals {
    font-size: 28px;
  }
  .noHooks {
    font-size:22px;
  }
  .navBar {
    padding-bottom:10px;
  }

</style>

<br/>
<div align="center">

  <div class="navBar">

    <div class="userBar">
      <div class="createHook">
        <a href="/new">Create new Hook</a>
      </div>

      <div class="manageEnv">
        <a href="/env">Manage Hook Environment Variables</a>
      </div>

      <div class="referrals">
        <a href="/referrals">Manage Referrals</a>
      </div>
      
    </div>
  </div>
  <div class="noHooks">
    <p>It looks like you haven't created any hooks yet!</p>
    <p>You can Create a new Hook by <a href="/new">clicking here</p>
  </div>

  <table class="hooks">
  </table>
</div>
<br/>
<br/>
<br/>