<style>
  .hooks {
    font-size: 28px;
    text-align: left;
  }
  .userBar {
    font-size: 28px;
    padding-bottom: 40px;
    text-align: left;
  }
  
  .userBar table {
    width: 100%;
    text-align: center;
    font-size: 22px;
    border: none;
  }

  .manageEnv {
    font-size: 28px;
  }
  .referrals {
    font-size: 28px;
  }
  .noHooks {
    font-size:22px;
  }
  .navBar {
    margin-bottom:0px;
  }

</style>

<script type="text/javascript">
  $(document).ready(function(){
    $('.deleteLink').on('click', function(){
      var name = $(this).attr('data-name');
      var result = confirm('Are you certain you want to destroy:\n\n' + name);
      if (result) {
        return true;
      } else {
        return false;
      }
    });
  });
</script>

<br/>
<div>
  <div class="navBar">
    <div class="userBar">
      <table>
        <tr>
          <td><a href="/new">Create new Hook</a></td>
          <td><a href="/env">Manage Hook Environment Variables</a></td>
          <td><a href="/referrals">Manage Referrals</a></td>
        </tr>
      </table>
      
    </div>
  </div>
  <div class="noHooks">
    <p>It looks like you haven't created any hooks yet!</p>
    <p>You can Create a new Hook by <a href="/new">clicking here</p>
  </div>
  <table class="hooks table">
  </table>
</div>
<br/>
<br/>
<br/>