<style>
  .hooks {
    font-size: 28px;
    text-align: left;
  }
  .userBar {
    font-size: 28px;
    padding-bottom: 40px;
    text-align: left;
  }
  
  .userBar table {
    width: 100%;
    text-align: center;
    font-size: 22px;
    border: none;
  }

  .manageEnv {
    font-size: 28px;
  }
  .referrals {
    font-size: 28px;
  }
  .noHooks {
    font-size:22px;
  }
  .navBar {
    margin-bottom:0px;
  }
  .megaRow .mega-octicon {
    font-size: 64px;
  }

</style>

<script type="text/javascript">
  $(document).ready(function(){
    $('.deleteLink').on('click', function(){
      var name = $(this).attr('data-name');
      var result = confirm('Are you certain you want to destroy:\n\n' + name);
      if (result) {
        return true;
      } else {
        return false;
      }
    });
  });
</script>

<br/>
<div>
  <div class="navBar">
    <div class="userBar">
      <table>
        <tr class="megaRow">
          <td align="left">
          <a href="/new" title="Create New Hook"><span class="mega-octicon octicon-plus"></span></a>
          &nbsp;&nbsp;&nbsp;
          <a href="/env" title="Manage Enviroment Variables"><span class="mega-octicon octicon-settings"></span></a>
          &nbsp;&nbsp;&nbsp;
          <a href="/logs" title="Logs"><span class="mega-octicon octicon-list-ordered"></span></a>
          &nbsp;&nbsp;&nbsp;

          <a href="/keys" title="Keys"><span class="mega-octicon octicon-key"></span></a>
          &nbsp;&nbsp;&nbsp;
          <a href="/domains" title="Manage Domains and Subdomains"><span class="mega-octicon octicon-globe"></span></a>
          &nbsp;&nbsp;&nbsp;
          <a href="/referrals" title="Manage Affilates / Referrals"><span class="mega-octicon octicon-broadcast"></span></a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="noHooks">
    <h2>It looks like you haven't created any hooks yet!</h2> <br/>
    <h2>You can Create a new Hook by <a href="/new">clicking here</h2>
      
  </div>
  <table class="hooks table">
  </table>
</div>
<br/>
<br/>
<br/>