<style>
  .userBar {
    font-size: 26px;
    padding-bottom: 40px;
    text-align: left;
    float: left;
    padding-left: 100px;
  }

  .tagLines li {
    font-size:22px;
    text-align: left;
    margin-left: 5px;
    list-style-image: url('/img/little-sideways-pipe-grey.gif');
  }
  .splashImage {
    padding-top: 10px;
    /* text-align: left; */
    /* width: 600px; */
    margin-top: 2px;
    margin-left: 16px;
  }

  .gist {
    width: 500px;
  }

  div.line {
    height: 16px;
    margin-top: 0.39px;
  }

  .gist-file div {
/*    line-height: 0.7em; */
  }
  .splashImage img {
    /*
    height: 60px;
    width: 115px;
    */
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    margin: 8px;
  }
  .features {
    list-style-type: disc;
    padding-left: 15px;
  }
  .splashSections > div {
    /* width: 565px; */
    font-size: 22px;
    text-align: left;
  }

  .userSplash {
    background-image: url('/img/robotcat.png');
    width: 360px;
    height: 342px;
    float: left;
    /* margin-left: 100px; */
   }

  .examples {
    /* width: 580px; */
    /* text-align: center; */
  }
  .loginBar {
   /* padding-top:10px; */
  }
  .loginBar .curls input {
    margin-bottom:5px;
  }

  
  .curls input {
    width: 368px;
  }

  .lowerNav td {
    width: 200px;
  }
  
  .lowerNav {
    width: 100%;
    margin: 10px;
    padding: 10px;
  }
  
  .welcome {
    font-size: 36px;
  }

  .splash .hookStats {
    font-size: 32px;
  }

  .splash code, pre {
    padding: 5px;
    margin: 5px;
    width: 500px;
  }
  .splash ul {
    list-style-type: disc;
  }
  .deploymentsLink {
    color: black;
  }
  
</style>

<script type="text/javascript">

$('document').ready(function(){
  
  $.fn.random = function() {
    return this.eq(Math.floor(Math.random() * this.length));
  }          

  $('.splashImage img').jrumble({
     speed: 100
   });

   setInterval(function(){
     var el = $('.splashImage img').random();
     el.trigger('startRumble');
     setTimeout(function(){
       el.trigger('stopRumble');
     }, 1000)
   }, 5000);

   $('.splashImage img').hover(function(){
     $(this).trigger('startRumble');
   }, function(){
     $(this).trigger('stopRumble');
   });


  var loadHeaderSection = function loadHeaderSection () {
    $(".splashSections > div").hide();
    //alert("." + $(this).attr('id'))
    $('.tagLines').show();
    $('.tagLines').removeClass('hidden');
  }
  
  $('#header img').click(loadHeaderSection)
  //$('#header img').hoverIntent(loadHeaderSection)
  
  var loadSplashSection = function loadSplashSection () {
    //$(".splashSections > div").hide();
    //alert("." + $(this).attr('id'))
    $(document).scrollTo($("." + $(this).attr('id')));
    $("." + $(this).attr('id')).removeClass('hidden');
  }

  //$('.splashImage img').hoverIntent(loadSplashSection);
  $('.splashImage img').click(loadSplashSection);
  
  function checkStats () {
    // TODO: add real-time info for other metrics
    $.get('/metrics/hook/totalHits', function(res){
      $('.totalRun').html(numberWithCommas(res.toString()));
      setTimeout(checkStats, 500);
    });
  };

  function numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  checkStats();


});
</script>

<br/>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" align="center">
      <a href="/login" class="btn btn-social btn-github"><i class="fa fa-github"></i><span style="padding-left:60px"> Sign in with Github</span></a>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-12" align="center">
      <p class="hookStats"><a href="#" class="deploymentsLink" title="Whenever a service URL is requested, hook.io will take a copy of the Hook's source code and deploy it to an awaiting worker in our elastic cloud to respond to the incoming request.">Deployments:</a> <span class="totalRun">loading...</span> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8" align="left">
      <h3>Creating a microservice is as simple as:</h3>
      <link rel="stylesheet" href="/css/ghmarkdown.css">
      <div id="gist24367968" class="gist">
      <div class="gist-file">
        <div class="gist-data gist-syntax">
          <div class="file-data">
            <table cellpadding="0" cellspacing="0" class="lines highlight">
              <tbody>
                <tr>
                  <td class="line-numbers">
                    <span class="line-number" id="file-echohook-js-L1" rel="file-echohook-js-L1">1</span>
                    <span class="line-number" id="file-echohook-js-L2" rel="file-echohook-js-L2">2</span>
                    <span class="line-number" id="file-echohook-js-L3" rel="file-echohook-js-L3">3</span>
                    <span class="line-number" id="file-echohook-js-L4" rel="file-echohook-js-L4">4</span>
                    <span class="line-number" id="file-echohook-js-L5" rel="file-echohook-js-L5">5</span>
                    <span class="line-number" id="file-echohook-js-L6" rel="file-echohook-js-L6">6</span>
                    <span class="line-number" id="file-echohook-js-L7" rel="file-echohook-js-L7">7</span>
                    <span class="line-number" id="file-echohook-js-L8" rel="file-echohook-js-L8">8</span>
                    <span class="line-number" id="file-echohook-js-L9" rel="file-echohook-js-L9">9</span>
                    <span class="line-number" id="file-echohook-js-L10" rel="file-echohook-js-L10">10</span>
                    <span class="line-number" id="file-echohook-js-L11" rel="file-echohook-js-L11">11</span>
                  </td>
                  <td class="line-data">
                    <pre class="line-pre"><div class="line" id="file-echohook-js-LC1"><span             class="pl-sv">module</span>[<span class="pl-s1"><span class="pl-pds">'</span>exports<span class="pl-pds">'</span></span>] <span class="pl-k">=</span> <span class="pl-st">function</span> <span class="pl-en">echo</span> (<span class="pl-vpf">hook</span>) {
                    </div><div class="line" id="file-echohook-js-LC2">  <span class="pl-c">// Access to real Node.js HTTP Request and Response objects!</span>
                    </div><div class="line" id="file-echohook-js-LC3">  <span class="pl-s">var</span> req <span class="pl-k">=</span> hook.req,
                    </div><div class="line" id="file-echohook-js-LC4">      res <span class="pl-k">=</span> hook.res;
                    </div><div class="line" id="file-echohook-js-LC5">&nbsp;
                    </div><div class="line" id="file-echohook-js-LC6">  <span class="pl-c">// Intelligent Request parameter parsing</span>
                    </div><div class="line" id="file-echohook-js-LC7">  <span class="pl-s">var</span> params <span class="pl-k">=</span> hook.params;
                    </div><div class="line" id="file-echohook-js-LC8">&nbsp;
                    </div><div class="line" id="file-echohook-js-LC9">  <span class="pl-c">// Echo back what was sent</span>
                    </div><div class="line" id="file-echohook-js-LC10">  hook.res.end(JSON.stringify(params, <span class="pl-c1">true</span>, <span class="pl-c1">2</span>));
                    </div><div class="line" id="file-echohook-js-LC11">};
                    </div></pre>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <h4>Try this service LIVE in action @ <a href="http://echo.hook.io/">http://echo.hook.io/</a></h4>
    
    </div>
    <div class="col-md-4" align="left">
      <h3>Full Featured</h3>
      <ul class="features">
        <li><a href="http://hook.io/docs#data">JSON / Query String / Multipart</a></li>
        <li><a href="http://hook.io/docs#data">Binary Data / Streaming Data</a></li>
        <li><a href="http://hook.io/docs#schema">Input Validators</a></li>
        <li><a href="http://hook.io/cron">Cron Tasks</a></li>
        <li><a href="http://hook.io/docs#cache">Caching Controls</a></li>
        <!-- <li><a href="http://hook.io/docs#metrics">Metrics</a></li> -->
        <li><a href="http://hook.io/themes">Theming Engine</a></li>
        <li><a href="http://hook.io/docs#forms">Form Generator</a></li>
        <li><a href="https://hook.io/">HTTPS</a></li>
        <li><a href="http://hook.io/domains">Custom Domains</a></li>
        <li><a href="http://hook.io/curl">Unix Pipe Integration</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="splash splashImage" style="margin-top: 2px;">
        <!-- copyright for images 
          penguin-variant is copyrighted by Larry Ewing and Simon Budig (penguin-variant.sk also by Anja Gerwinski), redistribution is free but has to include this Copyright notice.
          jstiny - logo.js -The MIT License (MIT) Copyright (c) 2011 Christopher Williams <chris@iterativedesigns.com> 
          tinynpm - (c) npmjs.org 
          setuptocat - (c) Github
        -->
        <a href="/javascript"><img title="JavaScript!" alt="JavaScript!" width="80" height="70" src="/img/jstiny.png" id="splash-javascript"></a>
        <a href="/modules"><img title="Node.js" alt="Node.js" width="135" height="45" src="/img/node.png" id="splash-node"></a>
        <a href="/modules"><img title="Node Package Manager" alt="npm" width="135" height="45" src="/img/tinynpm.png" id="splash-npm"></a>
        <a href="/gist"><img title="Github" alt="Github" width="112" height="75" src="/img/setuptocat.png" id="splash-github"></a>
        <a href="/curl"><img title="Unix" alt="Unix" width="85" height="75" src="/img/penguin-variant.png" id="splash-unix"></a>

      </div>

      <br/>
      <div class="row">
        <div class="col-md-12">
          <table class="lowerNav">
            <tr valign="bottom">
              <td align="center">
                <h3><a href="/pricing">Pricing</a></h3>
              </td>
              <td align="center">
                <h3><a href="/examples">Examples</a></h3>
              </td>
              <td align="center">
                <h3><a href="http://github.com/bigcompany/hook.io/issues">Support</a></h3>
              </td>
            </tr>

            <tr valign="bottom">
              <td align="center">
                &nbsp;
              </td>

              <td align="center">
                <h3><a href="/docs">Documentation</a></h3>
              </td>
            </tr>

          </table>
        </div>
      </div>
      <br/><br/><br/>
    </div>
  </div>

</div>