<style>
  .userBar {
    font-size: 26px;
    padding-bottom: 40px;
    text-align: left;
    float: left;
    padding-left: 100px;
  }

  .tagLines li {
    font-size:22px;
    text-align: left;
    margin-left: 5px;
    list-style-image: url('/img/little-sideways-pipe-grey.gif');
  }

/*  
  .splashImage {
    padding-top: 10px;
    margin-top: 2px;
    margin-left: 16px;
  }
*/

  .gist {
    width: 500px;
  }
  .hookOutput {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: monospace;
    height: 200px;
    color: black;
    border: solid;
    border-width: 1px;
    box-shadow: 10px 10px 5px #888888;
    display: none;
    padding: 10px;
  }
  .codeButton {
   /* display: none; */
  }
  div.line {
    height: 16px;
    margin-top: 0.39px;
  }

  .gist-file div {
/*    line-height: 0.7em; */
  }
  .splashImage img {
    /*
    height: 60px;
    width: 115px;
    */
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    margin: 8px;
  }
  .features {
    list-style-type: disc;
    padding-left: 15px;
    font-size: 16px;
  }
  .splashSections > div {
    /* width: 565px; */
    font-size: 22px;
    text-align: left;
  }

  .userSplash {
    background-image: url('/img/robotcat.png');
    width: 360px;
    height: 342px;
    float: left;
    /* margin-left: 100px; */
   }

  .examples {
    /* width: 580px; */
    /* text-align: center; */
  }
  .loginBar {
   /* padding-top:10px; */
  }
  .loginBar .curls input {
    margin-bottom:5px;
  }

  
  .curls input {
    width: 368px;
  }

  .lowerNav td {
    width: 200px;
  }
  
  .lowerNav {
    width: 100%;
    margin: 10px;
    padding: 10px;
  }
  
  .welcome {
    font-size: 36px;
  }

  .splash .hookStats {
    font-size: 32px;
  }

  .splash code, pre {
    padding: 5px;
    margin: 5px;
    width: 500px;
  }
  .splash ul {
    list-style-type: disc;
  }
  .deploymentsLink {
    color: black;
    font-size: 32px;
  }
  .totalRun {
    font-style: italic;
    font-size: 32px;
    
  }
  
  button {
    font-size: 22px;
  }
  
</style>

<!-- Create a simple CodeMirror instance -->
<link rel="stylesheet" href="/js/codemirror.css">
<script src="/js/codemirror.js"></script>
<script src="/js/javascript.js"></script>



<script type="text/javascript">

$('document').ready(function(){
  
  $.fn.random = function() {
    return this.eq(Math.floor(Math.random() * this.length));
  }          

  $('.runButton').on('click', function(){
    $('.CodeMirror').css('opacity', 0.4);
    $.post('/Marak/gateway', { source: editor.getValue() }, function (res){
      $('.CodeMirror').css('opacity', 1);
      $('.CodeMirror').hide();
//      $('.runButton').hide();
//      $('.codeButton').show();
      
      $('.hookOutput').html(res);
      $('.hookOutput').show();
      console.log(res)
    });
  });

  $('.codeButton').on('click', function(){
    $('.CodeMirror').show();
//    $('.runButton').show();
//    $('.codeButton').hide();
    $('.hookOutput').hide();
    
  });


  $('.splashImage img').jrumble({
     speed: 100
   });

   setInterval(function(){
     var el = $('.splashImage img').random();
     el.trigger('startRumble');
     setTimeout(function(){
       el.trigger('stopRumble');
     }, 1000)
   }, 5000);

   $('.splashImage img').hover(function(){
     $(this).trigger('startRumble');
   }, function(){
     $(this).trigger('stopRumble');
   });


  var loadHeaderSection = function loadHeaderSection () {
    $(".splashSections > div").hide();
    //alert("." + $(this).attr('id'))
    $('.tagLines').show();
    $('.tagLines').removeClass('hidden');
  }
  
  $('#header img').click(loadHeaderSection)
  //$('#header img').hoverIntent(loadHeaderSection)
  
  var loadSplashSection = function loadSplashSection () {
    //$(".splashSections > div").hide();
    //alert("." + $(this).attr('id'))
    $(document).scrollTo($("." + $(this).attr('id')));
    $("." + $(this).attr('id')).removeClass('hidden');
  }

  //$('.splashImage img').hoverIntent(loadSplashSection);
  $('.splashImage img').click(loadSplashSection);
  
  function checkStats () {
    // TODO: add real-time info for other metrics
    $.get('/metrics/hook/totalHits', function(res){
      $('.totalRun').html(numberWithCommas(res.toString()));
      setTimeout(checkStats, 500);
    });
  };

  function numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  checkStats();

  editor = CodeMirror.fromTextArea($('textarea').get(0), {
    lineNumbers: true
  });

});
var editor;
</script>

<br/>


<div class="container-fluid loginBar">
  <div class="row">
    
    <div class="col-md-12" align="center">
      <a href="/login" class="btn btn-social btn-github" style="padding: 14px 24px;font-size: 21px;"><i class="fa fa-github"></i><span style="padding-left:60px"> Sign in with Github</span></a>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-12" align="center">
      <p class="hookStats"><a href="#" class="deploymentsLink" title="Whenever a service URL is requested, hook.io will take a copy of the Hook's source code and deploy it to an awaiting worker in our elastic cloud to respond to the incoming request.">Deployments:</a> <span class="totalRun">loading...</span> </p>
      
    </div>
  </div>
  <!-- <h2>Try it now!</h2> -->
  
  <div class="row">
    <div class="col-md-8" align="left">
      <div class="btn-group" role="group">
      <button class="runButton btn btn-primary">Deploy Service</button>
      <button class="codeButton btn btn-default">Edit Code</button>
      <button class="saveButton btn btn-default">Save Code to Github</button>
      </div>
      <textarea>module['exports'] = function echo (hook) {
  // Access Node.js HTTP Request and Response objects
  var req = hook.req,
      res = hook.res;
  // Use NPM Modules
  var faker = require('faker'); 
  res.write('<strong>hello</strong> ');
  res.write(req.headers["x-forwarded-for"] + '<br/>');
  res.end(faker.hacker.phrase());
};</textarea>
      <div class="hookOutput"></div>
    </div>
    <div class="col-md-4" align="left">
      <h2 style="font-size:22px;">Full Featured</h2>
      <ul class="features">
        <li><a href="http://hook.io/docs#data">JSON / Query String / Multipart</a></li>
        <li><a href="http://hook.io/docs#data">Binary Data / Streaming Data</a></li>
        <li><a href="http://hook.io/docs#schema">Input Validators</a></li>
        <li><a href="http://hook.io/cron">Cron Tasks</a></li>
        <li><a href="http://hook.io/docs#cache">Caching Controls</a></li>
        <!-- <li><a href="http://hook.io/docs#metrics">Metrics</a></li> -->
        <li><a href="http://hook.io/themes">Theming Engine</a></li>
        <li><a href="http://hook.io/docs#forms">Form Generator</a></li>
        <li><a href="https://hook.io/">HTTPS</a></li>
        <li><a href="http://hook.io/domains">Custom Domains</a></li>
        <li><a href="http://hook.io/curl">Unix Pipe Integration</a></li>
      </ul>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="col-md-12">
      <h2><a href="/examples"><em>More Example Microservices</a></em></h2>
    </div>
  </div>

  <br/>

</div>

<div class="userBar">
  <span class="welcome"></span><br/>
  <a href="/new">Create Hook</a><br/>
  <a href="/Marak" class="yourHooks">My Hooks</a><br/>
  <a href="/domains" class="yourDomains">Custom Domains</a><br/>
  <a href="/account" class="yourAccount">Account Information</a><br/>
  <a href="/billing" class="yourBilling">Billing Information</a><br/>
  <a href="/affiliates" class="yourAffiliates">Affiliates Program</a><br/>
  <a href="/logout">Logout</a>

</div>
<div class="userSplash"></div>