<div align="center">
  <h1>Insight</h1>
  <div class="content">
    <ul class="bigUl">
      <li><a href="{{appUrl}}/faq" class="i18n">FAQ</a></li>
      <li><a href="{{appUrl}}/docs" class="i18n">Documentation</a></li>
      <li><a href="{{appUrl}}/api" class="i18n">Developer API</a></li>
      <li><a href="{{appUrl}}/logs" class="i18n">Logging</a></li>
      <li><a href="{{appUrl}}/events" class="i18n">System Events</a></li>
      <li><a href="{{appUrl}}/metrics" class="i18n">Metrics</a></li>
      <li><a href="{{appUrl}}/env" class="i18n">Environment Variables</a></li>
    </ul>
  </div>
</div>
