<div align="left">
  <h1>JavaScript</h1>
  <h2>hook.io services are written in JavaScript</h2>
  <p>This allows a wealth of functionality through the community of well defined and well tested JavaScript libraries.
  </p>
  <p>See also: <a href="https://hook.io/packages">https://hook.io/modules</p>
  <p><strong>Getting started with JavaScript</strong></p>
  <p><a href="http://eloquentjavascript.net/">eloquentjavascript.net</a></p>
  <p><a href="http://nodestreams.com/">nodestreams.com</a></p>
</div>