<style>
  .grid {
    text-align:left;
  }
  label {
    cursor: pointer;
    font-size: 22px;
    font-weight: normal;
  }
  input {
  }
</style>

<div class="splash" align="left">
  <h1>Keys</h1>
  <p>Keys are used to manage security role access to services on hook.io</p>
  <p>You can create new keys to allow third-party services or users to access restricted hook.io services like privates hooks, the datasource, or logging.</p>
  <p>A full listing of security roles is available for review at <a href="/roles">/roles</a></p>
  
  <h2>Understanding Keys and Roles</h2>
  
  
  
  <h2>Creating New Keys</h2>
  <p>To grant security role access to a new  </p>
  
  <h2>Using Keys and Roles to Access Restricted Services</h2>
  <p>Using keys is easy!</p>
  <p>All you have to do is supply the <code>hook_public_key</code> and <code>hook_private_key</code > variables as HTTP request parameters ( URL GET Query Data / POST Form Data / JSON RPC ) and you will receive admin access to the resource.</p>
  <p><em>In the near future, we'll be implementing a more advanced role management system to allow for individual role access per key per resource.</p>
  <div class="row loginBar">
    <br/>
    <div class="col-md-12" align="center">
      <a href="/login" class="btn btn-social btn-github" style="padding: 14px 24px;font-size: 21px;"><i class="fa fa-github"></i><span style="padding-left:60px"> Sign in with Github</span></a>
    </div>
  </div>
</div>

<div class="keys"></div>
<br/>
<br/>