<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Free Microservice and Webhook Hosting. Deploy your code in seconds. Thousands of existing services to choose from. Integrated support for Node.js, NPM, and Github.">
    <meta name="keywords" content="microservice,hosting,webhook,JavaScript">
    <meta name="author" content="hook.io">
    <meta name="robots" content="index, follow">
    <title>{{appName}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- google font  -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
        <!-- Favicon
    ============================================ -->
    <!-- <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"> -->

    <!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Bootstrap Social CSS
    ============================================ -->
    <link rel="stylesheet" href="/css/social.css">

    <!-- Github octicons CSS / images / fonts
    ============================================ -->

    <link href="/octicons/octicons.css" media="all" rel="stylesheet" type="text/css" />


    <!-- jquery.autocomplete.js CSS
    ============================================ -->      
        <link rel="stylesheet" href="/css/autocomplete.css">

    <!-- owl.carousel CSS
    ============================================ -->      
        <link rel="stylesheet" href="/css/owl.carousel.css">
        
    <!-- owl.theme CSS
    ============================================ -->      
        <link rel="stylesheet" href="/css/owl.theme.css">
            
    <!-- owl.transitions CSS
    ============================================ -->      
        <link rel="stylesheet" href="/css/owl.transitions.css">
        
    <!-- font-awesome.min CSS
    ============================================ -->      
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        
    <!-- animate CSS
    ============================================ -->         
        <link rel="stylesheet" href="/css/animate.css">
    <!-- meanmenu CSS
    ============================================ -->    
        <link rel="stylesheet" href="/css/meanmenu.min.css">   

    <!-- nivo-slider css -->
    <link rel="stylesheet" href="/css/nivo-slider.css">       

    <!-- normalize CSS
    ============================================ -->        
        <link rel="stylesheet" href="/css/normalize.css">
    <!-- fancyBox 
    ============================================ -->         
        <link rel="stylesheet" href="/css/jquery.fancybox.css">         
        <!-- main CSS
    ============================================ -->          
        <link rel="stylesheet" href="/css/main.css">
        
        <!-- style CSS
    ============================================ -->          
        <link rel="stylesheet" href="/style.css">
    <!-- new base style CSS ( put new styles in here )
    ============================================ -->  
    <link rel="stylesheet" href="/css/base.css">

    <!-- responsive CSS
    ============================================ -->          
        <link rel="stylesheet" href="/css/responsive.css">

        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
        <!-- jquery-1.11.3.min js
        ============================================ -->         
        <script src="/js/vendor/jquery-1.11.3.min.js"></script>

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!--Start header  area -->  
  <header>
    <!--Start header top  area -->
    <div class="header_top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="top_menu">
              <ul>
                <li><a href="/services"><i class="fa fa-cog"></i> <span class="i18n">Account</span> <i class="fa fa-angle-down"></i> </a>
                  <ul>
                    <li><a href="/services" class="i18n">My Services</a></li>
                    <li><a href="/account" class="i18n">My Account</a></li>
                    <li><a href="/billing" class="i18n">My Billing</a></li>
                    <li><a class="logoutLink i18n" href="/logout">Log Out</a></li>
                    <li><a class="loginLink i18n" href="/login">Log In</a></li>
                  </ul>               
                </li>
                <li><a href="/new"><i class="fa fa-cloud-upload"></i> <span  class="i18n">Create new Service</span></a></li>
                <li class="loginLink"><a href="/login"><i class="fa fa-lock"> </i> <span class="i18n">Login</span> </a></li>
                <li class="logoutLink"><a href="/login"><i class="fa fa-lock"> </i> <span class="i18n">Logout</span> </a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="top_menu_right">
              <ul class="pull-right">
                <li><a href="/wishlist"><i class="fa fa-heart-o"></i> <span class="i18n">Request a Feature</span></a></li>
                <li><a href="#"><i class="fa fa-globe"></i> <span class="i18n">English</span> <i class="fa fa-angle-down"></i></a>
                  <ul>
                    <li><a href="?lang=en"><span class="i18n">English</span> </a></li>
                    <li><a href="?lang=de"><span class="i18n">German</span> </a></li>
                    <li><a href="/i18n#add-language"><span class="i18n">Add new </span> </a></li>
                  </ul>
                </li>
                <!--
                <li><a href="#" class="last-child"><i class="fa fa-money"></i> Template <i class="fa fa-angle-down"></i></a>
                  <ul>
                    <li><a href="#">Cloudie</a></li>
                    <li><a href="#">Classic</a></li>
                    <li><a href="#">USD </a></li>
                  </ul>               
                </li>
                -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end header top  area -->
    <!--Start header mid  area -->
    <div class="header_mid">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-lg-3">
            <div class="logo"><a href="/"><img src="/img/logo.png" alt="" /></a></div>
          </div>
          <div class="col-md-5 col-lg-6">
            <a name="search"></a>
            <div class="search">
              <form action="#">
                <div class="input_search">
                  <input id="autocomplete" type="text" class="form-control form-round" placeholder="Search To Navigate...">
                  <span class="button_con">
                    <button type="button"><i class="fa fa-search"></i></button>
                  </span>
                </div><!-- /input-group -->
              </form>
            </div>
          </div>
          <div class="col-md-4 col-lg-3 text_c">
            <div class="shoping_cart_area">
              <div class="cart_shoping">
                <span class="title-cart">Deployments:</span>
                <span class="pricet">loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Start header mid  area -->
    <!--Start header nav  area -->
    <div class="header_nav">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <nav class="main_nemu">
              <ul id="menu">
                <li><a href="/microservices" class="i18n">Microservices</a>
                  <div class="megamenu">
                    <div class="mega">
                      <h2><a href="/faq#getting-started">Getting Started</a></h2>
                      <a href="/faq#what-is-a-microservice">What is a Microservice?</a>
                      <a href="/editor">Interactive Playground</a>
                      <a href="/examples">Live Examples</a>
                      <a href="/faq#deploying-first-service">Deploying your first service</a>
                      <a href="/docs">Documentation</a>
                      <a href="/pricing">Paid Plans</a>
                    </div>
                    <div class="mega">
                      <h2><a href="#">Technologies</a></h2>
                      <a href="/webhooks">Webhooks</a>
                      <a href="/websockets">Websockets</a>
                      <a href="/api#rest">HTTP REST</a>
                      <a href="/api#rest">JSON</a>
                      <a href="/docs#content-type">Streaming HTTP</a>
                      <a href="/docs#content-type">Streaming Form multipart</a>
                    </div>
                    <div class="mega">
                      <h2><a href="/features">Features</a></h2>
                      <a href="/domains">Domains</a>
                      <a href="/cron">Cron Jobs</a>
                      <a href="/docs#schema">Schema</a>
                      <a href="/themes">Theming</a>
                      <a href="/curl">Unix Pipe Integration</a>
                    </div>
                    <div class="mega">
                      <h2><a href="/features">Languages</a></h2>
                      <a href="/examples#javascript">JavaScript ( ES7 )</a>
                      <a href="/examples#python">Python</a>
                      <a href="/examples#php">PHP</a>
                      <a href="/examples#bash">Bash</a>
                      <a href="/examples#lua">Lua</a>
                      <a href="/examples">many more...</a>
                      
                    </div>
                  </div>
                </li>
                <li><a href="/insight" class="i18n">Insight</a>
                  <ul class="sub_menu">
                    <li><a href="/faq" class="i18n">FAQ</a></li>
                    <li><a href="/pricing" class="i18n">Pricing</a></li>
                    <li><a href="/docs" class="i18n">Documentation</a></li>
                    <li><a href="/logs" class="i18n">Logging</a></li>
                    <li><a href="/events" class="i18n">System Events</a></li>
                    <li><a href="/metrics" class="i18n">Metrics</a></li>
                    <li><a href="/env" class="i18n">Environment Variables</a></li>
                  </ul>
                </li>
                <li><a href="/databases" class="i18n">Databases</a>
                  <div class="megamenu men_longwidth">
                    <div class="mega">
                      <h2><a href="/databases">Using Databases</a></h2>
                      <a href="/docs#databases">Documentation</a>
                      <a href="/databases#api">API</a>
                      <a href="/databases#sdk">SDK</a>
                    </div>
                    <div class="mega">
                      <h2><a href="#" class="i18n">Multi-Cloud</a></h2>
                      <a href="/datastore">Built-in Datastore</a>
                      <a href="/databases#dynamodb">Amazon DynamoDB</a>
                      <a href="/databases#couchdb">CouchDB</a>
                      <a href="/databases#mongodb">MongoDB</a>
                      <a href="/databases#redis">Redis</a>
                    </div>
                    <div class="mega">
                      <h2><a href="/databases#examples" class="i18n">Example Code</a></h2>
                      <a href="/examples#">Create a new Document</a>
                      <a href="/examples#">Get a Document</a>
                      <a href="/examples#">Query for a Document</a>
                      <a href="/examples#">Remove a Document</a>
                    </div>
                  </div>
                </li>
                <li><a href="/files" class="i18n">File Storage</a>
                  <div class="megamenu">
                    <div class="mega">
                      <h2><a href="/files">Using Files</a></h2>
                      <a href="/files#docs">Documentation</a>
                      <a href="/files#api">API</a>
                      <a href="/files#sdk">SDK</a>
                    </div>
                    <div class="mega">
                      <h2><a href="/files#providers" class="i18n">Multi-cloud</a></h2>
                      <a href="/files#amazon">Amazon S3</a>
                      <a href="/files#google">Google Cloud</a>
                      <a href="/files#microsoft">Mirosoft Azure</a>
                      <a href="/files#rackspace">Rackspace Cloud Files</a>
                      <a href="/files#sftp">SSH / SFTP</a>
                    </div>
                    <div class="mega">
                      <h2><a href="/examples#files" class="i18n">Example Code</a></h2>
                      <a href="/examples#files">Upload a File</a>
                      <a href="/examples#files">Download a File</a>
                      <a href="/examples#files">Streaming File transfers</a>
                      <a href="/examples#files">Reading a directory</a>
                      <a href="/examples#files">see more...</a>
                    </div>
                  </div>              
                </li>
                <li><a href="/keys">Role Based Access Control</a>
                  <ul class="sub_menu">
                    <li><a href="/keys">API Access Keys</a></li>
                    <li><a href="/roles">System Roles</a></li>
                    <li><a href="/roles#custom">Custom Roles</a></li>
                    <li><a href="/roles#checkAccess">Performing Role Checks</a></li>
                  </ul>               
                </li>
                <li><a href="/api">Developer API</a>
                  <ul class="sub_menu">
                    <li><a href="/api#getting-started">Getting Started</a></li>
                    <li><a href="/api#access-keys">API Access Keys</a></li>
                    <li><a href="/api#http">HTTP REST API</a></li>
                    <li><a href="/sdk">Client SDK</a></li>
                    <li><a href="/gateways">Hot Code Gateways</a></li>
                  </ul>
                </li>
                <li><a href="/contact">Contact Us</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!--end header nav  area -->    
  </header>
    <!--end header  area -->
  <!--Start mobile menu  area -->
  <div class="mobile_memu_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="mobile_memu">
            <nav>
              <ul>
                <li><a href="/new">Create New Microservice</a></li>
                <li><a href="/login">My Account</a></li>
                
                <li><a href="/microservices">Microservices</a>
                  <ul>
                    <li><a href="/faq#">What is a Microservice?</a></li>
                    <li><a href="/faq#">Interactive Playground</a></li>
                    <li><a href="/faq#">Deploying your first service</a></li>
                    <li><a href="/docs">Documentation</a></li>
                    <li><a href="/pricing">Paid Plans</a></li>
                  </ul>
                </li>
                <li><a href="/insight">Insight</a>
                  <ul>
                    <li><a href="/faq">Faq</a></li>
                    <li><a href="/docs">Documentation</a></li>
                    <li><a href="/logs">Logging</a></li>
                    <li><a href="/events">System Events</a></li>
                    <li><a href="/metrics">Metrics</a></li>
                    <li><a href="/env">Environment Variables</a></li>
                  </ul>
                </li>
                <li><a href="/databases">Databases</a>
                  <ul>
                    <li><a href="/datastore">Built-in Datastore</a></li>
                    <li><a href="/databases/dynamodb">Amazon DynamoDB</a></li>
                    <li><a href="/databases/couchdb">CouchDB</a></li>
                    <li><a href="/databases/mongodb">MongoDB</a></li>
                    <li><a href="/databases/redis">Redis</a></li>
                    <li><a href="/databases#additional">More...</a></li>
                  </ul>
                </li>
                <li><a href="/files">File Storage</a>
                  <ul>
                    <li><a href="/files#amazon">Amazon s3</a></li>
                    <li><a href="/files#google">Google Cloud</a></li>
                    <li><a href="/files#microsoft">Mirosoft Azure</a></li>
                    <li><a href="/files#rackspace">Rackspace Cloud Files</a></li>
                    <li><a href="/files#sftp">SSH / SFTP</a></li>
                  </ul>             
                </li>
                <li><a href="/keys">Role Based Access Control</a>
                  <ul>
                    <li><a href="/keys">API Access Keys</a></li>
                    <li><a href="/roles">System Roles</a></li>
                    <li><a href="/roles#custom">Custom Roles</a></li>
                    <li><a href="/roles#checkAccess">Performing Role Checks</a></li>
                  </ul>             
                </li>
                <li><a href="/api">Developer API</a>
                  <ul>
                    <li><a href="/api#getting-started">Getting Started</a></li>
                    <li><a href="/api#access-keys">API Access Keys</a></li>
                    <li><a href="/api#http">HTTP REST API</a></li>
                    <li><a href="/sdk">Client SDK</a></li>
                    <li><a href="/gateways">Hot Code Gateways</a></li>
                  </ul>
                </li>
                <li><a href="/contact">Contact Us</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end mobile menu  area -->   

    <!-- slider-area start -->
    <section class="main-slider-area">
      <div class="container-fluid pd0">
        <div class="row">
          <div class="col-sm-12">
            <div class="slider">
              <div id="mainSlider" class="nivoSlider slider-image">
                <img src="/img/splash-bg.png" alt="main slider" title="#htmlcaption1"/>
                <img src="/img/splash-bg.png" alt="main slider" title="#htmlcaption2"/>
              </div>
              <div id="htmlcaption1" class="nivo-html-caption slider-caption-1">
                <div class="slider-progress"></div>               
                <div class="slide1-text">
                  <div class="middle-text">
                    <div class="cap-title wow slideInRight" data-wow-duration="1.1s" data-wow-delay="0s">
                      <h2><span class="no-p-laft">Microservice and Webhook Hosting</span></h2>
                    </div>
                    <div class="cap-title wow slideInRight" data-wow-duration="2s" data-wow-delay="0s">
                      <h3><span class="no-p-laft">free for developers</span></h3>
                    </div>                    
                    <div class="cap-dec wow slideInRight" data-wow-duration="3s" data-wow-delay="0s">
                      <p>{{appName}} is the leading open-source provider of microservice and webhook hosting.<br /> Our service is built with <span class="octicon octicon-heart" style="color:red;"></span> by Developers for Developers</p>
                    </div>  
                    <div class="cap-readmore wow bounceInUp smore" data-wow-duration="3s" data-wow-delay="1s">
                      <a href="/new">Deploy your first Microservice</a>
                    </div>  
                  </div>  
                </div>            
              </div>
              <div id="htmlcaption2" class="nivo-html-caption slider-caption-1">
                <div class="slider-progress"></div>               
                <div class="slide1-text">
                  <div class="middle-text">
                    <div class="cap-title slide2 wow zoomIn" data-wow-duration=".9s" data-wow-delay=".5s">
                      <h3><span>WELCOME to {{appName}}</span></h3>
                    </div>
                    <div class="cap-dec wow zoomIn" data-wow-duration="1.1s" data-wow-delay=".5s">
                      <p>{{appName}} is the leading open-source provider of microservice and webhook hosting.<br /> Our service is built with love by Developers for Developers</p>
                    </div>  
                    <div class="cap-readmore wow zoomIn smore" data-wow-duration="1.5s" data-wow-delay=".5s">
                      <a href="/new">Deploy your first Microservice</a>
                    </div>  
                  </div>  
                </div>            
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- slider-area end -->
  <!-- strart model product area -->
  <section class="model_product_area">
    <div class="">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 yield">
          <!--
          <div class="blog-area">
              <div class="container">
                <div class="row">

                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 item">
                      <div class="blog_content blogmt yield">           
                      </div>            
                    </div>
                  </div>
                </div>  
              </div>  
            </div>
          -->
        </div>
      </div>
    </div>
  </section>
  <!-- end model product  area -->

  <!--Start footer  area -->
  <footer class="footer_area ">
    <!--Start footer top  area -->
    <div class="footer_top ">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="flogo">
              <a href="/"><img src="/img/logo.png" alt="{{appName}}" /></a>
            </div>
            <div class="address_widget">
              <p class="des">Open-source Hosting for Webhooks and Microservices. Built by Developers for Developers.</p>
              <ul class="single_address">
                <!--
                <li class="clearfix">
                  <i class="fa fa-pencil"></i>
                  <span>{{appSalesEmail}}</span>
                </li>
                -->
                <!--
                <li class="clearfix">
                  <i class="fa fa-phone"></i>
                  <span>{{appPhonePrimary}}</span>
                </li>
                -->
                <li class="clearfix">
                  <i class="fa fa-envelope"></i>
                  <span>{{appAdminEmail}}</span>
                </li>               
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-3">
            <h2 class="footer_title"><span>MY ACCOUNT</span></h2>
            <div class="widget">
              <ul>
                <li><a href="/login" class="loginLink">Login</a></li>
                <li><a href="/services">My Services</a></li>
                <li><a href="/account">My Account</a></li>
                <li><a href="/billing">My Billing</a></li>
                <li><a href="/wishlist">Feature Wishlist</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/logout" class="logoutLink">Logout</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-3">
            <h2 class="footer_title"><span>Information</span></h2>
            <div class="widget">
              <ul>
                <!-- <li><a href="/sitemap">Sitemap</a></li> -->
                <li><a href="/pricing">Pricing</a></li>
                <li><a class="jumpToSearch" href="#search">Keyword Search</a></li>
                <li><a href="/affiliates">Affiliates</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/ssl">Encryption</a></li>
                <!-- <li><a href="/limits">Platform Limitations</a></li> -->
              </ul>
            </div>        
          </div>
          <div class="col-lg-2 col-md-3 col-sm-5">
            <h2 class="footer_title"><span>contact us</span></h2>
            <div class="widget">
              <ul>
                <li><a href="/contact?t=Technical Support Request">Technical Support</a></li>
                <li><a href="/contact?t=Sales Inquiry">Sales / Billing</a></li>
                <li><a href="/contact?t=Security Issue">Security Issues</a></li>
                <li><a href="/contact?t=General Questions">General Questions</a></li>
                <!-- <li><a href="https://twitter.com/foo">Twitter</a></li> -->
                <li><a href="/blog">Blog</a></li>
                <li><a href="/faq">Help & FAQs</a></li>
              </ul>
            </div>        
          </div>
          
          <div class="col-lg-3 col-md-3 col-sm-5 hidden-sm">
            <h2 class="footer_title"><span>NEWSLETTER</span></h2>
            <div class="newslatter_widget">
              <p>Subscribe to the {{appName}} mailing list to receive updates on new features other {{appName}} related information.</p>
              <div class="search_box">
                <form action="/subscribe" method="POST">
                  <div class="newsl_text">
                    <input name="email" id="email" type="text" placeholder="you@example.com"/>
                  </div>
                  <div class="newsl_button">
                    <button type="submit"><span>subscribe</span></button>
                  </div>
                </form>
              </div>
            </div>        
          </div>
        </div>
      </div>
    </div>
    <!-- end footer top -->
    <!-- Start footer middle -->
    <div class="footer_middle">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <nav class="footer_menu">
              <ul>
                <!-- <li><a href="/sitemap">Site Map</a></li> -->
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="/tos">Terms of Services</a></li>
                <li><a href="/contact?t=Billing Support">Billing Support</a></li>
                <li><a href="/contact">Contact Us</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- end footer middle -->
    <!-- Start footer Bottom -->
    <div class="footer_bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-6 col-sm-7">
            <div class="footer_copyright">
              <span class="text-left">Copyright &copy; <a href="https://{{appName}}">{{appName}}</a>  All Right Reserved. </span>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-5">
            <div class="payment">
              <span><a href="/pricing"><img src="/img/v.png" alt="" /></a></span>
              <span><a href="/pricing"><img src="/img/m.png" alt="" /></a></span>
              <span><a href="/pricing"><img src="/img/d.png" alt="" /></a></span>
              <span><a href="/pricing"><img src="/img/a.png" alt="" /></a></span>
            </div>
          </div>        
        </div>
      </div>
    </div>
    <!-- End footer bottom -->
  </footer> 
  <!-- End end footer  -->
        <!-- JS --> 
    <!-- TODO: remove unused jquery plugins -->
    <!-- fancybox js
    ============================================ -->    
    <script src="/js/jquery.fancybox.pack.js"></script>                
    <!-- bootstrap js
    ============================================ -->         
        <script src="/js/bootstrap.min.js"></script>      
      <!-- owl.carousel.min js
    ============================================ -->       
        <script src="/js/owl.carousel.min.js"></script>
      <!-- scrollup js
    ============================================ -->    
        <script src="/js/jquery.scrollup.min.js"></script>             
      <!-- countdown js
    ============================================ -->         
        <script src="/js/jquery.countdown.min.js"></script>    
    <!-- plugins js
    ============================================ -->         
        <script src="/js/plugins.js"></script>
        <!-- price_slider js -->
        <script src="/js/price_slider.js"></script>
    <!-- meanmenu js
    ============================================ -->      
        <script src="/js/jquery.meanmenu.min.js"></script>   


        <!-- autocomplete js
        ============================================ -->      
            <script src="/js/jquery.autocomplete.min.js"></script>   

        <!-- counterup js
    ============================================ -->      
        <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <!-- nivoslider js -->
    <script src="/js/jquery.nivo.slider.pack.js"></script>        
      <!-- wow js
    ============================================ -->       
        <script src="/js/wow.js"></script>
    <script>
      new WOW().init();
    </script>
      <!-- main js
    ============================================ -->    
        <script src="/js/main.js"></script>
        
        <script>
        $(function(){
          var currencies = [
            { value: 'Account', data: '/account' },
            { value: 'API Access Keys', data: '/api#access-keys' },
            { value: 'Billing', data: '/billing' },
            { value: 'Contact Us', data: '/contact' },
            { value: 'Create new service', data: '/new' },
            { value: 'cURL', data: '/curl' },
            { value: 'Cron Jobs / Scheduled Tasks', data: '/cron' },
            { value: 'Developer API', data: '/api' },
            { value: 'Deploy', data: '/new' },
            { value: 'Documentation', data: '/docs' },
            { value: 'Domains', data: '/domains' },
            { value: 'Databases', data: '/databases' },
            { value: 'Datastore', data: '/datastore' },
            { value: 'Examples', data: '/examples' },
            { value: 'Events', data: '/events' },
            { value: 'Environment Variables', data: '/env' },
            { value: 'Files', data: '/files' },
            { value: 'File System / File Storage', data: '/files' },
            { value: 'Forms / Form Generator', data: '/forms' },
            { value: 'FAQ', data: '/faq' },
            { value: 'Frequently Asked Questions', data: '/faq' },
            { value: 'Gateways', data: '/gateways' },
            { value: 'Hot-code Gateways', data: '/gateways' },
            { value: 'Help', data: '/faq' },
            { value: 'Input Validators', data: '/docs#schema' },
            { value: 'Keys', data: '/keys' },
            { value: 'Login', data: '/login' },
            { value: 'Logging', data: '/logs' },
            { value: 'Logout', data: '/logout' },
            { value: 'Logs', data: '/logs' },
            { value: 'Metrics', data: '/metrics' },
            { value: 'Microservice', data: '/faq#what-is-a-microservice' },
            { value: 'Request a Feature', data: '/wishlist' },
            { value: 'Role Based Access Control', data: '/roles' },
            { value: 'Roles', data: '/roles' },
            { value: 'Services', data: '/services' },
            { value: 'System Events', data: '/events' },
            { value: 'Schema', data: '/docs#schema' },
            { value: 'Software Developer Kit ( SDK )', data: '/sdk' },
            { value: 'Support', data: '/support' },
            { value: 'SSL / HTTPS', data: '/ssl' },
            { value: 'Streams', data: '/docs#streams' },
            { value: 'Terms of Service', data: '/tos' },
            { value: 'Themes', data: '/themes' },
            { value: 'UNIX Pipes', data: '/curl' },
            { value: 'Webhook', data: '/faq#what-is-a-webhook' },
            { value: 'Wishlist', data: '/wishlist' }
           ];

          // setup autocomplete function pulling from currencies[] array
          $('#autocomplete').autocomplete({
            lookup: currencies,
            onSelect: function (suggestion) {
              document.location = suggestion.data;
            }
          });
          
          // if login page, auto-select login form on document ready so users can press enter key to login
          if(document.location.pathname === "/login") {
            $('#name').select();
          } else {
            // if not the login page, autoselect the autocomplete search box
            $('#autocomplete').select();
          }
          function checkStats () {
            // TODO: add real-time info for other metrics
            $.get('/metrics/hook/totalHits', function(res){
              $('.pricet').html(numberWithCommas(res.toString()));
              setTimeout(checkStats, 5000);
            });
          };

          function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
          }
          //checkStats();
          $('.fa-heart-o').hover(function (){
            $(this).removeClass('fa-heart-o');
            $(this).addClass('fa-heart');
            $(this).addClass('red');
          }, function (){
            $(this).addClass('fa-heart-o');
            $(this).removeClass('fa-heart');
            $(this).removeClass('red');
          })

          $('.jumpToSearch').on('click', function(){
            $('#autocomplete').focus();
            return false;
          });

          /*
          $('.meanLink').on('click', function(){
            var childExpands = $('.mean-expand', $(this).parent());
            childExpands[childExpands.length-1].click();
            return false;
          });
          */
        });
        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-56831462-1', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>
