<style>
  .signupMessage {
    font-size: 1.2em;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="page_title contact">
        <h1>Login</h1>
        <h2 class="restricted">The requested page <!-- <span class="redirectPage"></span> --> requires a valid login. Please log in to continue.</h2>
        <a href="{{appUrl}}/login/github" class="btn btn-social btn-github" style="height:60px;"><i class="fa fa-github"></i> <span style="top: 14px;position:relative;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Log In with Github</span></a>
      </div>
    </div>
    <div class="account_login">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <form name="signupForm" class="signupForm discount" action="/signup" method="POST">
          <h2>New Developers</h2>
          <div class="submit_review">
            <span class="signupMessage">By creating an account with our platform, you will be able to deploy your first microservice or webhook in seconds.</span>
            <div class="i_box">
              <p class="fnone"><label class="label" for="signup_email">Email Address <em>*</em></label></p>
              <input type="text" role="email" id="signup_email" name="email">
            </div>
            <!--
            <div class="i_box">
              <p class="fnone"><label class="label" for="signup_password">Password <em>*</em></label></p>
              <input type="password" name="password" id="signup_password">
            </div>
            <div class="i_box">
              <p class="fnone"><label class="label" for="confirm_password">Confirm Password <em>*</em></label></p>
              <input type="password" name="password" id="confirm_password">
            </div>
            -->
            <div class="button_set button_margin">
              <div style='float:left;max-width:220px;text-align:left;'><a href="{{appUrl}}/tos" class="link">By creating an account you agree to our Terms of Service.</a></div>
              <div class="newsl_button">
                <button type="submit"><span>Create new Account</span></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <form name="loginForm" class="loginForm discount" action="/login" method="POST">
          <h2>Registered Developers</h2>
          <div class="submit_review">
            <p class="loginMessage">If you have an account with us, please log in.</p>
            <br/>
            <div class="i_box">
              <p class="fnone"><label class="label" for="login_name">Username or Email Address<em>*</em></label></p>
              <input type="text" name="name" id="login_name">
            </div>
            <div class="i_box">
              <p class="fnone"><label class="label" for="login_password">Password <em>*</em></label></p>
              <input type="password" name="password" id="login_password">
            </div>
            <p class="actitle">* Required Fields</p>
            <div class="button_set button_margin">
              <div class="newsl_button">
                <a href="{{appUrl}}/reset">Forgot Your Password?</a>
                <button type="submit"><span>Log in</span></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){

    $('#login_name').focus();
    // add ajax handlers for login form
    $('.loginForm').on('submit', function () {

      $('.loginMessage').removeClass('error');
      $('#login_password').removeClass('errorInput');
      $('.loginMessage').html('Authenticating...');
      var error = function error (err) {
        if (err) {
          if (typeof err.message === 'string') {
            $('.loginMessage').html('Error: ' + err.message);
          }
          if (typeof err.responseText === 'string') {
            $('.loginMessage').html('Error: ' + err.responseText);
          }
          $('.loginMessage').addClass('error');
        }
      };

      var success = function success (json, status) {
        if (json.result === "invalid") {
          // login is invalid, update the user-interface
          $('.loginMessage').html('Invalid password! Try again or reset password.');
          $('.loginMessage').addClass('error');
          $('#login_password').addClass('errorInput');
          $('#login_password').addClass('shake shake-constant');
          setTimeout(function(){
            $('#login_password').removeClass('shake shake-constant');
          }, 400);
        }

        if (json.result === "valid") {
          // login is valid, redirect to wherever the session tells us to
          window.location = json.redirect;
        }

        if (json.result === "available") {
          // account name is available, update the signup form and suggest a signup
          $('#signup_email').val(data.name);
          $('#signup_password').val(data.password);
          $('.loginMessage').html('Account not found. You can this register this account on the signup form to the left.');
          $('.loginMessage').addClass('error');
        }

        if (json.result === "not-set") {
          // account name is available, update the signup form and suggest a signup
          $('#signup_email').val(data.name);
          $('#signup_password').val(data.password);
          $('.loginMessage').html('No password has been set for this account. Try resetting account by email or contacting support.');
          $('.loginMessage').addClass('error');
          $('.loginMessage').addClass('shake shake-constant');
          setTimeout(function(){
            $('.loginMessage').removeClass('shake shake-constant');
          }, 400);
        }

      };

      var data = {
        "name": $('#login_name').val(),
        "password": $('#login_password').val()
      };

      $.ajax({ url: '/login', dataType: "json", data: data, error: error, success: success });

      return false;
    });

    // add ajax handlers for signup form
    $('.signupForm').on('submit', function () {

      var error = function error (err) {
        if (err) {
          $('.signupMessage').html('Error: ' + err.responseJSON.message);
          $('.signupMessage').addClass('error');
        }
      };

      var success = function success (json, status) {

        if (json.result === "invalid") {
          // login is invalid, update the user-interface
          $('.signupMessage').html('Invalid! Try again.');
          //$('.loginMessage').addClass('error');
          //$('#login_password').addClass('errorInput');
          //alert('Invalid password!');
        }

        if (json.result === "valid") {
          // login is valid, redirect to wherever the session tells us to
          window.location = json.redirect;
          //console.log('ddd', data);
        }

        if (json.result === "available") {
          $('.signupMessage').html('Account name available. Password is required.');
          $('.signupMessage').addClass('error');
        }

        if (json.result === "exists") {
          // account name exists
          $('.signupMessage').html('Email is already registered. You may login on the right.');
          $('.signupMessage').addClass('error');

          $('#login_name').val($('#signup_email').val());
          $('#login_name').focus();

          $('.signupMessage').addClass('shake shake-constant');
          setTimeout(function(){
            $('.signupMessage').removeClass('shake shake-constant');
          }, 600);

        }

      };

      var data = {
        "email": $('#signup_email').val(),
        "password": $('#signup_password').val()
      };
      
      // validate email
      var email = $('#signup_email').val();
      if (email.search('@') === -1) {
        
        $('.signupMessage').html('Invalid email address!');
        $('.signupMessage').addClass('error');

        $('.signupMessage').addClass('shake shake-constant');
        setTimeout(function(){
          $('.signupMessage').removeClass('shake shake-constant');
        }, 600);
        
        
      } else {
        $.ajax({ url: '/signup', dataType: "json", data: data, error: error, success: success });
      }

      return false;
    });

  });
</script>