<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="page_title contact">
        <h1>Login</h1>
        <a href="{{appUrl}}/login/github" class="btn btn-social btn-github" style="height:60px;"><i class="fa fa-github"></i> <span style="top: 14px;position:relative;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sign in with Github</span></a>
      </div>
    </div>
    <div class="account_login">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <form name="signupForm" class="discount" action="/signup" method="POST">
          <h2>New Developers</h2>
          <div class="submit_review">
            <p>By creating an account with our platform, you will be able to deploy your first microservice or webhook in seconds. It's free and very easy!</p>
            <div class="i_box">
              <p class="fnone"><label class="label" for="email">Username or Email Address <em>*</em></label></p>
              <input type="text" id="email" name="email">
            </div>
            <div class="i_box">
              <p class="fnone"><label class="label" for="password">Password <em>*</em></label></p>
              <input type="password" name="password" id="password">
            </div>
            <div class="button_set button_margin">
              <div style='float:left;max-width:220px;text-align:left;'><a href="{{appUrl}}/tos">By creating an account you agree to our Terms of Service</a></div>
              <div class="newsl_button">
                <button type="submit"><span>Create an Account</span></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <form name="loginForm" class="discount" action="/login" method="POST">
          <h2>Registered Developers</h2>
          <div class="submit_review">
            <p>If you have an account with us, please log in.<br/></p>
            <div class="i_box">
              <p class="fnone"><label class="label" for="name">Username or Email Address<em>*</em></label></p>
              <input type="text" name="name" id="name">
            </div>
            <div class="i_box">
              <p class="fnone"><label class="label" for="password">Password <em>*</em></label></p>
              <input type="password" name="password" id="password">
            </div>
            <p class="actitle">* Required Fields</p>
            <div class="button_set button_margin">
              <div class="newsl_button">
                <a href="{{appUrl}}/reset">Forgot Your Password?</a>
                <button type="submit"><span>Login</span></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>