<div>
  <h1>Metrics</h1>
  <div class="container content">

  <h2>Accessing Metrics</h2>

  <p><a href="#count">Finding Service Run Count</a></p>
  <p>Simply use the following URL format to retrieve the amount of times a Service has been run</p>
  <p><a href="{{appUrl}}/metrics/marak/echo/hits">/metrics/:owner/:hook/hits</a></p>

  <p>We are currently storing many more metrics, but do not have them exposed as public API endpoints.</p>
  <p class="hint">Please <a href="{{appUrl}}/wishlist">let us know</a> if you require additional service metrics.</p>

  <h2>Additional System Logs and Events</h2>
  <h3><a href="{{appUrl}}/logs">Service Logs</a></h3>
  <h3><a href="{{appUrl}}/events">System Events Logs</a></h3>
 </div>
</div>