<div>
  <h1>Microservices</h1>
  <div class="container content">
    <p>{{appName}} is the ideal place to host microservices.</p>
    <p>Our platform fully supports multiple programming languages, and all the features you may need while building streaming HTTP microservices.</p>
    <h2><a href="{{appUrl}}/faq">Frequently Asked Questions</h2>
    <p>New to Microservices? The FAQ is the perfect place to start.</p> 
    <h2><a href="{{appUrl}}/editor">Interactive Microservice Playground</h2>
    <p>Want to start playing with live code, check out the playground!</p> 
    <h2><a href="{{appUrl}}/new">Create new Microservice</a></h2>
    <p>Ready to immediately deploy your first Microservice? Create a new service instantly!</p>
  </div>
</div>