<div>
  <h1>Microservices</h1>
  <p>{{appName}} is the ideal place to host microservices</p>
  <p>Our platform fully supports multiple programming languages, and all features you may need while building streaming HTTP microservices</p>
  <h2>Getting Started</h2>
  <p>If you are new to Microservices, we recommend reading our <a href="/faq">Frequently Asked Questions</p>
  <p>If you want to start playing with live code, visit our <a href="/editor">Interactive Microservice Playground</p>
  <h2>Deploying a Microservice</h2>
  <p>To immediately deploy your first Microservice visit <a href="/new">Create new Microservice</a>
</div>

