<div style="font-size:22px;background-image: url('./img/node_turtle.png');background-repeat:no-repeat;height:800px;text-align:left;">

  <h1>Modules</h1>
  <a href="{{appUrl}}/modules"><img src="./img/node.png"/></a> <br/>
  <h2>Native Node.js Module Support</h2>

  <p>{{appName}} supports the Node.js API out of the box.</p> 
  <p>This is useful for performing a variety of basic operations.</p>

  <p>Documentation on using the Node.js API can be found at: <a href="http://nodejs.org/api/">nodejs.org/api</a></p>

  <a name="modules"/>
  <br/>
  <img src="./img/npm.png"/></a> <br/>

  <h2>NPM Module Support</h2>


  <p>
    {{appName}} utilizes the power of the <a href="https://www.npmjs.org/">NPM</a> eco-system to deliver support for thousands of modules.
  </p>

  <p>
    Modules will automatically install if you attempt to require them in a Hook. The first time the Hook is run, {{appName}} will install the dependency. Re-run the hook a few moments later and it should just work.
  </p>

</div>