<style>
.cron-button {
    height: 16px;
    padding-left: 20px;
    margin-left: 5px;
    background-repeat: no-repeat; 
    background-position: center center; 
    cursor: pointer;
}
.cron-button-save {
    background-image: url('img/disk.png');
}
.cron-changed {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fdd;
}
.cron-controls {
    margin-left: 10px;
    color: #c77;
    font-size: 0.9em;
}
.cron-controls > span.cron-loading {
    background-image: url('img/loading.gif');
}

.cronRow {
  display: none;
}

.cronRow .tabs {
  font-size:16px;
}
.cronRow #clear {
  font-size:16px;
}

input[type="text"] {
  width: 600px;
}

input[type="checkbox"] {
  cursor: pointer;
}

#create {
  margin-top: 10px;
}

.hookTable td {
  font-size: 22px;
  font-weight: bold;
}

.hookTable td input {
  font-size: 22px;
  font-weight: normal;
}

.hookTable td span {
  font-size: 22px;
  font-weight: normal;
}

.tiny {
  font-size: 16px;
}

</style>
<link href="/css/jquery-ui.css" rel="stylesheet">
<script src="/js/jquery-ui.js"></script>
<script src="/js/jquery.croneditor.js"></script>
<script type="text/javascript">
  // lookup themes from curated theme list
  // TODO: Create "themes" resource and persist this to database
  var themes = {
    "debug": {
      "theme": "http://hook.io/themes/debug/index.html",
      "presenter": "http://hook.io/themes/debug/index.js"
    },
    "form": {
      "theme": "http://hook.io/themes/form/index.html",
      "presenter": "http://hook.io/themes/form/index.js"
    },
    "simple": {
      "theme": "http://hook.io/themes/simple/index.html",
      "presenter": "http://hook.io/themes/simple/index.js"
    },
    "simple-form": {
      "theme": "http://hook.io/themes/simple-form/index.html",
      "presenter": "http://hook.io/themes/simple-form/index.js"
    },
    "none": {
      "theme": "http://hook.io/themes/none/index.html",
      "presenter": "http://hook.io/themes/none/index.js"
    },
    "custom": {
      "theme": "",
      "presenter": ""
    }
  };

  $(document).ready(function(){
    $('.cronDiv').croneditor();
    $('input[name="cronActive"]').click(function(){
      if($(this).prop('checked')) {
        $('.cronRow').show();
      } else {
        $('.cronRow').hide();
      }
    });

    $('.themeSelect').change(function(e){
      var val = themes[$(this).val()];
      console.log(val)
      $('#theme').attr('value', val.theme);
      $('#presenter').attr('value', val.presenter);
    });
  });

  /*
  $('#cronString').keydown(function(){
    var job = new cron.CronTime($(this).val());
    var start = new Date();
    var next = job._getNextDateFrom(start);
    $('#estimateRun').val(next);
  });
  */
  
</script>

<!-- background-image: url('./img/node_turtle.png');background-repeat: none; -->
<div style="font-size:22px;height:800px;text-align: left;" class="container">
  <form method="post" action="/new" role="form" class="well">
    <legend><h2>New Hook</h2></legend>


    <div class="form-group">
      <label for="name">Hook Name</label>
      <input class="form-control" type="text" id="name" name="name" placeholder="name of hook" size="40"/>    
    </div>

    <div class="form-group">
      <label for="gist">Hook Source Code</label>
      <input type="text" class="form-control gist" name="gist" id="gist" placeholder="https://gist.github.com/Marak/357645b8a17daeb17458" value="https://gist.github.com/Marak/357645b8a17daeb17458" size="80">

      <div class="tiny">
        <em>The source code of the Hook will be specified as a <a href="/gist">Github Gist</a>.</em><br/>
        <a href="https://gist.github.com/new" target="_blank" tabindex="1" id="fork" name="fork" type="submit">Click here to create new Github Gist</a>
      </div>
    </div>

    <!--
    <div class="form-group">
      <label for="status">Hook Status</label>
      <select class="form-control status" name="status">
        <option value="active">Active</option>
        <option value="disabled">Disabled</option>
      </select>
    </div>
    -->

    <div class="themeSelector well"></div>

    <div class="form-group">
      <input type="checkbox" class="cronActive" id="cronActive" name="cronActive" title="If checked, the Hook will execute as a scheduled tasked based on provided Cron pattern.">
      <label for="hookSource">Cron Task activated for this Hook</label>
    </div>

    <div class="form-group cronRow">
      <div class="cronDiv"></div>
    </div>

    <div class="form-group">
      <input type="checkbox" class="isPublic" id="isPublic" name="isPublic" title="If checked, the Hook will be pubicly listed and other users will be able to search for it.">
      <label for="isPublic">Display Hook in public Hook registry</label>
    </div>
    <input tabindex="1" id="create" name="create" type="submit" value="Create new Hook"/ class="btn">
  </form>

  <br/>

  <h3>Not sure how to get started? Here is a basic echo example below.</h3>

  <form method="GET" action="/Marak/echo">
    <input tabindex="1" id="fork" name="fork" type="submit" value="Fork This Hook"/ class="btn">
  </form>

  <div data-gist="357645b8a17daeb17458">Loading...</div>

  <br/>
  <br/>
</div>