<style>

#hookForm h1 {
  font-size: 42px;
  font-weight: 700;
}

#hookForm h2 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}

.smaller {
  font-size: 18px;
}

.cronRow .warning {
  font-size: 18px;
}

.warning {
  color: red;
}

.helpLang {
  display: none;
}

.cron-button {
    height: 16px;
    padding-left: 20px;
    margin-left: 5px;
    background-repeat: no-repeat; 
    background-position: center center; 
    cursor: pointer;
}
.cron-button-save {
    background-image: url('img/disk.png');
}
.cron-changed {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fdd;
}
.cron-controls {
    margin-left: 10px;
    color: #c77;
    font-size: 0.9em;
}
.cron-controls > span.cron-loading {
    background-image: url('img/loading.gif');
}

.languages {
  display: block;
}

/*
select {
  font-size: 32px;
  cursor: pointer;
}
*/

.routeHint {
  display: none;
}

.hookLinks {
  width: 100%;
  margin-top: 20px;
  background-color: white;
}
.hookLinks td {
  padding: 10px;
  margin: 10px;
}

.routeExamples {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border: solid;
  border-width: 1px;
}
.routeExamples td {
  padding: 10px;
  margin: 10px;
}
.left {
  width: 220px;
}

code {
  padding: 0px;
  margin: 0px;
}

label {
  cursor: hand;
}
.hookFrame {
  display: none;
}
.error {
  background-color: red;
}
/* do not group these rules */
.error::-webkit-input-placeholder {
  background-color: red;
    color: red;
}
.error*:-moz-placeholder {
    /* FF 4-18 */
    background-color: red;
    color: red;
}
.error*::-moz-placeholder {
    /* FF 19+ */
    background-color: red;
    color: red;
}
.error*:-ms-input-placeholder {
    /* IE 10+ */
    background-color: red;
    color: red;
}

.securityHolder {
  background-color: #F5F5F5;
  border: 1px solid #E1E1E1;
  padding: 17px 17px 0px 17px;  
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.cronRow {
  display: none;
  background-color: #F5F5F5;
  border: 1px solid #E1E1E1;
  padding: 17px 17px 0px 17px;  
  padding-top: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.cronRow .tabs {
  font-size:16px;
}
.cronRow #clear {
  font-size:16px;
}

input[type="text"] {
  width: 100%;
  margin-right: 10px;
  padding-right: 10px;
}

input[type="checkbox"] {
  cursor: pointer;
}

#create {
  margin-top: 10px;
}

.hookTable td {
  font-size: 22px;
  font-weight: bold;
}

.hookTable td input {
  font-size: 22px;
  font-weight: normal;
}

.hookTable td span {
  margin-top: 10px;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 10px;
}

.tiny {
  font-size: 16px;
}

.themeRow {
  display: none;
  background-color: #F5F5F5;
  border: 1px solid #E1E1E1;
  padding: 17px 17px 0px 17px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.hookHolder {
}

.hookHolder .form-control {
  margin-bottom: 10px;
}

.hookHolder .form-group {
  margin-bottom: 10px;
}
.gistUrlHolder {
  padding-top: 10px;
  width: 100%;
  display: none;
}

.sourcesHolder {
  background-color: #F5F5F5;
  border: 1px solid #E1E1E1;
  padding: 17px 17px 0px 17px;  
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-bottom: 20px;
}
.sources {
  margin-bottom: 0px;
}

.cronDiv {
  width: 100%;
}

.codeEditorHolder {
  margin-bottom: 20px;
  background-color: #f5f5f5;
}
body .CodeMirror {
  height: 280px;
  box-shadow: none;
  font-size: 14px;
}
.sourceHeader {
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

body legend {
  border: none;
  padding: 0px;
  margin: 0px;
}

/*
.tiny .small-btn {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
}
.tiny .small-btn:hover {
  font-weight: bold;
}
*/

.codeEditorHolder .btn {
  width: 120px;
}

.btn {
  margin-top: 10px;
  width: 200px;
}

.mediumLink {
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
}


.hookFrame {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: monospace;
  height: 210px;
  color: black;
  border: solid;
  border-width: 1px;
  box-shadow: 10px 10px 5px #888888;
  display: none;
  padding: 10px;
  width: 100%;
}

.cronClear {
  margin-bottom: 10px;
}

.warnLanguages {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.error::-webkit-input-placeholder {
    color: white;
}
.error*:-moz-placeholder {
    /* FF 4-18 */
    color: white;
}
.error*::-moz-placeholder {
    /* FF 19+ */
    color: white;
}
.error*:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

label {
  font-weight: bold;
}

</style>
<link href="{{appUrl}}/css/jquery-ui.css" rel="stylesheet">


<script type="text/javascript">

  // client-side slugify
  // the server-side slugify code is much more robust covering much utf
  function slugify(text) {
    return text.toString().toLowerCase()
    .replace(/\s+/g, '-')           // Replace spaces with -
    .replace(/\//g, '-')         // Replace / with -
    .replace(/[^\w\-]+/g, '');       // Remove all non-word chars
//      .replace(/\-\-+/g, '-');         // Replace multiple - with single -
  }


  $(document).ready(function(){

    var deployingCode = false, snippetLoading = false;

    $('.codeButton').on('click', function(){
      showCode();
      return false;
    });

    $('#editorSource').on('click', function(){
      $('.gistUrlHolder').hide();
      $('.codeEditorHolder').show();
      editor.refresh();
    });

    $('#gistSource').on('click', function(){
      $('.codeEditorHolder').hide();
      $('.gistUrlHolder').show();
    });


    $('#name').on('click', function(){
      $('#name').removeClass('error');
    });

    $('#hookForm').on('submit', function(){
      var name = $('#name').val();
      if (name.length === 0) {
        $('#name').addClass('error');
        $('#name').attr('placeholder', 'name is required...')
        $('#name').focus();
        //alert('name required');
        return false;
      }
    });

    $('.routeTipsButton').on('click', function(){
      if ($('.routeHint').css('display') === "none") {
        $('.routeHint').show();
      } else {
        $('.routeHint').hide();
      }
      return false;
    });

    $('#name, #path').on('keyup', function(e){
      var v = $(this).val();
      var s = slugify($(this).val());
      if (v !== s) {
        $(this).addClass('error');
        $(this).val(s);
      } else {
        if(v.length !== 0) {
          $(this).removeClass('error');
        }
      }
      if (e.keyCode === 13) {
        // $('#hookForm').submit();
      }
      $('.serviceUrlPreview').html('{{appUrl}}' + '/{{userName}}/' + v)
    });

    var options = {
      effect: 'drops',
      effectOptions: {
        radius: 80,
        duration: 1500,
        width: 2,
        count: 3,
        delay: 100
      }
    };

    var p = $('#name').position();
    $('#name').focus();

    $('#language').change(function(e){

      /*
      if (!agreedToWarning) {
        $('.warnLanguages').show();
        $('#create').attr('disabled', 'DISABLED');
      }
      */

      var l = $('#language').val();
      $('.currentLanguage').html($( "#language option:selected" ).text());
      $('.currentLanguageShort').html($( "#language" ).val());
      if (l === "javascript") {
        // $('#gist').attr('value', 'https://gist.github.com/Marak/357645b8a17daeb17458');
        //$('.helpLang').hide();
      } else {
        // TODO: better default gist values for non-javascript langauges
        $('#gist').attr('value', '');
        //$('.helpLang').show();
      }

      $('#gatewayLang').attr('value', l);
      $('#gatewayForm').attr('action', '/gateway');

      // assume first file is source code
      // see: https://github.com/bigcompany/{{appName}}/issues/110
      var keys = Object.keys(boot.examples[l]);
      editor.setValue(boot.examples[l]['source']);
      $('#editorSource').click();
      //showCode();
      return false;
      //var val = themes[$(this).val()];
    });

    //$('.services').html(JSON.stringify(boot.examples));

  });

</script>

<!-- background-image: url('./img/node_turtle.png');background-repeat: none; -->
<div style="text-align:left;" class="container">
  <h1 class="i18n">Create New Microservice</h1>
  <form id="hookForm" method="POST" action="/new" role="form" class="form" enctype="application/x-www-form-urlencoded">
    <div class="well">
      <div class="gistStatus i18n">Hey there! We just created a new Gist on Github using your account: <a href=""  class="i18n">here</a><br/>
        <br/>
        The Gist will now be associated with the Hook service once you've completed this form.
      </div>
      <div class="hookHolder">
        <div class="form-group">
          <h2 class="i18n">Service Endpoint</h2>
          <legend class="tiny">
            Submitting this form will register a new service in the api gateway.
          </legend>
        </div>
        <div class="form-group">
          <label for="name" class="i18n">Name</label>
          <input tabindex="1" class="form-control i18n" type="text" id="name" name="name" placeholder="name of microservice..." size="40"/>
          <div class="tiny">
            <em class="i18n">Will be part of the following url to run the Service. Cannot contain non-url safe characters.</em>
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="i18n">Url</label>
          <span class="serviceUrlPreview form-control">...</span>
        </div>
        <div class="form-group private">
          <label for="hookPublic">Public Service</label>
          <input tabindex="5" type="radio" CHECKED="CHECKED" value="false" class="hookPublic" id="hookPublic" name="isPrivate" title="Specify the source of the Hook from text editor">
          &nbsp;
          <label for="hookPrivate" class="hookPrivateLabel">Private Service</label>
          <input tabindex="4" type="radio" value="true" class="hookPrivate" id="hookPrivate" name="isPrivate" title="Specify the source of the Hook as a Github Gist">
        </div>
        <div class="form-group tiny">
          Public services and their source codes will be accessible to anyone. Private services are protected through <a href="{{appUrl}}/keys" target="_blank">API Access Keys</a>.
          <span class="paidAccount warning tiny">Notice: In order to enable private services, you must upgrade to a <a href="{{appUrl}}/pricing" class="warning">paid account</a>.</span>
        </div>
      </div>

      <div class="hookHolder typeOfService">
        <h2 class="i18n">Type of Service</h2>
        <p>Which of these best describes the kind of service you'd like to create? Don't worry, we can always change this later</p>

        <p>Respond to HTTP requests using custom functions. Works with many programming languages</p>

        <p>Perform a redirect from this url to another url. Allows for custom <code>host</code>, <code>uris</code>, <code>upstream_url</code>, </p>

        <p>Execution a task on a scheduled timer.</p>

        <select>
          <option>Webhook</option>
          <option>HTTP Redirect</option>
          <!-- <option>Store a File</option> -->
          <!-- <option>Basic Auth</option> -->
          <option>Scheduled Task ( Cron )</option>
          <option>Simple Bot</option>
          <option>Bot Agent</option>
          <!-- <option>Always On Bot</option> -->
        </select>
        <br/>
        <br/>
        <input name="submit" type="submit" value="Skip this step. Create service and go straight to service admin panel."/>
      
      </div>

      <div class="hookHolder cronSettings">
        <h2 class="i18n">Cron Settings</h2>
        <br/>
        CRON GOES HERE
      </div>

      <div class="hookHolder redirectOptions">
        <h2 class="i18n">Redirect Options</h2>
        <br/>
        <label for="upstream_url">upstream_url</label>
        <input type="text" name="upstream_url" id="upstream_url">
        <br/>
        <label for="hosts">hosts</label>
        <input type="text" name="hosts" id="hosts">

        <br/>
        <label for="uris">uris</label>
        <input type="text" name="uris" id="uris">
      </div>

      <div class="hookHolder webhookPlugins">
        <h2 class="i18n">Webhook Plugins</h2>
        <h3>Request</h3>
        <p>Which of these best describes the kind of service you'd like to create? Don't worry, we can always change this later</p>

        <!--
        <br/>
        <input type="checkbox" name="requestTransformer" id="requestTransformer">
        <label for="requestTransformer">request transformer</label>
        -->
        <br/>
        <input type="checkbox" name="basicAuth" id="basicAuth">
        <label for="basicAuth">basic-auth</label>

        <!--
        <br/>
        <input type="checkbox" name="oauth2" id="oauth2">
        <label for="oauth2">oauth2</label>
        -->
        <br/>
        <input type="checkbox" name="schemaValidator" id="schemaValidator">
        <label for="schemaValidator">schema validator</label>
        <!--
        <br/>
        <input type="checkbox" name="gistSource" id="gistSource">
        <label for="gistSource">github gist source</label>

        <br/>
        <input type="checkbox" name="gitSource" id="gistSource">
        <label for="gitSource">github repo source</label>
        -->
        <br/>
        <input type="checkbox" name="customPlugin" id="customPlugin">
        <label for="customPlugin">custom plugin ( can be any hook.io service )</label>
        <input type="text" name="customPluginName" placeholder="examples/basic-auth"/>

        <h3>Response</h3>

        <br/>
        <input type="checkbox" name="responseTransformer" id="responseTransformer">
        <label for="responseTransformer">response transformer</label>

        <br/>
        <select>
          <option>Webhook</option>
          <option>HTTP Redirect</option>
          <!-- <option>Store a File</option> -->
          <!-- <option>Basic Auth</option> -->
          <option>Scheduled Task ( Cron )</option>
          <option>Simple Bot</option>
          <option>Bot Agent</option>
          <!-- <option>Always On Bot</option> -->
        </select>

      </div>

      <div class="hookHolder simpleBot">
        <h2 class="i18n">Simple Bot</h2>
        <br/>
        Simple Bot Man
        <p>Simple bots response to commands and invoke services. Works well as stand-alone with services like Slack, Twilio, Discord, or simple announcement style bots.</p>
      </div>

      <div class="hookHolder botAgent">
        <h2 class="i18n">Bot Agent</h2>
        <br/>
        <p>Bot Agents are persistent bot processes that run continually and expect to maintain outgoing connections. Works well with services like IRC or Twitter Firehouse</p>
      </div>

    </div>
    <button id="create" name="create" type="submit" class="btn btn-primary i18n">
      Save and Continue
    </button>
  </form>

  <div class="codeEditor"></div>

  <!--
  <h3>Not sure how to get started? Here is a basic echo example below.</h3>

  <form method="GET" action="/examples/echo">
    <input tabindex="1" id="fork" name="fork" type="submit" value="Fork This Hook"/ class="btn">
  </form>

  <div data-gist="357645b8a17daeb17458">Loading...</div>
  -->
</div>
<script src="/js/jquery.croneditor.js" type="text/javascript"></script>
<script src="/js/jquery-ui.js"></script>
