<style>

#hookForm h1 {
  font-size: 42px;
  font-weight: 700;
}

#hookForm h2 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}

.smaller {
  font-size: 18px;
}

.cronRow .warning {
  font-size: 18px;
}

.warning {
  color: red;
}

.helpLang {
  display: none;
}

.cron-button {
    height: 16px;
    padding-left: 20px;
    margin-left: 5px;
    background-repeat: no-repeat; 
    background-position: center center; 
    cursor: pointer;
}
.cron-button-save {
    background-image: url('img/disk.png');
}
.cron-changed {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fdd;
}
.cron-controls {
    margin-left: 10px;
    color: #c77;
    font-size: 0.9em;
}
.cron-controls > span.cron-loading {
    background-image: url('img/loading.gif');
}

.languages {
  display: block;
}

/*
select {
  font-size: 32px;
  cursor: pointer;
}
*/

.routeHint {
  display: none;
}

.hookLinks {
  width: 100%;
  margin-top: 20px;
  background-color: white;
}
.hookLinks td {
  padding: 10px;
  margin: 10px;
}

.routeExamples {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border: solid;
  border-width: 1px;
}
.routeExamples td {
  padding: 10px;
  margin: 10px;
}
.left {
  width: 220px;
}

code {
  padding: 0px;
  margin: 0px;
}

label {
  cursor: hand;
}
.hookFrame {
  display: none;
}
/*
.error {
  background-color: red;
}
*/
/* do not group these rules */
.error::-webkit-input-placeholder {
    color: white;
}
.error*:-moz-placeholder {
    /* FF 4-18 */
    color: white;
}
.error*::-moz-placeholder {
    /* FF 19+ */
    color: white;
}
.error*:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

.securityHolder {
  background-color: #F5F5F5;
  border: 1px solid #E1E1E1;
  padding: 17px 17px 0px 17px;  
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.cronRow {
  display: none;
  background-color: #F5F5F5;
  border: 1px solid #E1E1E1;
  padding: 17px 17px 0px 17px;  
  padding-top: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.cronRow .tabs {
  font-size:16px;
}
.cronRow #clear {
  font-size:16px;
}

input[type="text"] {
  width: 100%;
  margin-right: 10px;
  padding-right: 10px;
}

input[type="checkbox"] {
  cursor: pointer;
}

#create {
  margin-top: 10px;
}

.hookTable td {
  font-size: 22px;
  font-weight: bold;
}

.hookTable td input {
  font-size: 22px;
  font-weight: normal;
}

.hookTable td span {
  margin-top: 10px;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 10px;
}

.tiny {
  font-size: 16px;
}

.themeRow {
  display: none;
  background-color: #F5F5F5;
  border: 1px solid #E1E1E1;
  padding: 17px 17px 0px 17px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.hookHolder {
  background-color: #F5F5F5;
  border: 1px solid #E1E1E1;
  padding: 17px 17px 0px 17px;  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-bottom: 30px;
}

.hookHolder .form-control {
  margin-bottom: 10px;
}

.hookHolder .form-group {
  margin-bottom: 10px;
}
.gistUrlHolder {
  padding-top: 10px;
  width: 100%;
  display: none;
}

.sourcesHolder {
  background-color: #F5F5F5;
  border: 1px solid #E1E1E1;
  padding: 17px 17px 0px 17px;  
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-bottom: 20px;
}
.sources {
  margin-bottom: 0px;
}

.cronDiv {
  width: 100%;
}

.codeEditorHolder {
  margin-bottom: 20px;
  background-color: #f5f5f5;
}
body .CodeMirror {
  height: 280px;
  box-shadow: none;
  font-size: 14px;
}
.sourceHeader {
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

body legend {
  border: none;
  padding: 0px;
  margin: 0px;
}

/*
.tiny .small-btn {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
}
.tiny .small-btn:hover {
  font-weight: bold;
}
*/

.codeEditorHolder .btn {
  width: 120px;
}

.btn {
  margin-top: 10px;
  width: 200px;
}

.btn:hover {
  font-weight: bold;
}

.mediumLink {
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
}


.hookFrame {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: monospace;
  height: 210px;
  color: black;
  border: solid;
  border-width: 1px;
  box-shadow: 10px 10px 5px #888888;
  display: none;
  padding: 10px;
  width: 100%;
}

.cronClear {
  margin-bottom: 10px;
}

.warnLanguages {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

</style>
<link href="{{appUrl}}/css/jquery-ui.css" rel="stylesheet">


<script type="text/javascript">

  var boot = {{hook}};

  var agreedToWarning = false;

  // client-side slugify
  // the server-side slugify code is much more robust covering much utf
  function slugify(text) {
    return text.toString().toLowerCase()
      .replace(/\s+/g, '-');           // Replace spaces with -
//      .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
//      .replace(/\-\-+/g, '-');         // Replace multiple - with single -
  }

  // lookup themes from curated theme list
  // TODO: Create "themes" resource and persist this to database
  // REMARK: WHY IS THIS NOT USING THEMES MODULE ?!?!
  var themes = {
    "debug": {
      "theme": "{{appUrl}}/themes/debug/index.html",
      "presenter": "{{appUrl}}/themes/debug/index.js"
    },
    "form": {
      "theme": "{{appUrl}}/themes/form/index.html",
      "presenter": "{{appUrl}}/themes/form/index.js"
    },
    "simple": {
      "theme": "{{appUrl}}/themes/simple/index.html",
      "presenter": "{{appUrl}}/themes/simple/index.js"
    },
    "simple-form": {
      "theme": "{{appUrl}}/themes/simple-form/index.html",
      "presenter": "{{appUrl}}/themes/simple-form/index.js"
    },
    "none": {
      "theme": "{{appUrl}}/themes/none/index.html",
      "presenter": "{{appUrl}}/themes/none/index.js"
    },
    "custom": {
      "theme": "",
      "presenter": ""
    }
  };

  function showCode () {
    $('.codeEditorHolder').show();
    $('.gistUrlHolder').hide();
    $('.CodeMirror').show();
    //$('#editorSource').attr('checked', 'CHECKED');
    editor.setCursor(0,0);
    //editor.focus();
    editor.refresh();
    $('.hookFrame').hide();
  };

  $(document).ready(function(){

    var deployingCode = false, snippetLoading = false;

    $('.hookFrame').on("load", function() {
      if (deployingCode) {
        //snippetLoaded();
        $('.CodeMirror').hide();
        $('.hookFrame').show();
        deployingCode = false;
      }
    });

    $('.codeButton').on('click', function(){
      showCode();
      return false;
    });

    $('#editorSource').on('click', function(){
      $('.gistUrlHolder').hide();
      $('.codeEditorHolder').show();
      editor.refresh();
    });

    $('#gistSource').on('click', function(){
      $('.codeEditorHolder').hide();
      $('.gistUrlHolder').show();
    });

    $('.cronDiv').croneditor();

    $('input[name="cronActive"]').click(function(){
      if($(this).prop('checked')) {
        $('.cronRow').show();
      } else {
        $('.cronRow').hide();
      }
    });

    function deployCode () {
      if (snippetLoading) {
        // do not attempt to deploy code if a new snippet is still loading...
        return false;
      }
      deployingCode = true;
      var now = new Date().getTime();
      $('#source').val(editor.getValue());
      $('.gatewayForm').submit();
      //    $('iframe').show();
      return false;
    };

    $('.testButton').on('click', function(){
      deployCode();
      return false;
    });

    $('.saveButton').on('click', function(){
    });

    $('#name').on('click', function(){
      $('#name').removeClass('error');
    });

    $('#hookForm').on('submit', function(){
      var name = $('#name').val();
      if (name.length === 0) {
        $('#name').addClass('error').focus();
        $('#name').attr('placeholder', 'name is required...')
        //alert('name required');
        return false;
      }
    });

    $('.routeTipsButton').on('click', function(){
      if ($('.routeHint').css('display') === "none") {
        $('.routeHint').show();
      } else {
        $('.routeHint').hide();
      }
      return false;
    });

    $('#name, #path').on('keyup', function(e){
      var v = $(this).val();
      var s = slugify($(this).val());
      if (v !== s) {
        $(this).addClass('error');
        $(this).val(s);
      } else {
        if(v.length !== 0) {
          $(this).removeClass('error');
        }
      }
      drawHookLinks();
      if (e.keyCode === 13) {
        $('#hookForm').submit();
      }
    });

    $('input[name="themeActive"]').click(function(){
      if($(this).prop('checked')) {
        $('.themeRow').show();
      } else {
        $('.themeRow').hide();
      }
    });

    var options = {
      effect: 'drops',
      effectOptions: {
        radius: 80,
        duration: 1500,
        width: 2,
        count: 3,
        delay: 100
      }
    };

    var p = $('#name').position();
    $('#name').focus();
    $('.themeSelect').change(function(e){
      var val = themes[$(this).val()];
      $('#theme').attr('value', val.theme);
      $('#presenter').attr('value', val.presenter);
    });

    /*
    $('#agreeWarning').on('click', function () {
      $('.warnLanguages').hide();
      $('#create').attr('disabled', null);
      agreedToWarning = true;
      return false;
    });
    */

    $('#language').change(function(e){

      /*
      if (!agreedToWarning) {
        $('.warnLanguages').show();
        $('#create').attr('disabled', 'DISABLED');
      }
      */

      var l = $('#language').val();
      $('.currentLanguage').html($( "#language option:selected" ).text());
      $('.currentLanguageShort').html($( "#language" ).val());
      if (l === "javascript") {
        $('#gist').attr('value', 'https://gist.github.com/Marak/357645b8a17daeb17458');
        //$('.helpLang').hide();
      } else {
        // TODO: better default gist values for non-javascript langauges
        $('#gist').attr('value', '');
        //$('.helpLang').show();
      }

      $('#gatewayForm').attr('action', '/Marak/gateway-' + l);

      // assume first file is source code
      // see: https://github.com/bigcompany/{{appName}}/issues/110
      var keys = Object.keys(boot.examples[l]);
      editor.setValue(boot.examples[l]['source']);
      $('#editorSource').click();
      //showCode();
      return false;
      //var val = themes[$(this).val()];
    });

    drawHookLinks();

    //$('.services').html(JSON.stringify(boot.examples));


  });


  function drawHookLinks () {
    var base = '{{appUrl}}/' + boot.owner;
    var name = $('#name').val();
    var path = $('#path').val();
    if(name.length === 0 && path.length === 0) {
      //$('.hookLinks .admin').html('');
      //return;
    }

    if (name.length === 0) {
      name = "hook-name";
    }

    $('.hookLinks .home').html(base + '/' + name + '');
    $('.hookLinks .admin').html(base + '/' + name + '/admin');
    $('.hookLinks .source').html(base + '/' + name + '/source');
    $('.hookLinks .logs').html(base + '/' + name + '/logs');

    if (path.length > 1) {
      $('.hookLinks .params').html(path);
    }

  };
  /*
  $('#cronString').keydown(function(){
    var job = new cron.CronTime($(this).val());
    var start = new Date();
    var next = job._getNextDateFrom(start);
    $('#estimateRun').val(next);
  });
  */
  
</script>


<!-- background-image: url('./img/node_turtle.png');background-repeat: none; -->
<div style="text-align:left;" class="container">
  <form id="hookForm" method="POST" action="/new" role="form" enctype="application/x-www-form-urlencoded">
    <legend><h1 class="i18n">Create New Service</h1></legend>

    <div class="gistStatus i18n">Hey there! We just created a new Gist on Github using your account: <a href=""  class="i18n">here</a><br/>
      <br/>
      The Gist will now be associated with the Hook service once you've completed this form.
    </div>

    <div class="hookHolder">
      <h2 class="i18n">Service Information</h2>
      <div class="form-group">
        <label for="name" class="i18n">Name</label>
        <input tabindex="1" class="form-control i18n" type="text" id="name" name="name" placeholder="name of hook..." size="40"/>
        <div class="tiny">
          <em class="hint">Will be part of the url to access the hook. Cannot contain non-url safe characters.</em>
        </div>
      </div>
      <div class="form-group">
        <label for="path" class="i18n">Route</label>
        <input tabindex="2" class="form-control i18n" type="text" id="path" name="path" placeholder="optional regex routing path..." size="40"/>
        <div class="tiny">
          <em class="hint">Optional Regular Expression route path for the service. Route parameters will merge with all query string and form parameters in the service handler's <code>Hook.params</code> scope. <a href="{{appUrl}}/docs#hook">Read More</a></em><br/>
          <button tabindex="3" type="button" class="routeTipsButton btn small-btn i18n">Route Formatting Help</button>
          
          <!--
          <div class="left button_set_plain button_margin">                  
            <div class="newsl_button">
              <button tabindex="3" type="button" class="routeTipsButton btn small-btn i18n"><span>Route Formatting Help</span></button>
            </div>
          </div>
          -->
        </div>

        <div class="tiny routeHint">
          <h4 class="i18n">Route Formatting</h4>
          <table class="routeExamples" border="1">
            <tr>
              <td><code>:name</code></td>
              <td class="i18n">a named parameter to capture from the route</td>
            </tr>
            <tr>
              <td><code>*splat</code></td>
              <td class="i18n">a wildcard splat to capture from the route</td>
            </tr>
            <tr>
              <td><code>()</code></td>
              <td class="i18n">Optional group that doesn't have to be part of the query. Can contain nested optional groups, params, and splats</td>
            </tr>
            <tr>
              <td><code>strings</code></td>
              <td class="i18n">Anything else. Interpolate static strings with params.</td>
            </tr>
          </table>

          <h4>Route Examples</h4>
          <div class="routeExamples">
            <code>
              /:id/create <br/>
              /some/(optional/):thing <br/>
              /users/:id/comments/:comment/rating/:rating <br/>
              /*a/foo/*b <br/>
              /books/*section/:title <br/>
            </code>
          </div>
        </div>

      </div>

      <div class="form-group">
        <label for="path" class="i18n">Service URLs</label>

        <div class="tiny">
          <em>The following URLs will be created to help manage the service.</em>
        </div>

        <table class="hookLinks" border="1">
          <tr>
            <td class="left"><strong class="i18n">Home</strong></td>
            <td class="home">{{appUrl}}/Marak/hook-name</td>
          </tr>
          <tr>
            <td><strong class="i18n">Optional Url Parameters</strong></td>
            <td class="params i18n">None</td>
          </tr>
          <tr>
            <td><strong class="i18n">Admin ( login required )</strong></td>
            <td class="admin">{{appUrl}}/Marak/hook-name/admin</td>
          </tr>
          <tr>
            <td><strong class="i18n">Source Code</strong></td>
            <td class="source">{{appUrl}}/Marak/hook-name/source</td>
          </tr>
          <tr>
            <td><strong class="i18n">Logs</strong></td>
            <td class="logs">{{appUrl}}/Marak/hook-name/logs</td>
          </tr>
          <!--
          <tr>
            <td>View</td>
            <td>http://{{appName}}/Marak/echo/view</td>
          </tr>
          <tr>
            <td>Presenter</td>
            <td>http://{{appName}}/Marak/echo/presenter</td>
          </tr>
          <tr>
            <td>Fork</td>
            <td>http://{{appName}}/Marak/echo/fork</td>
          </tr>
          -->
        </table>

      </div>
    </div>

    <div class="securityHolder">
      <h2 class="i18n">Service Security</h2>
      <!-- private / tokens -->
      <div class="form-group private">
        <label for="hookPublic">Public Service</label>
        <input tabindex="5" type="radio" value="false" class="hookPublic" id="hookPublic" name="isPrivate" title="Specify the source of the Hook from text editor">
        &nbsp;
        <label for="hookPrivate">Private Service</label>
        <input tabindex="4" type="radio" value="true" class="hookPrivate" id="hookPrivate" name="isPrivate" title="Specify the source of the Hook as a Github Gist">
        <div class="paidAccount">In order to enable private services, you must upgrade to a <a href="{{appUrl}}/pricing">paid account</a>.<br/></div>
        <p>A public service will be publicly indexed and available for anyone to access at anytime.</p>
        <p>A private service will be hidden and only allowed accessible through a <a href="{{appUrl}}/keys" target="_blank">role based key access credential</a>.</p>
      </div>
    </div>

    <div class="sourcesHolder">
      <h2 class="i18n">Hook Source</h2>

      <div class="services"></div>

      <div class="form-group languages">
        <!--
        <div class="languageTitle">
          <p><strong class="i18n">Programming Language:</strong> <span class="currentLanguage">JavaScript ( Recommended )</span></p>
        </div>
        -->
        <label class="smaller" for="language">Programming Language:</label>
        <select name="language" id="language">
          <option value="javascript">JavaScript ( Recommended )</option>
          <option value="es7">ECMAScript 7 ( Supported )</option>
          <option value="coffee-script">CoffeeScript ( Supported )</option>
          <option value="bash">Bash ( Experimental )</option>
          <option value="lua">Lua ( Experimental )</option>
          <option value="perl">Perl ( Experimental )</option>
          <option value="php">PHP ( Experimental )</option>
          <option value="python">Python ( Experimental )</option>
          <option value="python3">Python 3 ( Experimental )</option>
          <option value="ruby">Ruby ( Experimental )</option>
          <option value="scheme">Scheme ( Experimental )</option>
          <option value="smalltalk">SmallTalk ( Experimental )</option>
          <option value="tcl">Tcl ( Experimental )</option>
        </select>

        <!--
        <div class="warnLanguages">
          <h2 class="warning i18n">Warning</h2>
          <p>We have <a href="https://github.com/bigcompany/{{appName}}/issues/117" target="_blank">just recently added support</a> for additional languages outside of JavaScript.</p> 
          <p>By clicking "Agree to Terms", you acknowledge that using any language besides JavaScript on {{appName}} is currently considered EXPERIMENTAL.</p>
          <p>If you have any questions, find something that doesn't work, or have any feedback please <a href="{{appUrl}}/blog/new-multi-language-support" target="_blank">let us know</a>.</p>
          <button class="btn" id="agreeWarning">Agree to Terms</button>
        </div>
        <div class="helpLang">
          <a class="mediumLink" href="{{appUrl}}/blog/new-multi-language-support#seeking-developer-community-managers" target="_blank">Interested in making <span class="currentLanguageShort">language</span> work better on {{appName}}?</a>
        </div>
        -->

      </div>

      <div class="form-group sources">
        <label for="editorSource" class="i18n">Code Editor</label>
        <input tabindex="5" type="radio" checked="CHECKED" value="code" class="editorSource" id="editorSource" name="hookSource" title="Specify the source of the Hook from text editor">
        &nbsp;
        <label for="gistSource" class="i18n">Github Gist</label>
        <input tabindex="4" type="radio" value="gist" class="gistSource" id="gistSource" name="hookSource" title="Specify the source of the Hook as a Github Gist"><br/>
        <em class="tiny hint i18n">The source code to power the service. Can be provided as a Github Gist or as plain-text.</em>
      </div>

      <div class="form-group gistUrlHolder">
        <label for="gist" class="i18n">Gist Url</label>
        <input tabindex="6" type="text" class="form-control gist" name="gist" id="gist" placeholder="https://gist.github.com/Marak/357645b8a17daeb17458" value="https://gist.github.com/Marak/357645b8a17daeb17458" size="80">
        <div class="tiny" style="padding-left:5px;padding-top:5px;">
          <a class="i18n" href="https://gist.github.com/new" target="_blank" id="fork" name="fork" type="submit">Click here to create new Github Gist</a>
        </div>
      </div>

      <div class="form-group codeEditorHolder">

          <!-- Create a simple CodeMirror instance -->
          <link rel="stylesheet" href="{{appUrl}}/js/codemirror.css">
          <script src="{{appUrl}}/js/codemirror.js"></script>
          <script src="{{appUrl}}/js/javascript.js"></script>
          <script type="text/javascript">
          </script>
          <style>
            .CodeMirror {
              /* Set height, width, borders, and global font properties here */
              margin-top: 10px;
              margin-bottom: 10px;
              font-family: monospace;
              height: 500px;
              color: black;
              border: solid;
              border-width: 1px;
              box-shadow: 10px 10px 5px #888888;
            }
          </style>

            <button tabindex="7" type="button" class="testButton btn btn-primary">Test Code</button> <button type="button" class="codeButton btn">Edit Code</button> <br/>
            <textarea tabindex="8" name="codeEditor" class="codeEditor">
module['exports'] = function echoHttp (hook) {
  console.log(hook.params);
  console.log(hook.req.path);
  console.log(hook.req.method);
  console.log(hook.env);
  hook.res.end(JSON.stringify(hook.params, true, 2));
};</textarea>
            <script type="text/javascript">
              var editor;
              editor = CodeMirror.fromTextArea($('textarea').get(0), {
                lineNumbers: true
              });
              editor.refresh();
              //editor.show();
            </script>
          <iframe tabindex="9" name="hookFrame" class="hookFrame"></iframe>
        </div>
    </div>

    <!--
    <div class="form-group">
      <label for="status">Hook Status</label>
      <select class="form-control status" name="status">
        <option value="active">Active</option>
        <option value="disabled">Disabled</option>
      </select>
    </div>
    -->

    <div class="form-group">
      <input tabindex="10" type="checkbox" class="themeActive i18n" id="themeActive" name="themeActive" title="Themes are an easy way to customize the output of the Hook.">
      <label for="themeActive" class="i18n">Customize appearance of Service with a Theme</label>
    </div>

    <div class="themeSelector well themeRow"></div>

    <div class="form-group">
      <input tabindex="11" type="checkbox" class="cronActive i18n" id="cronActive" name="cronActive" title="If checked, the Hook will execute as a scheduled tasked based on provided Cron pattern.">
      <label for="cronActive" class="i18n">Schedule Service on a Timer using Cron</label>
    </div>

    <div class="form-group cronRow">
      <h2 class="i18n">Services can be scheduled on a timer</h2>

      <p class="i18n">All Services support the ability to schedule their execution based on a date time pattern.</p>
      <p class="superTiny i18n">We call this date time pattern a <a href="http://en.wikipedia.org/wiki/Cron#Format">Cron</a>.</p>
      <p class="superTiny i18n">By design, Crons will not pass any data into the Hook. If you need to pass data into the scheduled Hook, you can simply set default data in the Hook or chain two Hooks together to pipe the data.</p>
      <p><strong>Warning:</strong> We currently cannot provide any guarantees about Cron accuracy or reliability. If you require a high reliability timer, <a href="mailto:hookmaster@{{appName}}">please let us know</a>. </p>
      <h3 class="i18n">Cron Pattern</h3>
      <div class="cronDiv"></div>
    </div>
    <!-- 
    <div class="form-group">
      <input type="checkbox" class="isPublic" id="isPublic" name="isPublic" title="If checked, the Hook will be pubicly listed and other users will be able to search for it.">
      <label for="isPublic">Display Hook in public Hook registry</label>
    </div>
    -->
    <input tabindex="12" id="create" name="create" type="submit" value="Create new Service"/ class="btn i18n">
  </form>

  <form name="gatewayForm" id="gatewayForm" action="/marak/gateway-javascript" method="POST" target="hookFrame" class="gatewayForm">
      <input type="hidden" name="source" id="source"/>
  </form>

  <br/>

  <!--
  <h3>Not sure how to get started? Here is a basic echo example below.</h3>

  <form method="GET" action="/Marak/echo">
    <input tabindex="1" id="fork" name="fork" type="submit" value="Fork This Hook"/ class="btn">
  </form>

  <div data-gist="357645b8a17daeb17458">Loading...</div>
  -->
  <br/>
  <br/>
</div>
<script src="/js/jquery.croneditor.js" type="text/javascript"></script>
<script src="/js/jquery-ui.js"></script>
