<div style="font-size:22px;text-align:left;">
  <h1>Pricing</h1>
  <br/>
  <h2>Free to use! Pay what you choose pricing!</h2>
  <p>As an initial way to help fund this <a href="http://github.com/bigcompany/hook.io">100% open-source project</a>, we currently allow you to choose how much you want to pay each month.</p>
  <p>The more you choose to pay, the better we can make the service in the future.</p>
  <p>We appreciate you using the platform and hope that you will make the decision to help support hook.io with a paid account!</p>
  <form action="/billing" method="POST">
    <input
        type="submit"
        id="addPaymentMethod"
        class="well"
        value="Click to Add Payment Method"
        data-image="/img/pipe.gif"
        data-amount="500"
        data-currency="usd"
        data-name="hook.io hosting"
        data-description="1 Month Basic Hosting ($5.00)"
    />
  </form>
  <h2>Free Account Limitations</h2>
  <ul>
    <li>No Private Hooks</li>
    <li>Limited to 50 <a href="https://hook.io/logs">Log</a> entries per Hook</li>
    <li>Limited to 100 <a href="https://hook.io/datastore">Cloud Datastore</a> documents</li>
    <li>15 second time-out on all service requests</li>
  </ul>
  <br/>
  <h2>Paid Accounts</h2>
  <p>There are currently no specific technical limitations on paid accounts.</p> 
  <p>In the near future we will most likely apply limitations based on usage with the option to upgrade.</p>
  <p>Our goal is to maintain a fair and transparent pricing model which accurately charges users for their actual costs.</p>
    <p>
    <form action="/billing" method="POST">
      <input
          type="submit"
          id="addPaymentMethod"
          class="well"
          value="Click to Add Payment Method"
          data-image="/img/pipe.gif"
          data-amount="500"
          data-currency="usd"
          data-name="hook.io hosting"
          data-description="1 Month Basic Hosting ($5.00)"
      />
    </form>
    </p>
  <!--
  <h3>Dedicated Servers</h3>
  <p>Dedicated Servers start at $50.00 USD per month</p>
  <p>To request a dedicated server please <a href="/Marak/hook.io/dedicatedHostingSignup">fill out this form</a></p>
  <p>The public <a href="https://hook.io">https://hook.io</a> site operates a highly scalable highly distributed architecture. Incoming requests are intelligently load balanced over HTTP to our pool of awaiting hooks servers</p>
  
  <p>If you require a private dedicated server, we can load balance incoming Hook requests over DNS to your dedicated hook.io server. This offers higher overall performance and lower latencies.</p>
  <p>Basic Support and <strong>full SSH access is given to your dedicated machine</strong>.</p> 
  <p>Several zones are available. Operating system is Ubuntu 14.04 ( Trusty ).</p>
  -->
  <!--
  <h2>Disk Space</h2>
  <p>A small amount of disk space is available for hooks to read and write to using Node's fs module.</p>
  <p>This space should be considered temporary and not for use in storing files for any period of time.</p>
  -->
  <!--
  <br/>
  <h2>Usage Limitations</h2>

  <p>There are currently no specific technical limitations on usage.</p>

  <p>The basic hosting plan should be sufficient for most small to mid-size projects.</p>

  <p>If you are interested in hosting for larger projects please contact <a href="mailto:hookmaster@hook.io">hookmaster@hook.io</a></p>
</div>
  -->
  <br/>
  