<div style="font-size:22px;text-align:left;">
  <h1>Pricing</h1>
  <br/>
  <h2>Free for Developers</h2>
  <p>
    Accounts used for development purposes are free.</p> 
  <p>Currently there are no limitations on developer accounts, so have fun!</p>
  <p>In the future we will limit certain resources and production features for development accounts.
  </p>
  <br/>

  <h2>Basic</h2>
  <p>
    Basic Hook hosting starts at $5.00 USD per month. <!-- We accept Bitcoin, Peercoin, Litecoin and Dogecoin --></p>
  <!--
  <h3>Dedicated Servers</h3>
  <p>Dedicated Servers start at $50.00 USD per month</p>
  <p>To request a dedicated server please <a href="/Marak/hook.io/dedicatedHostingSignup">fill out this form</a></p>
  <p>The public <a href="http://hook.io">http://hook.io</a> site operates a highly scalable highly distributed architecture. Incoming requests are intelligently load balanced over HTTP to our pool of awaiting hooks servers</p>
  
  <p>If you require a private dedicated server, we can load balance incoming Hook requests over DNS to your dedicated hook.io server. This offers higher overall performance and lower latencies.</p>
  <p>Basic Support and <strong>full SSH access is given to your dedicated machine</strong>.</p> 
  <p>Several zones are available. Operating system is Ubuntu 14.04 ( Trusty ).</p>
  -->
  <br/>
  <h2>Disk Space</h2>
  <p>A small amount of disk space is available for hooks to read and write to using Node's fs module.</p>
  <p>This space should be considered temporary and not for use in storing files for any period of time.</p>

  <br/>
  <h2>Usage Limitations</h2>

  <p>There are currently no specific technical limitations on usage.</p>

  <p>The basic hosting plan should be sufficient for most small to mid-size projects.</p>

  <p>If you are interested in hosting for larger projects please contact <a href="mailto:hookmaster@hook.io">hookmaster@hook.io</a></p>
</div>

  <br/>

<br/>
<br/>