<div style="font-size:22px;text-align:left;">
  <h1>Referrals</h1>
  <div>
    Your referral link: <a class="referralLink" href="https://hook.io/{{username}}?s">https://hook.io/{{username}}?s</a>
  </div>
  <div>
   <a class="twitterLink" href="https://twitter.com/intent/tweet?text=I%27ve%20been%20using%20http%3A//hook.io/{{username}}%3Fs%20to%20host%20my%20%23webhooks%20and%20it%27s%20awesome%21%20%23microservices%20%23github&source=webclient">Click here to Tweet your referral link</a>
  </div>

  <div class="currentOffers">
    <h2>Current Referral Incentives</h2>
    <p>There are currently no active offers</p> 
    <p><strong>Have no fear!</strong> All referrals are always tracked and our <a href="{{appUrl}}/affiliates">affiliate program</a> gives our users a percentage of all revenue from their referrals.</p>
  </div>

  <h2>Your referrals</h2>
  <div class="referrals" style="font-size:22px">
    No referrals yet!
  </div>

</div>

<br/>
<br/>