<script type="text/javascript">
  $(document).ready(function(){
    $('.removeKey').click(function(){
      $(this).parent().parent().remove();
    });
    $('.addKey').click(function(){
      var _delete = '<a href="#remove" class="removeKey">X</a>';
      var _key = '<input name="key" type="text" value="' + "" + '" size="20"/>';
      var _value = '<input name="value" type="text" value="' + "" + '" size="60"/>';
      $('.env').append('<tr><td>' + _delete + '</td><td>' + _key + '</td><td>' + _value + '</td></tr>');
      $('.removeKey').click(function(){
        $(this).parent().parent().remove();
      });
    });
  });
</script>

<style>
 .env input {
   font-size:22px;
 }
 .env td {
   font-size:22px;
 }

</style>
<div>
  <h1>Roles</h1>
  <div class="container content">
    <p>Roles provide an easy way to restrict access to your {{appName}} services based on access keys.</p>

    <!-- ><p>Every <a href="{{appUrl}}/events">event</a> on {{appName}} is tracked as a role.</p> -->
    <p>Roles are assigned during <a href="{{appUrl}}/keys">API Access Key</a> creation, allowing granular role access checks per generated key.</p>
    <p>All <a href="{{appUrl}}/events">System Events</a> on {{appName}} have a one-to-one mapping to <a href="{{appUrl}}/roles">Roles</a>.</p>

    <h2><a href="{{appUrl}}/keys">Create a new API Access Key using these roles</a></h2>
    <h2>Available Roles</h2>
    <div class="availableRoles">
    </div>
  </div>
</div>

<br/>
