<style>
  .hooks {
    font-size: 1.5em;
    text-align: left;
  }
  .userBar {
    font-size: 28px;
    padding-bottom: 40px;
    text-align: left;
  }
  
  .userBar table {
    width: 100%;
    text-align: center;
    font-size: 22px;
    border: none;
  }

  .manageEnv {
    font-size: 28px;
  }
  .referrals {
    font-size: 28px;
  }
  .noHooks {
    font-size:22px;
  }
  .noResults {
    display: none;
  }
  .navBar {
    margin-bottom:0px;
  }
  .megaRow .mega-octicon {
    font-size: 64px;
    height: 64px;
    width: 64px;
  }
  .megaRow a {
    text-align: center;
  }
  #myInput {
      background-position: 10px 12px; /* Position the search icon */
      background-repeat: no-repeat; /* Do not repeat the icon image */
      width: 100%; /* Full-width */
      font-size: 16px; /* Increase font-size */
      padding: 12px 20px 12px 40px; /* Add some padding */
      border: 1px solid #ddd; /* Add a grey border */
      margin-bottom: 12px; /* Add some space below the input */
  }

  .hookReportHolder {
    font-size: 12px;
  }

  .subLink {
    font-size: 12px;
  }
  .tiny {
    font-size: 12px;
  }
  .medium {
    font-size: 18px;
  }
  
  th {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
  td {
    vertical-align: top;
    
  }
  .hookError {
    font-size: 14px;
  }
  .hookTimeoutError {
    font-size: 14px;
  }
  .message {
    font-size: 24px;
  }
</style>

<script type="text/javascript">
  $(document).ready(function(){
    $('#myInput').focus();
    $('.hookDelete').on('click', function () {
      var name = $(this).attr('data-name');
      var result = confirm('Are you certain you want to destroy:\n\n' + name);
      if (result) {
        return true;
      } else {
        return false;
      }
    });
  });
</script>

<script>
  function searchServices(ev) {

    // if esc key, return false and empty the box
    if (this.event.keyCode === 27) {
      $('#myInput').val('');
    }

    // Declare variables 
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("hooksTable");
    tr = table.getElementsByTagName("tr");

    var found = 0;
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
          found++;
        } else {
          tr[i].style.display = "none";
        }
      } 
    }
    if (found === 0) {
      // $('.searchKeyword').html(input);
      //$('.noResults').show();
      //$('#hooksTable').hide();
    } else {
      //$('.noResults').hide();
      //$('#hooksTable').show();
    }
  }
</script>

<br/>
<div class="blog-area">

  <div class="container">
  <div class="navBar">
    <p class="hint">Hint: You can quickly jump to platform features by name using the search bar at the top of the page. For example: domains</p>
    <div class="userBar">
      <table>
        <tr class="megaRow" valign="center">
          <td align="left">
          <a href="{{appUrl}}/new" title="Create New Hook"><span class="mega-octicon octicon-plus"></span></a>
          <a href="{{appUrl}}/env" title="Manage Enviroment Variables"><span class="mega-octicon octicon-settings"></span></a>
          <a href="{{appUrl}}/logs" title="Logs"><span class="mega-octicon octicon-list-ordered"></span></a>

          <a href="{{appUrl}}/datastore" title="Datastore"><span class="mega-octicon octicon-database"></span></a>

          <a href="{{appUrl}}/files" title="Files"><span class="mega-octicon octicon-file-directory"></span></a>

          <a href="{{appUrl}}/keys" title="Keys"><span class="mega-octicon octicon-key"></span></a>
          <a href="{{appUrl}}/domains" title="Manage Domains and Subdomains"><span class="mega-octicon octicon-globe"></span></a>

          <a href="{{appUrl}}/events" title="Events"><span class="mega-octicon octicon-pulse"></span></a>

          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="message"></div>

  <div class="searchServices">
    <label for="myInput" class="mega-octicon octicon-search" style="float:left;position:relative;top:40px;left:5px;"></label>
    <input type="text" id="myInput" onkeyup="searchServices()" placeholder="Filter by service name...">
  </div>
  <div class="noHooks">
    <h2>It looks like you haven't created any Services yet!</h2>
    <p>You can Create a new Service by clicking <a href="{{appUrl}}/new" title="Create New Hook"><span class="mega-octicon octicon-plus"></span></a></p>
  </div>
  <div class="noResults">
    <h2>No results found for: <span class="searchKeyword"></span></h2>
  </div>
  <table class="hooks table" id="hooksTable">
    <tr>
      <th class="col-md-5 tiny" style="text-align:left;">Name</th>
      <th class="col-md-1 tiny">Monthly</th>
      <th class="col-md-1 tiny">Time</th>
      <th class="col-md-1 tiny">Running</th>
      <th class="col-md-1">&nbsp;</th>
      <th class="col-md-1">&nbsp;</th>
      <th class="col-md-1">&nbsp;</th>
      <th class="col-md-1">&nbsp;</th>
    </tr>

    <tr class="hookTemplate">
      <td class="col-md-5">
        <span title="Private Service / Restricted Access" class="privateHook octicon octicon-lock"></span> <a class="hookName" title="Hook Admin" href="/examples/echo/admin">echo</a>
        <!-- Total Hits: <span class="hookTotalHits">0</span> -->
        <div class="tiny">
          <strong>Last Run:</strong> <span class="hookLastStart">n/a</span> &nbsp;
          <strong>Status Code</strong> <span class="hookStatus tiny"><span class="hookStatusCode">n/a</span></span>
        </div>
        <div class="hookError error"><strong>Error:</strong> Hook last returned 500 error code status. <br/><a class="hookLogs" href="">Click here to view error logs</a></div>
        <div class="hookTimeoutError error"><strong>Error:</strong> Hook is exceeding maximum timeout limitations, this is bad.<br/> <span class="timeoutMessage">Please check service to ensure it is ending the response in time.</span> <br/></div>

      </td>
      <td class="col-md-1 medium" align="center">
       <span class="hookMonthlyHits">0</span>
      </td>
      <td class="col-md-1 medium" align="center">
        <span class="hookLastTime">n/a</span>
      </td>
      <td class="col-md-1 medium" align="center">
        <span class="hookRunning">0</span>
      </td>
      <td class="col-md-1" align="center">
        <a target="_blank" class="hookAdmin" title="Run Hook" href="/examples/echo"><span class="mega-octicon octicon-gear"></span><div class="subLink">admin</div></a>
      </td>
      <td class="col-md-1" align="center">
        <a target="_blank"  class="runLink" title="Run Hook" href="/examples/echo"><span class="mega-octicon octicon-triangle-right"></span><div class="subLink">run</div></a>
      </td>
      <td class="col-md-1" align="center">
        <a target="_blank"  class="hookLogs" title="View Logs" href="/examples/echo/logs"><span class="mega-octicon octicon-list-ordered"></span><div class="subLink">logs</div></a>
      </td>
      <td class="col-md-1" align="center">
        <a class="hookDelete" title="Delete Hook" data-name="marak/echo" href="/examples/echo/delete"><span class="mega-octicon octicon-trashcan"></span><div class="subLink">delete</div></a>
      </td>
    </tr>

  </table>
</div>
</div>
<br/>
<br/>
<br/>