<div align="left">
  <h1>SSL / HTTPS</h1>
  <div class="container content">
    <p>Currently, <code>HTTPS</code> is supported on {{appName}} through a single shared <code>SSL</code> certificate.</p>
    <p>All URLs and services on the site are available over <code>HTTPS</code></p>
    <p>If you require a custom <code>SSL</code> certificate for your microservices, please contact <a href="mailto:hookmaster@{{appName}}">hookmaster@{{appName}}</a></p>
    <p>If you have questions about encryption or security please <a href="mailto:hookmaster@{{appName}}">email us</a> or file a <a href="{{appUrl}}/wishlist">support request issue</a>.
  </div>
</div>