<script type="text/javascript">
  $(document).ready(function(){
    $('.githubSocialButtonsStats').html('<h2>Github Followers</h2><iframe src="https://ghbtns.com/github-btn.html?user=bigcompany&repo=hook.io&type=star&count=true&size=large&v=2" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>\
    <h2>Community Forks</h2>\
    <iframe src="https://ghbtns.com/github-btn.html?user=bigcompany&repo=hook.io&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>');
  });

  function checkStats () {
    // TODO: add real-time info for other metrics
    $.get('/metrics/hook/totalHits', function(res){
      $('.totalRun').html(numberWithCommas(res.toString()));
      setTimeout(checkStats, 1000);
    });
  };

  function numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  checkStats();

</script>

<div>
  <h1>Site Statistics</h1>
  <div align="left" style="font-size:22px;" class="container content">
    <span class="totalRun">1</span> <strong>hooks executed</strong> <br/>
    <span class="activeServices">1</span> <strong>active hooks</strong><br/>
    <span class="activeUsers">1</span> <strong>active users</strong>  <br/><br/>
    <div class="githubSocialButtonsStats"></div>
  </div>
</dv>