<div>
  <h1>Webhooks</h1>
  <div class="container content">
    <p>{{appName}} is the ideal place to host Webhooks.</p>
    <p>Our platform fully supports multiple programming languages, and all the features you may need while building custom HTTP Webhooks.</p>
    <h2><a href="{{appUrl}}/faq">Frequently Asked Questions</h2>
    <p>New to Webhooks? The FAQ is the perfect place to start.</p> 
    <h2><a href="{{appUrl}}/editor">Interactive Webhook Playground</h2>
    <p>Want to start playing with live code, check out the playground!</p> 
    <h2><a href="{{appUrl}}/new">Create new Webhook</a></h2>
    <p>Ready to immediately deploy your first Webhook? Create a new Webhook service instantly!</p>
  </div>
</div>