<div class="" align="left">
  <h1>Websockets</h1>
  <div class="container">
  <p>All {{appName}} Services have the ability to receive JSON data over a Websocket connection.</p>
  
  <p>{{appName}} will hold the Websocket connection, attempting to parse any incoming messages as JSON and forward them to the hook microservice.</p>
  <p>If a string or non-JSON message is received, {{appName}} will simply pass the data to the service as <code>hook.params.body</code></p>
  <p>Any Websocket client will work, including the browser.</p>
  <p>Below is an example of using the <a href="https://github.com/websockets/wscat">wscat</a> tool to connect to a {{appName}} service over a Websocket connection to send and receive data.</p>
  <h3>Example</h3>
  <p><code>wscat -c ws://{{appName}}/marak/echo</code></p>
  <img src="/img/wscat.png"></img>
  <br/>
  <br/>
  <p>
    Currently, {{appName}} Websockets can only receive data as text or JSON messages.</p><p> In the near future, we will most likely add support for streaming binary data over Websocket with the ability to perform transforms on the data stream.
  </p>
  <p>Remember, you can still perform streaming transformations of binary data using the regular HTTP API:</p>
  <code>echo "foo" | curl --header "content-type: application/octet-stream"  --data-binary @- http://{{appName}}/marak/transform</code><br/>
  </p>
  <br/>
  <br/>
</div>
</div>