<div class="container content" style="width:80%;" align="center">
  <h1>Feature Wishlist</h1>
  <h2><a href="#" onclick="_urq.push(['Feedback_Open']);">Click Here to Request a Feature</a></h2>
  <script type="text/javascript">
  var _urq = _urq || [];
  _urq.push(['initSite', 'a000f697-f186-4b93-8d51-18d3fac54aa3']);
  (function() {
  var ur = document.createElement('script'); ur.type = 'text/javascript'; ur.async = true;
  ur.src = ('https:' == document.location.protocol ? 'https://cdn.userreport.com/userreport.js' : 'http://cdn.userreport.com/userreport.js');
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ur, s);
  })();

  $(document).ready(function(){

    $(document).on('keyup', function(e) {
      // esc key to close popup window
      if (e.keyCode === 27)  {
        _urq.push(['Feedback_Close']);
      }
    });

    var intr = setInterval(function(){
      if ($('iframe').length > 0) {
        clearTimeout(intr);
        setTimeout(function(){
          _urq.push(['Feedback_Open']);
        }, 200);
      }
    }, 50)
    
  });



  </script>
</div>
